pkgbase = cockroachdb-bin
	pkgdesc = Cloud-native, distributed SQL database
	pkgver = 25.4.1
	pkgrel = 1
	url = https://www.cockroachlabs.com
	arch = x86_64
	license = LicenseRef-CockroachDB
	makedepends = patchelf
	depends = glibc
	depends = sh
	provides = cockroachdb
	conflicts = cockroachdb
	options = !debug
	backup = etc/default/cockroach
	source = cockroachdb-25.4.1.tar.gz::https://binaries.cockroachdb.com/cockroach-v25.4.1.linux-amd64.tgz
	source = cockroachdb-25.4.1-LICENSE.txt::https://github.com/cockroachdb/cockroach/raw/v25.4.1/LICENSE
	sha256sums = 37322c51372dffb661e5721352345d61a0be274cdd357da142d696d8f5ea81e0
	sha256sums = cb4f34a516b09ec1815bd8376a34de7ea5e6da06c70bed756110943ad1b340e4

pkgname = cockroachdb-bin
