pkgbase = protonplus
	pkgdesc = A simple Wine and Proton-based compatiblity tools manager for GNOME
	pkgver = 0.4.25
	pkgrel = 1
	url = https://github.com/Vysp3r/ProtonPlus
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = appstream-glib
	makedepends = meson
	makedepends = vala
	depends = libadwaita
	depends = libarchive
	depends = libgee
	source = protonplus-0.4.25.tar.gz::https://github.com/Vysp3r/ProtonPlus/archive/refs/tags/v0.4.25.tar.gz
	sha256sums = 9dd61c836735f693b9e2dd401c04f5dda3f9c0f24dffd2854b7c8c2b7b45b776

pkgname = protonplus
