pkgbase = mullvad-browser-bin
	pkgdesc = Privacy-focused web browser developed by Mullvad VPN and the Tor Project
	pkgver = 15.0.1
	pkgrel = 2
	url = https://mullvad.net/en/browser
	changelog = mullvad-browser.changelog
	arch = x86_64
	license = MPL-2.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg4.4
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxrandr
	depends = libxrender
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulse-native-provider: Sound support when using PipeWire or PulseAudio
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	provides = mullvad-browser=15.0.1
	provides = mullvad-browser
	conflicts = mullvad-browser
	source = https://github.com/mullvad/mullvad-browser/releases/download/15.0.1/mullvad-browser-linux-x86_64-15.0.1.tar.xz
	source = https://github.com/mullvad/mullvad-browser/releases/download/15.0.1/mullvad-browser-linux-x86_64-15.0.1.tar.xz.asc
	source = mullvad-browser.sh
	source = mullvad-browser.desktop
	validpgpkeys = EF6E286DDA85EA2A4BA7DE684E2C6E8793298290
	sha256sums = c674a2fb48b9c86feca68ac78fe9089b7f5b139292a68068a050a94dc3df5e20
	sha256sums = SKIP
	sha256sums = 9e1a8b33705972bd372be3af3bdf3039297e6d568e53dcf2e3da03f6f2f2aadd
	sha256sums = 9bb24b8e210112b1222d028285c6d68ab599f8382b2b108ab69284948bb4ac70

pkgname = mullvad-browser-bin
