pkgbase = biome
	pkgdesc = Formatter, linter, and more for Javascript, Typescript, JSON, and CSS
	pkgver = 1.9.3
	pkgrel = 1
	url = https://biomejs.dev
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	replaces = rome
	source = https://github.com/biomejs/biome/archive/cli/v1.9.3/biome-cli-v1.9.3.tar.gz
	sha256sums = 031326783e528b18b3e6545cb7f8585342cfeae34ff0c15db146d32257bf5fcd

pkgname = biome
