pkgbase = mailspring
	pkgdesc = A beautiful and fast mail client
	pkgver = 1.25.0
	pkgrel = 1
	url = https://github.com/Foundry376/Mailspring
	arch = x86_64
	license = GPL-3.0-only
	makedepends = git
	makedepends = nvm
	makedepends = python
	makedepends = patchelf
	depends = db5.3
	depends = gnome-keyring
	source = mailspring::git+https://github.com/Foundry376/Mailspring.git#tag=1.25.0
	sha256sums = 791ff3e66d54e363def5f34db4371f6334ca9d50939e61db03f5df03c9121720

pkgname = mailspring
	depends = db5.3
	depends = gnome-keyring
	depends = electron
