pkgbase = goverlay-git
	pkgdesc = A GUI to help manage Vulkan/OpenGL overlays
	pkgver = 1.8.2.r56.g753bbc3
	pkgrel = 1
	url = https://github.com/benjamimgois/goverlay
	arch = x86_64
	license = GPL-3.0-or-later
	checkdepends = appstream
	makedepends = desktop-file-utils
	makedepends = git
	makedepends = lazarus
	depends = 7zip
	depends = coreutils
	depends = curl
	depends = fontconfig
	depends = git
	depends = glu
	depends = libgit2
	depends = libnotify
	depends = mangohud
	depends = mesa-utils
	depends = pciutils
	depends = polkit
	depends = qt6pas
	depends = sdl2-compat
	depends = ttf-font-nerd
	optdepends = gamemode: Feral GameMode daemon for CPU/GPU optimisation
	optdepends = protontricks: Required for Wine prefix manager
	optdepends = vkbasalt: Vulkan post-processing effects
	optdepends = vksumi: Color grading Vulkan layer
	optdepends = zenergy-dkms: Displays AMD CPU power metrics
	optdepends = zenity: FGMod GUI
	provides = goverlay
	provides = pascube
	conflicts = goverlay
	conflicts = pascube
	source = git+https://github.com/benjamimgois/goverlay.git
	sha256sums = SKIP

pkgname = goverlay-git
