pkgbase = aurutils
	pkgdesc = helper tools for the arch user repository
	pkgver = 20.4
	pkgrel = 1
	url = https://github.com/AladW/aurutils
	install = aurutils.install
	changelog = aurutils.changelog
	arch = any
	license = ISC
	depends = git
	depends = pacutils
	depends = curl
	depends = perl
	depends = perl-json-xs
	depends = bash
	optdepends = bash-completion: bash completion
	optdepends = zsh: zsh completion
	optdepends = devtools: aur-chroot
	optdepends = vifm: default pager
	optdepends = ninja: aur-sync ninja support
	optdepends = bat: view-delta example script
	optdepends = git-delta: view-delta example script
	optdepends = python-srcinfo: sync-rebuild example script
	source = aurutils-20.4.tar.gz::https://github.com/AladW/aurutils/archive/refs/tags/20.4.tar.gz
	sha256sums = 593d0cd006e42ca6f5acacfdfaca0a26a159d645aaa32a1523d4e48cb4e91f3b

pkgname = aurutils
