pkgbase = boxbuddy
	pkgdesc = A Graphical Interface for Distrobox
	pkgver = 2.5.4
	pkgrel = 1
	url = https://www.dvlv.co.uk/BoxBuddyRS
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = distrobox
	depends = libadwaita
	source = boxbuddy-2.5.4.tar.gz::https://github.com/Dvlv/BoxBuddyRS/archive/refs/tags/2.5.4.tar.gz
	sha256sums = 163ccd8349c60c353276f2e4661aa31296854f46ff099eeef75ec8474265c63b

pkgname = boxbuddy
