pkgbase = google-messages
	pkgdesc = A native-like OS X, Windows, & Linux desktop app for Google Messages
	pkgver = 1.4.2
	pkgrel = 2
	url = https://www.messagesfordesktop.com/
	arch = x86_64
	license = custom
	makedepends = nodejs-nativefier
	source = google-messages.png::https://raw.githubusercontent.com/kelyvin/Google-Messages-For-Desktop/v1.4.0/android-messages-logo.png
	source = google-messages.desktop
	source = google-messages-linux.zip::https://github.com/kelyvin/Google-Messages-For-Desktop/releases/download/v1.4.2/google-messages-linux_v1.4.2.zip
	sha256sums = 3c938c748fbef4cdd72e638b26aa35f3e2da8045a0c5490ede8b6ef5603f1b2c
	sha256sums = 6909e255521af089883f18740fc91c7743897c99d4ece0784b969cea5bc480ae
	sha256sums = 204112783720e2428ec0ad78ebd9f95f30bf9c77959d4ebd6232be30da98970a

pkgname = google-messages
