pkgbase = python-hwdata
	pkgdesc = Python bindings to hwdata
	pkgver = 2.4.3
	pkgrel = 1
	url = https://github.com/xsuchy/python-hwdata
	arch = any
	license = GPL-2.0-or-later
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = hwdata
	depends = python
	source = https://github.com/xsuchy/python-hwdata/archive/refs/tags/python-hwdata-2.4.3-1.tar.gz
	sha256sums = f74bff7c42407413ed97a2f887496acfcc3b951aa480bfcd2857992bebeb007c

pkgname = python-hwdata
