pkgbase = discord-ptb
	pkgdesc = All-in-one voice and text chat for gamers - public test build
	pkgver = 1.0.217
	pkgrel = 1
	url = https://discord.com
	arch = x86_64
	license = custom
	optdepends = libpulse: PulseAudio support
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = xdg-utils: For opening URLs and files
	options = !debug
	options = !strip
	source = https://dl-ptb.discordapp.net/apps/linux/1.0.217/discord-ptb-1.0.217.tar.gz
	source = LICENSE-1.0.217.html::https://discordapp.com/terms
	source = OSS-LICENSES-1.0.217.html::https://discordapp.com/licenses
	sha512sums = 4ed93e21c56554205bf5fa900be17a1c4be7403cfcfee439a8847f4ee2e2f290d36a3cc0ce60dc035e3f4de412769168e48978384836ac15dbe87fb00f09d256
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = discord-ptb
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
