pkgbase = discord-ptb
	pkgdesc = All-in-one voice and text chat for gamers - public test build
	pkgver = 0.0.132
	pkgrel = 1
	url = https://discordapp.com
	arch = x86_64
	license = custom
	depends = libnotify
	depends = libxss
	depends = nspr
	depends = nss
	depends = gtk3
	optdepends = libpulse: Pulseaudio support
	optdepends = xdg-utils: Open files
	optdepends = noto-fonts-cjk: Font for special characters such as /shrug face
	optdepends = emoji-font: Fonts for emoji support
	options = !strip
	source = https://dl-ptb.discordapp.net/apps/linux/0.0.132/discord-ptb-0.0.132.tar.gz
	source = LICENSE.html::https://discordapp.com/terms
	source = OSS-LICENSES.html::https://discordapp.com/licenses
	sha512sums = 60413545f0b6944fa9813facda4904f8bfd4f4f5a668992133d28fb2a1bd4b60032d22db46c7e69d93beb33bd4d1bdd998051e3edab5d77a3d8c0ce57aadba10
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = discord-ptb
