pkgbase = trayscale
	pkgdesc = An unofficial GUI wrapper for the Tailscale CLI client.
	pkgver = 0.12.3
	pkgrel = 1
	url = https://github.com/DeedleFake/trayscale
	arch = i686
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go>=2:1.21.0
	makedepends = gobject-introspection
	depends = gtk4
	depends = libadwaita>=1:1.2
	optdepends = tailscale: provides daemon that manages connection
	provides = trayscale
	source = https://github.com/DeedleFake/trayscale/archive/refs/tags/v0.12.3.tar.gz
	sha256sums = 27030c2dc4cdcbc9fc2397c5b889a3a7912094fe0a92d54a8fe7cfc7b50e229c

pkgname = trayscale
