pkgbase = albert
	pkgdesc = A sophisticated standalone keyboard launcher
	pkgver = 0.25.0
	pkgrel = 1
	url = https://github.com/albertlauncher
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = libqalculate
	makedepends = pybind11
	makedepends = python
	makedepends = qt6-tools
	depends = hicolor-icon-theme
	depends = qt6-5compat
	depends = qt6-declarative
	depends = qt6-scxml
	depends = qt6-shadertools
	depends = qt6-svg
	optdepends = ddgr: duckduckgo search plugin
	optdepends = libarchive: documentation plugin
	optdepends = libqalculate: calculator plugin
	optdepends = python: python extension
	optdepends = python-docker: docker plugin
	optdepends = python-googletrans: google translate plugin
	optdepends = python-pylatexenc: TeX plugin
	optdepends = python-syncthing: syncthing plugin
	optdepends = python-urllib3: python web plugins
	optdepends = python-virtualbox: virtualbox plugin
	source = https://github.com/albertlauncher/albert/releases/download/v0.25.0/v0.25.0.tar.gz
	sha512sums = ed399f06db1de03ca545a2249c8c4b6d1dbd1832b72e965a1056390a764fd82a3fd90b21f890394006f0ab143da50ddd622d7bf9bdd1d83adedc563aac37102b

pkgname = albert
