pkgbase = material-maker-bin
	pkgdesc = A tool for procedural texture generation and 3D model painting
	pkgver = 1.3
	pkgrel = 1
	url = https://rodzilla.itch.io/material-maker
	arch = x86_64
	license = MIT
	depends = libxi
	depends = libxrandr
	depends = libglvnd
	depends = libxcursor
	depends = libxinerama
	depends = hicolor-icon-theme
	provides = material-maker
	conflicts = material-maker
	conflicts = material-maker-git
	options = !strip
	source = https://github.com/RodZill4/material-maker/releases/download/1.3/material_maker_1_3_linux.tar.gz
	source = io.github.RodZill4.Material-Maker.appdata.xml
	source = io.github.RodZill4.Material-Maker.desktop
	source = material-maker.png
	source = LICENSE
	sha256sums = 63cf99c17cb7cea9ecc6aa9a65e560152c4bce6524abeac1cdbabcb440dcf3f8
	sha256sums = c72aed729d9a8caaaa9667f75cf17d8de0335a736cdef904752bd9cf3fc328a9
	sha256sums = 381e6425233d0aa3786c5583a2415d0d20b828481fa93dceac1e4376481d1330
	sha256sums = 72ee1a0fc59b798b8849eb9bd0cb7b67fd9ee3ff41645f90c2ca98168f3619ef
	sha256sums = 0ff2b25dde96c859b63e35b9133b7d3395a901eef281cfbd73a19093b9beefa6

pkgname = material-maker-bin
