pkgbase = stremio
	pkgdesc = A one-stop hub for video content aggregation (Movies, TV shows, series, live television or web channels)
	pkgver = 4.4.169
	pkgrel = 1
	url = https://www.stremio.com/
	arch = x86_64
	license = GPL-3.0-only
	makedepends = cmake
	makedepends = git
	makedepends = librsvg
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	depends = mpv
	depends = nodejs
	depends = openssl
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-webengine
	depends = qt5-quickcontrols
	depends = qt5-quickcontrols2
	depends = qt5-translations
	depends = qt5-webchannel
	source = git+https://github.com/Stremio/stremio-shell.git#tag=v4.4.169
	source = git+https://github.com/Ivshti/libmpv.git
	source = git+https://github.com/itay-grudev/SingleApplication.git
	source = git+https://github.com/Ivshti/razerchroma.git
	source = stremio-4.4.169-server.js::https://dl.strem.io/four/v4.4.169/server.js
	source = stremio-4.4.169-stremio.asar::https://dl.strem.io/four/v4.4.169/stremio.asar
	source = 010-stremio-do-not-download-server-js.patch
	sha256sums = de7209be7fc86e998264d9c2bd4fa65d5c9a737cb1da9c91de4bf654ea1fb85d
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = e502ae545fc74bf6c49dda910842aaf229b2a1e314924481ec06bf911d459753
	sha256sums = fb0e8d2c95f021e3504643cd63be6125a63c2d5910aa564e04e9324623a263ce
	sha256sums = b5eff88b30d8c6030e36ca4949ebf6ff9515efbedc0b9bc748110cd1fbc0671a

pkgname = stremio
