pkgbase = plasma6-applets-kurve
	pkgdesc = Audio visualizer widget powered by CAVA for the KDE Plasma Desktop
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/luisbocanegra/kurve
	arch = any
	license = GPL-3.0-or-later
	makedepends = gcc
	makedepends = extra-cmake-modules
	makedepends = gettext
	depends = libplasma
	depends = cava
	depends = python
	depends = python-websockets
	depends = qt6-websockets
	source = kurve-3.2.0.tar.gz::https://github.com/luisbocanegra/kurve/archive/v3.2.0/kurve-3.2.0.tar.gz
	sha256sums = fa63720b98c64c506e807206de1eab1922232052db67e3fef9b75fd0aff6b8f0

pkgname = plasma6-applets-kurve
