pkgbase = ferdium-nightly-bin
	pkgdesc = A messaging browser that allows you to combine your favorite messaging services into one application (nightly binary release).
	pkgver = 6.7.8.nightly.6
	pkgrel = 2
	url = https://ferdium.org
	arch = x86_64
	arch = armv7l
	arch = aarch64
	license = Apache
	makedepends = asar
	depends = nss
	depends = atk
	depends = at-spi2-atk
	depends = libcups
	depends = libdrm
	depends = gdk-pixbuf2
	depends = gtk3
	depends = alsa-lib
	depends = c-ares
	depends = ffmpeg
	depends = libevent
	depends = libxkbfile
	depends = libxslt
	depends = minizip
	depends = re2
	depends = electron32
	provides = ferdium
	conflicts = ferdium
	conflicts = ferdium-bin
	conflicts = ferdium-nightly
	conflicts = ferdium-beta-bin
	conflicts = ferdium-beta
	conflicts = ferdium-git
	conflicts = ferdium-electron
	options = !strip
	options = !debug
	source_x86_64 = ferdium-nightly-bin-6.7.8-nightly.6-2-amd64.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.8-nightly.6/Ferdium-linux-6.7.8-nightly.6-amd64.deb
	sha512sums_x86_64 = c10e1c63ed023e17e82c9f680dcbaf29c1412c54621012f78941d07dd3df78709d72558978341435f304e5e7f0101976a87469b9668d9371887c689b25ab3f71
	source_armv7l = ferdium-nightly-bin-6.7.8-nightly.6-2-armv7l.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.8-nightly.6/Ferdium-linux-6.7.8-nightly.6-armv7l.deb
	sha512sums_armv7l = 4761f2a2cc49c78299bae0298de9567640600576312857fcdb64f68d1017ca86057656f0347985d4fb0646cca9717a66eb9a60248e332e4c257f7f9a31fcfd18
	source_aarch64 = ferdium-nightly-bin-6.7.8-nightly.6-2-arm64.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.8-nightly.6/Ferdium-linux-6.7.8-nightly.6-arm64.deb
	sha512sums_aarch64 = 6e007bda703a3f56d65a0b46011ade024c1b9fd18fa501cf91b1fe5cebf9cfe6a400452214c1237b78079059bd4147c67285a2725d0d1adde8788721c47cdeb3

pkgname = ferdium-nightly-bin
