pkgbase = ferdium-nightly-bin
	pkgdesc = A messaging browser that allows you to combine your favorite messaging services into one application (nightly binary release).
	pkgver = 7.1.1.nightly.4
	pkgrel = 1
	url = https://ferdium.org
	arch = x86_64
	arch = armv7l
	arch = aarch64
	license = Apache
	makedepends = asar
	depends = nss
	depends = atk
	depends = at-spi2-atk
	depends = libcups
	depends = libdrm
	depends = gdk-pixbuf2
	depends = gtk3
	depends = alsa-lib
	depends = c-ares
	depends = ffmpeg
	depends = libevent
	depends = libxkbfile
	depends = libxslt
	depends = minizip
	depends = re2
	depends = electron35
	provides = ferdium
	conflicts = ferdium
	conflicts = ferdium-bin
	conflicts = ferdium-nightly
	conflicts = ferdium-beta-bin
	conflicts = ferdium-beta
	conflicts = ferdium-git
	conflicts = ferdium-electron
	options = !strip
	options = !debug
	source_x86_64 = ferdium-nightly-bin-7.1.1-nightly.4-1-amd64.zip::https://github.com/ferdium/ferdium-app/releases/download/v7.1.1-nightly.4/Ferdium-linux-7.1.1-nightly.4-amd64.deb
	sha512sums_x86_64 = b77f320a328e7abc400b9e5d916a4c8a6ab72e0afab0f4192958912f6045eeb3bd716fffc8a3a3090df27c99b8ed8ea0dfdead9c3f5db77ac362d33e231dca16
	source_armv7l = ferdium-nightly-bin-7.1.1-nightly.4-1-armv7l.zip::https://github.com/ferdium/ferdium-app/releases/download/v7.1.1-nightly.4/Ferdium-linux-7.1.1-nightly.4-armv7l.deb
	sha512sums_armv7l = 3ac8a58992a8b17a5cbf9d2e8ce00c9d39e3b1dd48bfa1ea038e6342b440301f18873216069534f01bce5435fd77c8a41ac968822dcce710d9064d3f304f8d8a
	source_aarch64 = ferdium-nightly-bin-7.1.1-nightly.4-1-arm64.zip::https://github.com/ferdium/ferdium-app/releases/download/v7.1.1-nightly.4/Ferdium-linux-7.1.1-nightly.4-arm64.deb
	sha512sums_aarch64 = b9e994234735504e41ec2037c8116d0b28d9bab96bbbb8ba32f8ec2a78809b4aa238f13b3b540b5eafa732888f0a9ed93f97755088a02c5d04ce9f1fa1fe53ed

pkgname = ferdium-nightly-bin
