pkgbase = ferdium-nightly-bin
	pkgdesc = A messaging browser that allows you to combine your favorite messaging services into one application (nightly binary release).
	pkgver = 6.7.7.nightly.7
	pkgrel = 2
	url = https://ferdium.org
	arch = x86_64
	arch = armv7l
	arch = aarch64
	license = Apache
	makedepends = asar
	depends = nss
	depends = atk
	depends = at-spi2-atk
	depends = libcups
	depends = libdrm
	depends = gdk-pixbuf2
	depends = gtk3
	depends = alsa-lib
	depends = c-ares
	depends = ffmpeg
	depends = libevent
	depends = libxkbfile
	depends = libxslt
	depends = minizip
	depends = re2
	depends = electron32
	provides = ferdium
	conflicts = ferdium
	conflicts = ferdium-bin
	conflicts = ferdium-nightly
	conflicts = ferdium-beta-bin
	conflicts = ferdium-beta
	conflicts = ferdium-git
	conflicts = ferdium-electron
	options = !strip
	options = !debug
	source_x86_64 = ferdium-nightly-bin-6.7.7-nightly.7-2-amd64.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.7-nightly.7/Ferdium-linux-6.7.7-nightly.7-amd64.deb
	sha512sums_x86_64 = 503549c7819819e3cc1109164ef90ac48096224ec291d7dae591305d63152a40f5f4289c353a3c273939ad212b268be901a70f0f7b753ab5a8ab88c1a9ba2106
	source_armv7l = ferdium-nightly-bin-6.7.7-nightly.7-2-armv7l.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.7-nightly.7/Ferdium-linux-6.7.7-nightly.7-armv7l.deb
	sha512sums_armv7l = f3f273fa27ba54fdcb2027ba57afd5d6a4805b3fe13da494fc1cc3f397e3f2e596e951595f343f40678b363f069ce43675168688092878cebc98007d094ebcb3
	source_aarch64 = ferdium-nightly-bin-6.7.7-nightly.7-2-arm64.zip::https://github.com/ferdium/ferdium-app/releases/download/v6.7.7-nightly.7/Ferdium-linux-6.7.7-nightly.7-arm64.deb
	sha512sums_aarch64 = 14f916bb18f639554036ad09db05957e8e2ce0db92b2f91949a5d257a900f262f7e912c70b42e438e043347eb409f6f53e3bf362291eafdd6b6fd4cc7e542932

pkgname = ferdium-nightly-bin
