pkgbase = shadps4-git
	pkgdesc = PlayStation 4 emulator
	pkgver = 0.8.0.r94.gffd3158
	pkgrel = 1
	url = https://github.com/shadps4-emu/shadPS4
	arch = x86_64
	arch = x86_64_v2
	arch = x86_64_v3
	arch = x86_64_v4
	license = GPL-2.0-or-later
	makedepends = boost
	makedepends = clang
	makedepends = cmake
	makedepends = git
	makedepends = half
	makedepends = lld
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = rapidjson
	makedepends = robin-map
	makedepends = spirv-headers
	makedepends = stb
	makedepends = toml11
	depends = glslang
	depends = libavcodec.so
	depends = libavformat.so
	depends = libavutil.so
	depends = libfmt.so
	depends = libpng16.so
	depends = libswresample.so
	depends = libswscale.so
	depends = libusb-1.0.so
	depends = libxxhash.so
	depends = libz.so
	depends = pugixml
	depends = qt6-multimedia
	depends = sdl3
	provides = shadps4
	conflicts = shadps4
	source = shadps4::git+https://github.com/shadps4-emu/shadPS4.git
	sha256sums = SKIP

pkgname = shadps4-git
