pkgbase = distroshelf
	pkgdesc = A GUI for Distrobox Containers
	pkgver = 1.3.0
	pkgrel = 1
	url = https://github.com/ranfdev/DistroShelf
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = meson
	depends = distrobox
	depends = gtk4
	depends = libadwaita
	depends = vte4
	depends = which
	source = DistroShelf-1.3.0.tar.gz::https://github.com/ranfdev/DistroShelf/archive/refs/tags/v1.3.0.tar.gz
	sha256sums = 8a3cdbb02e49d13a7a02c35e91beb9367e5f33efc1ff5f51511c0568d77e52f8

pkgname = distroshelf
