pkgbase = superproductivity-bin
	pkgdesc = ToDo list and Time Tracking
	pkgver = 13.0.11
	pkgrel = 1
	url = http://super-productivity.com/
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	provides = superproductivity
	conflicts = superproductivity
	conflicts = superproductivity-git
	source = superproductivity-13.0.11-amd64.deb::https://github.com/johannesjo/super-productivity/releases/download/v13.0.11/superProductivity-amd64.deb
	md5sums = SKIP

pkgname = superproductivity-bin
