pkgbase = superproductivity-bin
	pkgdesc = ToDo list and Time Tracking
	pkgver = 18.19.0
	pkgrel = 1
	url = http://super-productivity.com/
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = nss
	provides = superproductivity
	conflicts = superproductivity
	conflicts = superproductivity-git
	source = superproductivity-18.19.0-amd64.deb::https://github.com/super-productivity/super-productivity/releases/download/v18.19.0/superProductivity-amd64.deb
	sha256sums = ff69e9c195668ced4acda1ed5cd5186061dfa98a31a3ca6a953118d020ca1441

pkgname = superproductivity-bin
