pkgbase = aura-git
	pkgdesc = A package manager for Arch Linux and its AUR
	pkgver = 4.0.0.rc2.r0.g52a05c59
	pkgrel = 1
	url = https://github.com/fosskers/aura
	arch = any
	license = GPL3
	makedepends = cargo
	depends = git
	depends = curl
	depends = openssl
	depends = gcc-libs
	depends = glibc
	optdepends = ripgrep: faster log searches
	optdepends = fd: faster filesystem traversal
	optdepends = bat: more featureful file viewing
	provides = aura
	conflicts = aura
	conflicts = aura-bin
	options = strip
	source = aura-git::git+https://github.com/fosskers/aura.git
	sha256sums = SKIP

pkgname = aura-git
