pkgbase = epson-inkjet-printer-escpr2
	pkgdesc = Epson Inkjet Printer Driver 2 (ESC/P-R) for Linux
	pkgver = 1.2.25
	pkgrel = 1
	url = https://support.epson.net/linux/Printer/LSB_distribution_pages/en/escpr2.php
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = LGPL2
	license = custom:COPYING.EPSON
	depends = cups
	depends = ghostscript
	optdepends = imagescan: scanner support
	options = !libtool
	source = https://download3.ebz.epson.net/dsc/f/03/00/16/60/36/65e31393d9168c860a83712f9602d7a2db3d2a63/epson-inkjet-printer-escpr2-1.2.25-1.tar.gz
	source = bug_x86_64.patch
	sha256sums = 22874c4998a23dccab83ace66029002de3eba8bd258f41463863fb51616fea21
	sha256sums = 1baff7a23db91544fec6ff5a27ba8fe4f05958b7f2f95f0c087518b9c0e1b733

pkgname = epson-inkjet-printer-escpr2
