pkgbase = ulauncher
	pkgdesc = Application launcher for Linux
	pkgver = 5.15.15
	pkgrel = 1
	url = https://ulauncher.io
	install = ulauncher.install
	arch = any
	license = GPL3
	makedepends = git
	makedepends = python-setuptools
	makedepends = python-distutils-extra
	depends = gobject-introspection-runtime
	depends = libkeybinder3
	depends = gtk3
	depends = webkit2gtk
	depends = libnotify
	depends = gdk-pixbuf2
	depends = wmctrl
	depends = python-dbus
	depends = python-levenshtein
	depends = python-pyinotify
	depends = python-websocket-client
	depends = python-pyxdg
	depends = python-gobject
	depends = python-cairo
	optdepends = libappindicator-gtk3: tray icon
	source = https://github.com/Ulauncher/Ulauncher/releases/download/5.15.15/ulauncher_5.15.15.tar.gz
	sha256sums = 1b308176c7f0dfb034be038970ecb6e1b860212377f7e71dacc7c7bf0e8c9ae3

pkgname = ulauncher
