pkgbase = neard
	pkgdesc = Intel's Near Field Communication manager
	pkgver = 0.20
	pkgrel = 1
	url = https://github.com/linux-nfc/neard
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = automake
	makedepends = autoconf>=2.60
	makedepends = autoconf-archive
	makedepends = libtool
	depends = dbus>=1.2
	depends = libnl
	depends = glib2>=2.28
	depends = glibc
	backup = etc/neard/main.conf
	source = neard-0.20.tar.gz::https://github.com/linux-nfc/neard/archive/refs/tags/v0.20.tar.gz
	sha384sums = 898373a97b3534006ef1eb14fe383743fedf710165f17136d0a6cfb07cf8a194e153d8f7703ac477d65871f45f404ac2

pkgname = neard
