pkgbase = ankama-launcher
	pkgdesc = A multi-game portal for all Ankama games.
	pkgver = 3.12.40
	pkgrel = 1
	url = https://www.ankama.com/en/launcher
	install = ankama-launcher.install
	arch = x86_64
	license = custom:Ankama License
	makedepends = p7zip
	depends = zlib
	depends = bash
	depends = fuse
	optdepends = wine: to play Dofus
	optdepends = java-environment: to play Wakfu
	options = !strip
	source = ankama-launcher
	sha512sums = 0b9d72c460dd22acc0d2d2b0ab312bc609501c8c7fb8eaef2bd93092fd4ac849152b0e9163253066536ea4169079e5bc424bea37ee005c48a2047721142f876b
	source_x86_64 = ankama-launcher-3.12.40-x86_64.AppImage::https://launcher.cdn.ankama.com/installers/production/Ankama%20Launcher-Setup-x86_64.AppImage
	sha512sums_x86_64 = 6e034062264baa83cbbd73c8c0039923ae0c1fad01d0e148661c2b4c044b442337e74069d9673edf20135dec275c842af1fceed8c12622540ce4948e5ffe5601

pkgname = ankama-launcher
