pkgbase = ankama-launcher
	pkgdesc = A multi-game portal for all Ankama games.
	pkgver = 3.12.41
	pkgrel = 1
	url = https://www.ankama.com/en/launcher
	install = ankama-launcher.install
	arch = x86_64
	license = custom:Ankama License
	makedepends = p7zip
	depends = zlib
	depends = bash
	depends = fuse
	optdepends = wine: to play Dofus
	optdepends = java-environment: to play Wakfu
	options = !strip
	source = ankama-launcher
	sha512sums = 0b9d72c460dd22acc0d2d2b0ab312bc609501c8c7fb8eaef2bd93092fd4ac849152b0e9163253066536ea4169079e5bc424bea37ee005c48a2047721142f876b
	source_x86_64 = ankama-launcher-3.12.41-x86_64.AppImage::https://launcher.cdn.ankama.com/installers/production/Ankama%20Launcher-Setup-x86_64.AppImage
	sha512sums_x86_64 = dc87b1861ef74312040ee7c83ee6b716c728c7fcf0cf034fa7f5fc76b05261a914c02c203669f50195f5102155efa66d6f041bd5ed12882b44d03214ba629cbc

pkgname = ankama-launcher
