pkgbase = vulkan-memory-allocator
	pkgdesc = Easy to integrate Vulkan memory allocation library
	pkgver = 3.2.0
	pkgrel = 1
	url = https://gpuopen.com/vulkan-memory-allocator/
	arch = any
	groups = vulkan-devel
	license = MIT
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	depends = vulkan-headers
	source = vulkan-memory-allocator::git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git#tag=v3.2.0
	b2sums = 9f276869a8c6dcaef7674f841c15f409302d709a903fb294b6ea5674e0319d1c019960005399868b57a2002213e4cc85e7745e3ac1599efec7b91f994a3b08bc

pkgname = vulkan-memory-allocator
