pkgbase = mint-x-icons
	pkgdesc = A mint/metal theme based on mintified versions of Clearlooks Revamp, Elementary and Faenza
	pkgver = 1.7.4
	pkgrel = 1
	url = https://github.com/linuxmint/mint-x-icons
	arch = any
	license = GPL-3.0-or-later
	depends = gdk-pixbuf2
	depends = gtk-update-icon-cache
	depends = hicolor-icon-theme
	options = !strip
	source = http://packages.linuxmint.com/pool/main/m/mint-x-icons/mint-x-icons_1.7.4.tar.xz
	sha256sums = 538ca8528d92f059652bd03d475b041ae926c630c22fed2a3afc7fa689a6025e

pkgname = mint-x-icons
