pkgbase = cinny-desktop
	pkgdesc = Matrix client focusing primarily on a simple, elegant and secure interface.
	pkgver = 4.5.0
	pkgrel = 1
	url = https://cinny.in/
	arch = x86_64
	license = MIT
	makedepends = nodejs
	makedepends = npm
	makedepends = rust
	depends = gst-plugins-good
	depends = gtk3
	depends = libappindicator-gtk3
	depends = librsvg
	depends = libvips
	depends = openssl
	depends = sqlite
	depends = webkit2gtk
	options = !debug
	source = cinny-desktop-4.5.0.zip::https://github.com/cinnyapp/cinny-desktop/releases/download/v4.5.0/cinny-desktop-v4.5.0.zip
	b2sums = 81245504ec2a6cf213adab97165a8d031a3f6ae1d6a7ac577b63220684321fbf2e5e9820cff6caa132418a5cd98881d15d21085405c639cd93e766c2521391a3

pkgname = cinny-desktop
