pkgbase = cinny-desktop
	pkgdesc = Matrix client focusing primarily on a simple, elegant and secure interface.
	pkgver = 4.3.0
	pkgrel = 1
	url = https://cinny.in/
	install = cinny-desktop.install
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk
	depends = openssl
	depends = gtk3
	depends = appmenu-gtk-module
	depends = libappindicator-gtk3
	depends = librsvg
	depends = libvips
	depends = sqlite
	depends = gst-plugins-good
	source = cinny-desktop-4.3.0.zip::https://github.com/cinnyapp/cinny-desktop/releases/download/v4.3.0/cinny-desktop-v4.3.0.zip
	sha256sums = d72ceb3d1e14790d8bdcd5f10c5c6c10df080c9c8ec04400077b95d2a8ba9606
	sha512sums = 9566fdc09bb28e6cb84646060a0e572026540a212c8090568c80a3f2f0a254f9eff21a301efe29ecad9b802b213237eac40b4db0e795c2c4b407756e541b4a34

pkgname = cinny-desktop
