pkgbase = winetricks-git
	pkgdesc = Script to install various redistributable runtime libraries in Wine.
	pkgver = 20260125.r44.gf3890f67
	pkgrel = 1
	url = https://wiki.winehq.org/winetricks
	arch = any
	license = LGPL-2.1-or-later
	makedepends = git
	depends = bash
	depends = cabextract
	depends = perl
	depends = unzip
	depends = wine
	optdepends = zenity: GTK GUI
	optdepends = kdialog: KDE GUI (less capable)
	optdepends = 7zip: native extraction instead of Windows 7-Zip fallback
	optdepends = unrar: native extraction of RAR archives
	optdepends = aria2: preferred downloader
	optdepends = wget: alternative downloader
	provides = winetricks
	conflicts = winetricks
	source = winetricks-git::git+https://github.com/Winetricks/winetricks.git
	sha256sums = SKIP

pkgname = winetricks-git
