pkgbase = mindustry
	pkgdesc = A sandbox tower defense game
	pkgver = 155
	pkgrel = 1
	url = https://github.com/Anuken/Mindustry
	arch = any
	license = GPL-3.0-only
	makedepends = java-environment=17
	makedepends = libicns
	depends = alsa-lib
	source = mindustry-155.tar.gz::https://github.com/Anuken/Mindustry/archive/v155.tar.gz
	source = mindustry-arc-155.tar.gz::https://github.com/Anuken/Arc/archive/refs/tags/v155.tar.gz
	sha256sums = 6b941220c0df657f4c8b82efa16d9e597407042e2b29842f98f61e5adbb6b26f
	sha256sums = 7a431044a34ac118b90e51e2dbecf1ef09c88a98d94a639ddc5ce115800ac4ad

pkgname = mindustry
	depends = alsa-lib
	depends = hicolor-icon-theme
	depends = java-runtime

pkgname = mindustry-server
	pkgdesc = A sandbox tower defense game - server
	depends = alsa-lib
	depends = hicolor-icon-theme
	depends = java-runtime
