pkgbase = otf-firamath
	pkgdesc = Fira Math is a sans-serif font with Unicode math support
	pkgver = v0.3.4
	pkgrel = 1
	url = https://github.com/firamath
	arch = any
	license = custom:ofl
	source = https://github.com/firamath/firamath/releases/download/v0.3.4/FiraMath-Regular.otf
	md5sums = bc0416de599a48532457e00d64f6695b

pkgname = otf-firamath
