pkgbase = opencode-bin
	pkgdesc = The AI coding agent built for the terminal.
	pkgver = 1.18.17
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = ripgrep
	provides = opencode
	conflicts = opencode
	options = !debug
	options = !strip
	source_aarch64 = opencode-bin_1.18.17_aarch64.tar.gz::https://github.com/anomalyco/opencode/releases/download/v1.18.17/opencode-linux-arm64.tar.gz
	sha256sums_aarch64 = 7531c1a110546aaf04b465d98a3bf54018e1740f769077c2526fec6add5fc230
	source_x86_64 = opencode-bin_1.18.17_x86_64.tar.gz::https://github.com/anomalyco/opencode/releases/download/v1.18.17/opencode-linux-x64.tar.gz
	sha256sums_x86_64 = 3f14a4c61c7f6b0d3b6d933d1d212e64e19683eba6fa453ad98e46303afe144a

pkgname = opencode-bin
