pkgbase = opencode-bin
	pkgdesc = The AI coding agent built for the terminal.
	pkgver = 1.18.26
	pkgrel = 1
	url = https://github.com/anomalyco/opencode
	arch = aarch64
	arch = x86_64
	license = MIT
	depends = ripgrep
	provides = opencode
	conflicts = opencode
	options = !debug
	options = !strip
	source_aarch64 = opencode-bin_1.18.26_aarch64.tar.gz::https://github.com/anomalyco/opencode/releases/download/v1.18.26/opencode-linux-arm64.tar.gz
	sha256sums_aarch64 = 90b99cc2356fea188d67352418ad7223559841178142f719848ca2c88a689c3e
	source_x86_64 = opencode-bin_1.18.26_x86_64.tar.gz::https://github.com/anomalyco/opencode/releases/download/v1.18.26/opencode-linux-x64.tar.gz
	sha256sums_x86_64 = 7c20c1ffa91bcca0ac903752260bcc36307dff656833baead2f5ef3b224b16c6

pkgname = opencode-bin
