pkgbase = nwg-wrapper
	pkgdesc = Wrapper to display a script output or a text file content on the desktop in sway or other wlroots-based compositors
	pkgver = 0.1.3
	pkgrel = 3
	url = https://github.com/nwg-piotr/nwg-wrapper
	arch = x86_64
	license = MIT
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-gobject
	depends = python-i3ipc
	depends = gtk3
	depends = gtk-layer-shell
	optdepends = wlr-randr: for non-sway Wayland WMs support
	provides = nwg-wrapper
	conflicts = nwg-wrapper
	conflicts = nwg-wrapper-git
	source = nwg-wrapper-0.1.3.tar.gz::https://github.com/nwg-piotr/nwg-wrapper/archive/v0.1.3.tar.gz
	md5sums = 65b01a726309a0010cb43f3d1fb61073

pkgname = nwg-wrapper
