pkgbase = zotero-bin
	pkgdesc = Zotero Standalone. Is a free, easy-to-use tool to help you collect, organize, cite, and share your research sources.
	pkgver = 6.0.35
	pkgrel = 2
	url = https://www.zotero.org/download
	install = zotero.install
	arch = x86_64
	license = AGPL3
	depends = dbus-glib
	depends = gtk3
	depends = nss
	depends = libxt
	depends = debugedit
	provides = zotero
	conflicts = zotero
	source = zotero.desktop
	sha256sums = eab76db7a56a4d9aaa17baaf240b82fcf57944a4ddf8ef1b58cc64182426cedc
	source_x86_64 = Zotero-6.0.35_linux_x86_64.tar.bz2::https://www.zotero.org/download/client/dl?channel=release&platform=linux-x86_64&version=6.0.35
	sha256sums_x86_64 = 1c054b99a9843ee15fd39e3cfe21177acf9fe179d0ee4535bbd872398855c99d

pkgname = zotero-bin
