pkgbase = amethyst-mod-manager
	pkgdesc = A Linux native mod manager for a variety of games
	pkgver = 2.4.1
	pkgrel = 1
	url = https://github.com/ChrisDKN/Amethyst-Mod-Manager
	arch = any
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = meson
	depends = python
	depends = sqlite
	depends = pyside6
	depends = python-gobject
	depends = python-pillow
	depends = shiboken6
	depends = python-certifi
	depends = python-requests
	depends = python-keyring
	depends = python-secretstorage
	depends = python-cryptography
	depends = python-jeepney
	depends = python-msgpack
	depends = python-lz4
	depends = python-py7zr
	depends = python-zstandard
	depends = python-rarfile
	depends = python-libloot
	depends = python-bsdiff4
	depends = glibc
	depends = libgcc
	optdepends = zenity: fallback native dialog (prefer to use XDG portal instead)
	optdepends = kdialog: fallback native dialog (prefer to use XDG portal instead)
	source = amethyst-mod-manager-2.4.1.tar.gz::https://github.com/ChrisDKN/Amethyst-Mod-Manager/archive/refs/tags/v2.4.1.tar.gz
	sha256sums = 3d5c655dde0d3d534e718a5abbc8bcaa72aab9c37c2116f7bc22bad37cb5a6dd

pkgname = amethyst-mod-manager
