pkgbase = python-soundcloud-v2
	pkgdesc = Python wrapper for the v2 SoundCloud API
	pkgver = 1.6.0
	pkgrel = 1
	url = https://github.com/7x11x13/soundcloud.py
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-dateutil
	depends = python-dacite
	depends = python-requests
	provides = python-soundcloud
	conflicts = python-soundcloud
	source = https://files.pythonhosted.org/packages/source/s/soundcloud-v2/soundcloud-v2-1.6.0.tar.gz
	sha512sums = 73684165eac42c220ba3e9eb1a102d5b70e1b7e17a876049f553bea7d7d3934852307fe251b464c4c0a8c7098aa9d36ff57e8b7340f2e7c008c892fa4243d25d

pkgname = python-soundcloud-v2
