pkgbase = qt5-gamepad
	pkgdesc = Adds support for getting events from gamepad devices
	pkgver = 5.15.19
	pkgrel = 1
	url = https://www.qt.io
	arch = x86_64
	groups = qt5
	license = GPL3
	license = LGPL3
	license = FDL
	license = custom
	makedepends = qt5-declarative
	makedepends = git
	depends = qt5-base
	depends = sdl2
	optdepends = qt5-declarative: QML bindings
	source = kde-qtgamepad::git+https://invent.kde.org/qt/qt/qtgamepad#commit=9b69ae558f0f9feffe30b0aa8993e270dfcc81ff
	sha256sums = fe3fa73276ee7089f44c48058a3750402cdcc5b1f3b359a281fef13e265d1c24

pkgname = qt5-gamepad
