pkgbase = kew
	pkgdesc = A terminal music player
	pkgver = 3.6.4
	pkgrel = 1
	url = https://github.com/ravachol/kew
	arch = x86_64
	license = GPL-2.0-only
	depends = fftw
	depends = chafa
	depends = glib2
	depends = opus
	depends = opusfile
	depends = libvorbis
	depends = taglib
	depends = libogg
	depends = faad2
	conflicts = kew-git
	replaces = cue-music-command
	source = kew-3.6.4.tar.gz::https://github.com/ravachol/kew/archive/v3.6.4.tar.gz
	sha512sums = 9039237634b2cd7c3df63c3fdfdffae2840c5587b4792e50faf3d86c7d1ca80cbc360f5b2f33fd13486f3dbbb9e557248cda5853d00aadd945e5f2587c6862ae

pkgname = kew
