pkgbase = friture
	pkgdesc = An application to visualize and analyze live audio data in real-time.
	pkgver = 0.49
	pkgrel = 3
	url = https://friture.org/
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = cython0
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-appdirs
	depends = python-docutils
	depends = python-multipledispatch
	depends = python-numpy
	depends = python-pa-ringbuffer
	depends = python-pyqt5
	depends = python-pyrr
	depends = python-rtmixer
	depends = python-sounddevice
	optdepends = jack: for JACK I/O support
	source = https://github.com/tlecomte/friture/archive/refs/tags/v0.49.tar.gz
	source = python3.11.patch
	sha256sums = 9643c56c4901ae892e16a35c418099bb28784bc4baeebfcf1cd8ea0f9b5de743
	sha256sums = 253b32b6e4b4855fe06f9fc8b4a6ed03eb0241a434ddc6ad9baa2bf2b3939250

pkgname = friture
