pkgbase = wxmaxima
	pkgdesc = A wxWidgets GUI for the computer algebra system Maxima
	pkgver = 24.05.0
	pkgrel = 2
	url = https://github.com/wxmaxima-developers/wxmaxima
	arch = x86_64
	license = GPL-2.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = cmake
	depends = maxima
	depends = wxwidgets-gtk3
	depends = webkit2gtk-4.1
	optdepends = bash-completion: for completion when using bash
	optdepends = man-db: manual pages for wxMaxima
	source = wxmaxima-24.05.0::https://github.com/wxmaxima-developers/wxmaxima/archive/Version-24.05.0/wxmaxima-Version-24.05.0.tar.gz
	source = wxmaxima-24.05.0.asc::https://github.com/wxmaxima-developers/wxmaxima/releases/download/Version-24.05.0/Version-24.05.0.tar.gz.asc
	validpgpkeys = 53F047CE66B91B0F724C545D5C86C0E4211D5B8E
	sha512sums = 62a5911220fc1a9403ca3af11110b9043cffcf0b3a1ef6e6a87f74e63de6a00e2bf809db1a05fe2b5bc40da155746c05d68ff247c424c63a6bd6724b5fe12be9
	sha512sums = SKIP

pkgname = wxmaxima
