pkgbase = mutter-performance
	pkgdesc = Window manager and compositor for GNOME
	pkgver = 49.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = bash-completion
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sysprof
	makedepends = wayland-protocols
	depends = at-spi2-core
	depends = cairo
	depends = colord
	depends = dconf
	depends = egl-wayland
	depends = fontconfig
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gnome-desktop-4
	depends = gnome-settings-daemon
	depends = graphene
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = harfbuzz
	depends = iio-sensor-proxy
	depends = lcms2
	depends = libcanberra
	depends = libcolord
	depends = libdisplay-info
	depends = libdrm
	depends = libei
	depends = libgirepository
	depends = libglvnd
	depends = libgudev
	depends = libice
	depends = libinput
	depends = libpipewire
	depends = libsm
	depends = libsysprof-capture
	depends = libwacom
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxkbfile
	depends = libxrandr
	depends = libxtst
	depends = mesa
	depends = pango
	depends = pipewire
	depends = pixman
	depends = python
	depends = python-argcomplete
	depends = python-dbus
	depends = python-gobject
	depends = startup-notification
	depends = systemd-libs
	depends = wayland
	depends = xorg-xwayland
	source = git+https://gitlab.gnome.org/GNOME/mutter.git#tag=49.0
	source = git+https://gitlab.gnome.org/GNOME/gvdb.git#commit=b54bc5da25127ef416858a3ad92e57159ff565b3
	b2sums = 99defeefd72cc366cfa5c433a22d855400cc14c1f41d7cfe08008fd98a0b7a36295e3591dead6e7ebec489a526f8cd9af5471031d36becb4de6b441391bd9e07
	b2sums = f989bc2ceb52aad3c6a23c439df3bbc672bc11d561a247d19971d30cc85ed5d42295de40f8e55b13404ed32aa44f12307c9f5b470f2e288d1c9c8329255c43bf

pkgname = mutter-performance
	optdepends = bash-completion: Bash completions for gdctl
	optdepends = mutter-devkit: Mutter SDK, "MDK"
	provides = mutter
	provides = libmutter-17.so
	conflicts = mutter

pkgname = mutter-performance-devkit
	pkgdesc = GNOME Mutter Development Kit
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libei
	depends = libpipewire
	depends = mutter

pkgname = mutter-performance-docs
	pkgdesc = Window manager and compositor for GNOME (documentation)
	depends = 
