pkgbase = rustc-demangle
	pkgdesc = Demangling for Rust symbols, C API
	pkgver = 0.1.24
	pkgrel = 4
	url = https://github.com/rust-lang/rustc-demangle
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = glibc
	source = rustc-demangle-0.1.24.tar.gz::https://github.com/rust-lang/rustc-demangle/archive/0.1.24.tar.gz
	sha512sums = 1b2059e1fbb8f58b0faca535b2d38b9d509e5ec7aa6096da3f5aafb630c527f6fdeb033b4cf58ce9e1283fd91bbb5ae9d7ef74b13cfa62c16cb46d62fd7be9c2

pkgname = rustc-demangle
