pkgbase = wl-clipboard-rs
	pkgdesc = A safe Rust reimplementation of the Wayland command-line copy/paste utilities
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/YaLTeR/wl-clipboard-rs
	arch = x86_64
	license = MIT
	license = APACHE-2.0
	makedepends = git
	makedepends = cargo
	depends = gcc-libs
	provides = wl-clipboard
	conflicts = wl-clipboard
	source = wl-clipboard-rs::git+https://github.com/YaLTeR/wl-clipboard-rs.git#tag=v0.9.1
	b2sums = SKIP

pkgname = wl-clipboard-rs
