pkgbase = extension-manager
	pkgdesc = A native tool for browsing, installing, and managing GNOME Shell Extensions
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/mjakeman/extension-manager
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = appstream-glib
	makedepends = meson
	makedepends = blueprint-compiler
	makedepends = gobject-introspection
	makedepends = glib2-devel
	depends = libadwaita
	depends = libsoup3
	depends = json-glib
	depends = libxml2
	optdepends = libbacktrace-git
	source = extension-manager-0.6.1.tar.gz::https://github.com/mjakeman/extension-manager/archive/v0.6.1.tar.gz
	sha256sums = 16b089fdd9138997975ec875774af5d3d98e837421a49c978debf063ff938e7b

pkgname = extension-manager
