pkgbase = limine-dracut-support
	pkgdesc = Install kernel for the Limine bootloader.
	pkgver = 1.20.0
	pkgrel = 1
	url = https://gitlab.com/Zesko/limine-entry-tool
	arch = any
	license = GPL3
	makedepends = git
	makedepends = maven
	depends = bash
	depends = grep
	depends = tar
	depends = java-environment>=17
	depends = limine
	depends = dracut
	depends = efibootmgr
	optdepends = systemd: bootctl detects ESP path automatically.
	optdepends = sbctl: signs bootable EFI files for Secure Boot when enabled.
	optdepends = journalctl-desktop-notification: It notifies you on Desktop when an error occurs.
	provides = limine-entry-tool
	conflicts = limine-dracut-support-git
	conflicts = limine-entry-tool
	backup = etc/limine-entry-tool.conf
	source = limine-entry-tool-1.20.0.tar.gz::https://gitlab.com/Zesko/limine-entry-tool/-/archive/1.20.0/limine-entry-tool-1.20.0.tar.gz
	sha256sums = 8fa873051c0bedd3d6158bc4ccd175d0f3cbd9a504b3e290aeef4884a8a42fda

pkgname = limine-dracut-support
