pkgbase = rustup-git
	pkgdesc = The Rust toolchain installer
	pkgver = 1.27.0.r15.g6e8769c7
	pkgrel = 1
	url = https://github.com/rust-lang/rustup
	install = post.install
	arch = x86_64
	license = MIT
	license = Apache-2.0
	makedepends = git
	makedepends = cargo
	depends = curl
	optdepends = lldb: rust-lldb script
	optdepends = gdb: rust-gdb script
	provides = rust
	provides = cargo
	provides = rust-nightly
	provides = cargo-nightly
	provides = rustfmt
	provides = rust-src
	provides = lib32-rust-libs
	provides = rust-musl
	provides = rust-wasm
	provides = rustup
	provides = rust-analyzer
	conflicts = rust
	conflicts = cargo
	conflicts = rustfmt
	conflicts = rust-nightly
	conflicts = rust-nightly-bin
	conflicts = rustup
	conflicts = rust-analyzer
	options = !lto
	source = rustup-git::git+https://github.com/rust-lang/rustup.git
	source = list-proxy-names.rs
	sha512sums = SKIP
	sha512sums = fdc9750850e8265409f2fcacf3c7f59e82b619ed40cef0c82944e08c17266107327813fb283c909b3b0821501fac064d9e3618060d688aa7c76cf16a36244626

pkgname = rustup-git
