pkgbase = nordvpn-bin
	pkgdesc = NordVPN CLI tool for Linux
	pkgver = 4.4.0
	pkgrel = 1
	url = https://nordvpn.com/download/linux/
	install = nordvpn-bin.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	arch = armeabi
	license = GPL3
	optdepends = nordvpn-gui: Graphical Interface for NordVPN
	provides = nordvpn
	conflicts = openvpn-nordvpn
	source_x86_64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_4.4.0_amd64.deb
	sha256sums_x86_64 = ade3c11157baa38f487f9758bc8516dfad44ee716a9e0cddf9792239e7a163bc
	source_i686 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_4.4.0_i386.deb
	sha256sums_i686 = 85595d14936adffcaca26f84fd0b4204f9d02181a9de8e424c3a08666bcfd7c1
	source_armv7h = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_4.4.0_armhf.deb
	sha256sums_armv7h = d97061aa5bca2ed01435ffa685a2b4c2cccc4b022213d31a08ca667eb5becb58
	source_aarch64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_4.4.0_arm64.deb
	sha256sums_aarch64 = ca5d8eeb2785156be4b1bdb19dee8c3fa5844b9afb5d238ac95c73bc3efaf5ef
	source_armeabi = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_4.4.0_armel.deb
	sha256sums_armeabi = 3ee75f10a965aee75facaa5923f3dc1f9130c16d15f134ebfb0b39b13082c65d

pkgname = nordvpn-bin
