pkgbase = nordvpn-bin
	pkgdesc = NordVPN CLI tool for Linux
	pkgver = 3.20.3
	pkgrel = 1
	url = https://nordvpn.com/download/linux/
	install = nordvpn-bin.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	arch = armeabi
	license = GPL3
	depends = libxml2-legacy
	provides = nordvpn
	conflicts = openvpn-nordvpn
	source_x86_64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_3.20.3_amd64.deb
	sha256sums_x86_64 = e5c98236e1da1cf1e30ea3a72c2ffcc31a38fb73b8b814412f2b5b2113fc7561
	source_i686 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_3.20.3_i386.deb
	sha256sums_i686 = 82b9cbef3416eb8c4a6a375b801d930b960d7045a214c40e67b8bb5f5cc9ed16
	source_armv7h = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_3.20.3_armhf.deb
	sha256sums_armv7h = 283d5aacf0a1c70f8d32bb87d094deb1d0fa25de86b54be6772c8314531524ae
	source_aarch64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_3.20.3_arm64.deb
	sha256sums_aarch64 = b5a9ae1a7305772a5e9ec6d28ac4e1bc72b9e48b2a798ddec696d2de93bf2271
	source_armeabi = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/n/nordvpn/nordvpn_3.20.3_armel.deb
	sha256sums_armeabi = 39044303f3a800f50005469876f6e5448dbbb713317524e0054ae30695248161

pkgname = nordvpn-bin
