pkgbase = nordvpn-bin
	pkgdesc = NordVPN CLI tool for Linux
	pkgver = 3.19.0
	pkgrel = 2
	url = https://nordvpn.com/download/linux/
	install = nordvpn-bin.install
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	arch = armeabi
	license = GPL3
	depends = libxml2
	provides = nordvpn
	conflicts = openvpn-nordvpn
	source_x86_64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.19.0_amd64.deb
	sha256sums_x86_64 = bec97eba77ae0c4b949a5bd19cc20b53046e46445756d9396bb39c43db586e96
	source_i686 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.19.0_i386.deb
	sha256sums_i686 = 0f973ef8ad06457c31ee4b8bf0fc57fd51f6d62ffc417f749c15bb4327f104a8
	source_armv7h = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.19.0_armhf.deb
	sha256sums_armv7h = 901014d059867339487a5081e2196c5ef889fb9c838564ae72f09e166228149c
	source_aarch64 = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.19.0_arm64.deb
	sha256sums_aarch64 = ca940aca679c387ee15ca06449407b43efb444feee2c64ff88f7b61449136a91
	source_armeabi = https://repo.nordvpn.com/deb/nordvpn/debian/pool/main/nordvpn_3.19.0_armel.deb
	sha256sums_armeabi = ecc8f3e9eb72d29e22d75368aff1221b9f0093bb768eeeda3c4512d1c2517b2e

pkgname = nordvpn-bin
