pkgbase = spicetify-cli
	pkgdesc = Command-line tool to customize Spotify client
	pkgver = 2.42.14
	pkgrel = 1
	url = https://github.com/spicetify/cli
	arch = x86_64
	arch = i686
	license = LGPL-2.1-only
	makedepends = go
        depends = bash
        depends = glibc
	optdepends = xdg-utils: Allows for opening directories in default file manager
	source = cli-2.42.14.tar.gz::https://github.com/spicetify/cli/archive/v2.42.14.tar.gz
	sha256sums = d03c5fc93db5a6ddae2410339995287bd05b3edb9d2bde8998568f18dd2e42ed

pkgname = spicetify-cli
