pkgbase = moon
	pkgdesc = Task runner and repo management tool for the web ecosystem
	pkgver = 1.34.0
	pkgrel = 1
	url = https://github.com/moonrepo/moon
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = xz
	options = !lto
	source = moon-1.34.0.tar.gz::https://github.com/moonrepo/moon/archive/v1.34.0.tar.gz
	sha256sums = 9206dfb2299d2f49b898bd48fe5444529a5afc14ec19ebea7d2ebf766fa687dc

pkgname = moon
