pkgbase = moon
	pkgdesc = Task runner and repo management tool for the web ecosystem
	pkgver = 2.2.2
	pkgrel = 1
	url = https://github.com/moonrepo/moon
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = protobuf
	depends = gcc-libs
	depends = xz
	options = !lto
	source = moon-2.2.2.tar.gz::https://github.com/moonrepo/moon/archive/v2.2.2.tar.gz
	sha256sums = 062a707dfda978a673fc59aca7da03541f27c8e172f1f591f5725767f25364b5

pkgname = moon
