pkgbase = moon
	pkgdesc = Task runner and repo management tool for the web ecosystem
	pkgver = 1.32.7
	pkgrel = 1
	url = https://github.com/moonrepo/moon
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = xz
	options = !lto
	source = moon-1.32.7.tar.gz::https://github.com/moonrepo/moon/archive/v1.32.7.tar.gz
	sha256sums = cdc3fc04271c611e796950a09c89debf973f3a3155d1ffbf1ca046b4b88573c4

pkgname = moon
