pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.14.1.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.14.1.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.14.1-arch1/linux-v6.14.1-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.14.1-arch1/linux-v6.14.1-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 5bf122d1879fd64fadf0cecfcd477957ebce1bc5931c14835ee0eda88463e407
	sha256sums = SKIP
	sha256sums = c5b4773e9d402dd1fb9d198d6c65e1a400dcc994e27f6f82d0567301a84b8554
	sha256sums = SKIP
	sha256sums = 85ca1138589c697a53480a68523bb68510f9cde16bc0b7d67dd80aeab88972ab
	b2sums = 1aa584824d71cf7ac25d3b848aa8c00f7f172dc2491972cb0b4eeebdd491f0f5dc000c55f825da656f3447c3a38eb8d480c5f98927339811247f2cc8c82e3c50
	b2sums = SKIP
	b2sums = af0eca8302cf15ddc342f20998f8585b64fc88ed82fdedeeafed644afc9583006e86a0a62e353e0c212814d399e167045ee2f85a7d3b30c58b38e2fea01b7a1a
	b2sums = SKIP
	b2sums = 5e071c1f919c1af45c262dde4aedfb99f90e1a43696ba023223726f79d757d3389b38b1622bd2f47d02a26c1f931a7d472beed481d30f974f0b0dfd3acdd4432

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
