pkgbase = linux
	pkgdesc = Linux
	pkgver = 6.15.4.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.4.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.15.4.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.15.4-arch1/linux-v6.15.4-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.15.4-arch1/linux-v6.15.4-arch1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 0eafd627b602f58d73917d00e4fc3196ba18cba67df6995a42aa74744d8efa16
	sha256sums = SKIP
	sha256sums = c7b33c14e935cbd320191b30ff04d25e3c8cdd5ce62f92b13194ab43028a2b29
	sha256sums = SKIP
	sha256sums = b0361c3867176f2805e3a1c04850eb87041917ef0fd0d9bbb4db766bedf011ac
	b2sums = 926cbb770f3928263414b444f63790606376f9a48ee006e85d15f877ed04444c6de889be7ccde8d25ffc650f98de78fd04639c11bf4540182244366440b6ccaa
	b2sums = SKIP
	b2sums = f44c5463581741263da36787671a2bc518a6a4ddc2e10adce7fbdeef0f3bd3328973da5e68da5a14898e69d07aadb46d5761daaa3885af6c6a458e6afc0d4b22
	b2sums = SKIP
	b2sums = 5741583983ef4773116558d97a4bfb40db6e03fc05b4098b6226ef7a03f1252ef90d3773bb92d8cfc9c696a938af5ab10679a0ef17a9534fcec3a02bbebacbd0

pkgname = linux
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole

pkgname = linux-docs
	pkgdesc = Documentation for the Linux kernel
