pkgbase = bootc
	pkgdesc = Boot and upgrade via container images
	pkgver = 1.15.1
	pkgrel = 1
	url = https://github.com/bootc-dev/bootc
	arch = x86_64
	license = Apache-2.0 OR MIT
	makedepends = cargo
	makedepends = go-md2man
	depends = bash
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = openssl
	depends = ostree
	depends = zlib
	depends = zstd
	source = https://github.com/bootc-dev/bootc/releases/download/v1.15.1/bootc-1.15.1.tar.zstd
	sha256sums = 3dc5a0f6671ff4d02b281e781917e3e4cc1504e552b18f8868638369e89eefb5

pkgname = bootc
