pkgbase = choosenim
	pkgdesc = Installs different versions of Nim compiler and tools and switches between them
	pkgver = 0.8.5
	pkgrel = 1
	url = https://github.com/nim-lang/choosenim
	arch = x86_64
	license = BSD-3-Clause
	makedepends = git
	makedepends = nim
	makedepends = nimble
	depends = glibc
	depends = curl
	optdepends = clang: C/C++ backend
	optdepends = gcc: C/C++ backend
	provides = nim
	provides = nimble
	provides = nimgrep
	provides = nimpretty
	provides = nimsuggest
	source = choosenim-0.8.5.tar.gz::https://github.com/nim-lang/choosenim/archive/refs/tags/v0.8.5.tar.gz
	sha256sums = 11c3cfdc8623a5882cbec03a863915a7d1be1bd92e9c0f167b23b772bf44d756

pkgname = choosenim
