pkgbase = python-glean-parser
	pkgdesc = Tools for parsing the metadata for Mozilla's glean telemetry SDK
	pkgver = 18.2.0
	pkgrel = 1
	url = https://github.com/mozilla/glean_parser
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python
	depends = python-click
	depends = python-diskcache
	depends = python-jinja
	depends = python-jsonschema
	depends = python-platformdirs
	depends = python-yaml
	source = glean_parser-18.2.0.tar.gz::https://files.pythonhosted.org/packages/source/g/glean_parser/glean_parser-18.2.0.tar.gz
	sha256sums = 5432ce64bf47329dfe4a6b7e404d539ccb06d99fddeb7deeed745491fbd5b7e7

pkgname = python-glean-parser
