pkgbase = python-glean-parser
	pkgdesc = Tools for parsing the metadata for Mozilla's glean telemetry SDK
	pkgver = 14.5.1
	pkgrel = 1
	url = https://github.com/mozilla/glean_parser
	arch = any
	license = MPL-2.0
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python
	depends = python-appdirs
	depends = python-click
	depends = python-diskcache
	depends = python-jinja
	depends = python-jsonschema
	depends = python-yaml
	provides = python-glean_parser=14.5.1
	conflicts = python-glean_parser
	source = glean_parser-14.5.1.tar.gz::https://files.pythonhosted.org/packages/source/g/glean_parser/glean_parser-14.5.1.tar.gz
	sha256sums = 1b4d6007004dde8439cafa1b68b88962b8638cb7e78a7563498b972ec260d435

pkgname = python-glean-parser
