pkgbase = ibus-mozc
	pkgdesc = Mozc module for IBus
	pkgver = 2.30.5490.102
	pkgrel = 1
	url = https://github.com/google/mozc
	arch = x86_64
	license = Apache-2.0 AND BSD-2-Clause AND BSD-3-Clause AND MIT AND NAIST-2003 AND Unicode-3.0 AND LicenseRef-Okinawa-Dictionary
	makedepends = bazel
	makedepends = git
	makedepends = python
	makedepends = qt6-base
	depends = ibus>=1.4.1
	depends = mozc>=2.30.5490.102
	options = !distcc
	options = !ccache
	source = ibus-mozc-git::git+https://github.com/google/mozc.git#commit=7967c42e5585d0789fe6565bf366afba8b31fcbf
	sha256sums = 72b43e715364e9ea40336e4733689b528e4a8a59cd6e6df09c1492f204a62c4a

pkgname = ibus-mozc
