pkgbase = nvidia-525xx-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver, 525 branch
	pkgver = 525.147.05
	pkgrel = 1
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL2
	makedepends = inetutils
	makedepends = jansson
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-utils=525.147.05
	makedepends = libxext
	options = staticlibs
	source = nvidia-settings-525.147.05.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/525.147.05.tar.gz
	source = nvidia-settings-libxnvctrl_so.patch
	sha512sums = c08f25c9d3435adf3c0ae5a8584faeb90e57dc335579369b3f2eef6f44cbd1ffdf9bdcd7bf7f7d9890018fb82043a99b34da2c3c76b83b072ab50d34de89a75a
	sha512sums = 0303fe615d6ef4e14112998c531a17613b94776f9a6a027ddb81e400fddd5f2ff15583da8b8631c2306aca854edf2f54a8007eb36f1732b4c064c857aaf268ae

pkgname = nvidia-525xx-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-utils=525.147.05
	depends = libxnvctrl=525.147.05
	provides = nvidia-settings=525.147.05
	conflicts = nvidia-settings

pkgname = libxnvctrl-525xx
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext
	provides = libxnvctrl=525.147.05
	provides = libXNVCtrl.so
	conflicts = libxnvctrl
