pkgbase = pixelorama-bin
	pkgdesc = A free & open-source 2D sprite editor, made with the Godot Engine
	pkgver = 1.0.5
	pkgrel = 2
	url = https://orama-interactive.itch.io/pixelorama
	arch = i686
	arch = x86_64
	license = MIT
	depends = libxi
	depends = libxrandr
	depends = libglvnd
	depends = libxcursor
	depends = libxinerama
	depends = hicolor-icon-theme
	provides = pixelorama
	conflicts = pixelorama
	source = pixelorama.png
	source = com.orama_interactive.Pixelorama.xml
	source = com.orama_interactive.Pixelorama.appdata.xml
	source = com.orama_interactive.Pixelorama.desktop
	source = LICENSE
	sha256sums = 184a59fbb665f1b9e8b2bc0d8e969903c1554cf9cbc729d68d02e846682e6419
	sha256sums = 4fcf324e7c1eb8277bd9368047c0f9368ff1a32d3aba14d6b7d6459efcf7054f
	sha256sums = b448f7ba8e035596356698e334a8819a49374a04018e2c3bb08f65ed6e99aed7
	sha256sums = c4c0627b99baed45d15c19ee5554ee31b9de41c49800b99cd5bb9362dd23d7f4
	sha256sums = 07ddf85025568856f9b92fb7193589dd055c749c563aa9b2d4e943eb53ef61f9
	source_i686 = Pixelorama-1.0.5-32bit.tar.gz::https://github.com/Orama-Interactive/Pixelorama/releases/download/v1.0.5/Pixelorama-Linux-32bit.tar.gz
	sha256sums_i686 = a69c03ac03771dfc7e5cd1a4fce0f85ad3b084be16cf8e90e96f0e25099f5af2
	source_x86_64 = Pixelorama-1.0.5-64bit.tar.gz::https://github.com/Orama-Interactive/Pixelorama/releases/download/v1.0.5/Pixelorama-Linux-64bit.tar.gz
	sha256sums_x86_64 = f0c8d72129f34997d23eb2c466f59dd453b9f33cba2ac463fdb99d506850c407

pkgname = pixelorama-bin
