pkgbase = hd
	pkgdesc = C makefile generator
	pkgver = 1.5
	pkgrel = 93
	url = https://github.com/Noah-Arcouette/hd
	arch = x86_64
	license = Mimik1.2
	depends = glibc
	conflicts = hd-git
	source = https://github.com/Noah-Arcouette/HD/releases/download/releaseV1.5/HD-V1.5.7z
	sha256sums = 5e88c0fbce23156b7a39d3a3582c26bef17f4b34af21d1b0198e690d5a0750d0

pkgname = hd
