pkgbase = collabora-office
	pkgdesc = Collabora Office - Qt6 desktop document editor powered by Collabora Online
	pkgver = 26.04.2.4
	pkgrel = 1
	url = https://collaboraoffice.com
	arch = x86_64
	license = MPL-2.0
	makedepends = git
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkgconf
	makedepends = qt6-tools
	makedepends = cppunit
	makedepends = python
	makedepends = python-lxml
	makedepends = python-polib
	makedepends = nodejs
	makedepends = npm
	makedepends = rsync
	depends = qt6-base
	depends = qt6-webengine
	depends = qt6-declarative
	depends = qt6-websockets
	depends = dbus
	depends = fontconfig
	depends = libcap
	depends = libpng
	depends = nspr
	depends = nss
	depends = openssl
	depends = pam
	depends = poco
	depends = zlib
	depends = zstd
	depends = hicolor-icon-theme
	optdepends = hunspell-en_us: English spell checking
	optdepends = hyphen-en: English hyphenation
	optdepends = noto-fonts: Noto font family
	optdepends = noto-fonts-cjk: CJK font support
	optdepends = ttf-liberation: Liberation fonts for document compatibility
	optdepends = ttf-dejavu: DejaVu fonts
	options = !strip
	options = !debug
	source = online-cp-26.04.2-4.tar.gz::https://github.com/CollaboraOnline/online.mirror/archive/refs/tags/cp-26.04.2-4.tar.gz
	source = https://github.com/Rash419/collabora-core-assets/releases/download/cp-26.04.2-4/core-co-26.04-assets.tar.gz
	source = https://www.collaboraoffice.com/downloads/collabora-office-brand/collabora-office-brand-26.04.2.1.tar.gz
	sha256sums = 58c3f352d0868248257cc99491ba817befa02bf8a4b136fb5bdafa672fb317f5
	sha256sums = 0fbe0e3b0694a8a75be67262aa65cbee0c5ebe6490439a57b4e4761b89ac06d9
	sha256sums = 321112b8f29d338ca9530dc604448c9eb465c4f9308468722f16a95fc6f830a8

pkgname = collabora-office
