pkgbase = gnome-shell-performance
	pkgdesc = Next generation desktop shell | Attempts to improve performances with non-upstreamed merge-requests and frequent stable branch resync
	pkgver = 47.1.r1.gf0fe25db6
	pkgrel = 1
	epoch = 1
	url = https://wiki.gnome.org/Projects/GnomeShell
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = asciidoc
	makedepends = bash-completion
	makedepends = evolution-data-server
	makedepends = gi-docgen
	makedepends = git
	makedepends = glib2-devel
	makedepends = gnome-control-center
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = sassc
	depends = accountsservice
	depends = gcr-4
	depends = gjs
	depends = gnome-autoar
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgweather-4
	depends = libibus
	depends = libnma-gtk4
	depends = libsecret
	depends = libsoup3
	depends = mutter
	depends = unzip
	depends = upower
	source = git+https://gitlab.gnome.org/GNOME/gnome-shell.git#commit=f0fe25db663ece8f9beb99b31b6524e6332dec93
	source = git+https://gitlab.gnome.org/GNOME/libgnome-volume-control.git#commit=5f9768a2eac29c1ed56f1fbb449a77a3523683b6
	sha256sums = 6d40a98a9dee39920922e5b821d92ff832176470828e4ff22b5e6ce1355d2982
	sha256sums = 587319b45ff7d989635aed0c3bd9ef834d6e53ae46788cb6ba083d42d7e63855
	b2sums = 279b0b007afca919db0bd38a5b751eea3a9bdc4596592b0514c57f5d6bf30d1bd736effd2c2e1e1b699ac0f9fa7b9199c92dbe844a1bec7750aef1b9df24ca1b
	b2sums = e31ae379039dfc345e8032f7b9803a59ded075fc52457ba1553276d3031e7025d9304a7f2167a01be2d54c5e121bae00a2824a9c5ccbf926865d0b24520bb053

pkgname = gnome-shell-performance
	groups = gnome
	depends = accountsservice
	depends = gcr-4
	depends = gjs
	depends = gnome-autoar
	depends = gnome-session
	depends = gnome-settings-daemon
	depends = gsettings-desktop-schemas
	depends = gtk4
	depends = libadwaita
	depends = libcanberra-pulse
	depends = libgdm
	depends = libgweather-4
	depends = libibus
	depends = libnma-gtk4
	depends = libsecret
	depends = libsoup3
	depends = mutter
	depends = unzip
	depends = upower
	depends = libmutter-15.so
	optdepends = evolution-data-server: Evolution calendar integration
	optdepends = gnome-bluetooth-3.0: Bluetooth support
	optdepends = gnome-control-center: System settings
	optdepends = gnome-disk-utility: Mount with keyfiles
	optdepends = gst-plugin-pipewire: Screen recording
	optdepends = gst-plugins-good: Screen recording
	optdepends = power-profiles-daemon: Power profile switching
	optdepends = python-gobject: gnome-shell-test-tool performance tester
	optdepends = python-simplejson: gnome-shell-test-tool performance tester
	optdepends = switcheroo-control: Multi-GPU support
	provides = gnome-shell
	provides = gnome-shell=47.1.r1.gf0fe25db6
	provides = gnome-shell=1:47.1.r1.gf0fe25db6
	conflicts = gnome-shell
