pkgbase = unityhub
	pkgdesc = The Unity Hub is a standalone application that streamlines the way you find, download, and manage your Unity Projects and installations.
	pkgver = 3.12.1
	pkgrel = 1
	url = https://unity.com/
	install = unityhub.install
	arch = x86_64
	license = custom
	depends = gtk3
	depends = libnotify
	depends = nss
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = util-linux-libs
	depends = libsecret
	depends = cpio
	optdepends = libappindicator-gtk3: The official deb says this an optional dependency
	conflicts = unityhub-beta
	source = unityhub-3.12.1.deb::https://hub.unity3d.com/linux/repos/deb/pool/main/u/unity/unityhub_amd64/unityhub-amd64-3.12.1.deb
	source = license.txt
	sha256sums = 669ce5dc7f1c81598faa94406a42f79b5d8e674e03773a66fb692b92e124c2b9
	sha256sums = f0eb3a4bb148bb7f426e4f5b97e891265ac487710cbcba9282518537c7b5d833

pkgname = unityhub
