pkgbase = firefox-extension-localcdn
	pkgdesc = LocalCDN addon for Firefox
	pkgver = 2.6.79
	pkgrel = 1
	url = https://www.localcdn.org/
	arch = any
	groups = firefox-addons
	license = MPL-2.0
	makedepends = git
	makedepends = zip
	makedepends = strip-nondeterminism
	provides = librewolf-extension-localcdn
	conflicts = librewolf-extension-localcdn
	source = git+https://codeberg.org/nobody/LocalCDN.git#commit=2ef7e4b753fef2262fffba8af1d2d1b591b274ab?signed
	validpgpkeys = 3F59043BE267E1B1177688AC8F6DE3D614FCFD7A
	b2sums = 5c27e5a5065fb622d290bf3f1ce1b584de73552e797dc5f6f242ce2a9c94851ef1165edcb8d4ebdf898025a02d32f32c1971ca57149336805e5d7321d709fc8b

pkgname = firefox-extension-localcdn
