pkgbase = firefox-extension-localcdn
	pkgdesc = LocalCDN addon for Firefox
	pkgver = 2.6.81
	pkgrel = 1
	url = https://www.localcdn.org/
	arch = any
	groups = firefox-addons
	license = MPL-2.0
	makedepends = git
	makedepends = zip
	makedepends = strip-nondeterminism
	provides = librewolf-extension-localcdn
	conflicts = librewolf-extension-localcdn
	source = git+https://codeberg.org/nobody/LocalCDN.git#commit=d4c68fe1a3ace65fd42f15b6a73cd96045235507?signed
	validpgpkeys = 3F59043BE267E1B1177688AC8F6DE3D614FCFD7A
	b2sums = de1cf572482ea7086cc04ce1ce8119fd7cf3fefabd6a3fb0500b91d003af1e2a068c90d2e708d9daea09ab2ca447058f185a92cdb19d3c78cdc15f5d3fc0f673

pkgname = firefox-extension-localcdn
