pkgbase = pcsx2-git
	pkgdesc = PlayStation 2 emulator
	pkgver = 2.7.132.r0.gb7fa45e
	pkgrel = 2
	url = https://github.com/PCSX2/pcsx2
	install = pcsx2.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	makedepends = alsa-lib
	makedepends = jack
	makedepends = libpulse
	makedepends = sndio
	makedepends = speexdsp
	makedepends = 7zip
	depends = kddockwidgets
	depends = libpcap
	depends = libpng
	depends = libwebp
	depends = libxi
	depends = libxrandr
	depends = plutosvg
	depends = plutovg
	depends = qt6-base
	depends = qt6-svg
	depends = sdl3
	depends = shaderc
	optdepends = alsa-utils: Sound player for RetroAchievements
	optdepends = gstreamer: Backup sound player for RetroAchievements
	provides = pcsx2
	conflicts = pcsx2
	options = !debug
	options = lto
	source = pcsx2::git+https://github.com/PCSX2/pcsx2.git
	source = pcsx2_patches::git+https://github.com/PCSX2/pcsx2_patches.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = pcsx2-git
