pkgbase = a2ln
	pkgdesc = Android 2 Linux Notifications Server
	pkgver = 1.1.16
	pkgrel = 1
	url = https://github.com/patri9ck/a2ln-server
	arch = any
	license = GPL3
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-setuptools
	depends = python
	depends = python-pyzmq
	depends = python-gobject
	depends = python-pillow
	depends = python-qrcode
	source = a2ln-1.1.16.tar.gz::https://github.com/patri9ck/a2ln-server/archive/1.1.16.tar.gz
	sha256sums = a32a1d4f7a534c223be016f132d81c9da50aa1a124ceb6245e8876aff6954f76

pkgname = a2ln
