pkgbase = icecat
	pkgdesc = GNU version of the Firefox ESR browser
	pkgver = 140.3.0
	pkgrel = 1
	url = https://gitweb.git.savannah.gnu.org/gitweb/?p=gnuzilla.git
	arch = x86_64
	license = MPL-2.0
	makedepends = cargo
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = dump_syms
	makedepends = imake
	makedepends = inetutils
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mercurial
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = python-setuptools
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = yasm
	makedepends = zip
	makedepends = git
	makedepends = m4
	makedepends = python-jsonschema
	makedepends = python-psutil
	makedepends = python-setuptools
	makedepends = wget
	makedepends = xorg-server-xvfb
	depends = dbus
	depends = ffmpeg
	depends = gtk3
	depends = libevent
	depends = libjpeg
	depends = libpulse
	depends = libvpx.so
	depends = libwebp.so
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = ttf-font
	depends = zlib
	optdepends = hunspell-dictionary: Spell checking
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	noextract = firefox-140.3.0esr.source.tar.xz
	options = !debug
	options = !emptydirs
	options = !lto
	options = !makeflags
	options = !strip
	source = gnuzilla-140.3.0-c939d76.tar.gz::https://cgit.git.savannah.gnu.org/cgit/gnuzilla.git/snapshot/gnuzilla-c939d76c33294791cce8ce1722bd6747dadbe31f.tar.gz
	source = https://archive.mozilla.org/pub/firefox/releases/140.3.0esr/source/firefox-140.3.0esr.source.tar.xz
	sha256sums = 1b7e531f781573c6476561f8a0781f99335e93e760916b6bd0e148872ae22bdd
	sha256sums = efc6eb3c93756311bd2f9db3796c0bbee6e3f182975d857284168b3dec672316

pkgname = icecat
