pkgbase = ptyxis
	pkgdesc = A terminal for a container-oriented desktop
	pkgver = 47.1
	pkgrel = 2
	url = https://gitlab.gnome.org/chergert/ptyxis
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk4
	depends = hicolor-icon-theme
	depends = json-glib
	depends = libadwaita
	depends = libportal
	depends = libportal-gtk4
	depends = pango
	depends = vte4
	source = ptyxis::git+https://gitlab.gnome.org/chergert/ptyxis#tag=47.1
	sha256sums = 08bd1ddbdd92493f6055da320e47f84d4e22ba8134a52d40e71cdfa83c840353

pkgname = ptyxis
