pkgbase = debtap
	pkgdesc = A script to convert .deb packages to Arch Linux packages, focused on accuracy. Do not use it to convert packages that already exist on official repositories or can be built from AUR!
	pkgver = 3.6.2
	pkgrel = 1
	url = https://github.com/helixarch/debtap
	install = debtap.install
	arch = any
	license = GPL2
	depends = bash
	depends = binutils
	depends = pkgfile
	depends = fakeroot
	source = debtap-3.6.2.tar.gz::https://github.com/helixarch/debtap/archive/3.6.2.tar.gz
	source = debtap.install
	sha512sums = 2f26a8d21a2932831e4142dcf768f0055bf903b6bcbd073779462e5bf8b70f39f56de5bc4d643be1682380c76cdc458c66ff19e4924e63e70cc99ac87ae00f95
	sha512sums = 5317cf5da1142ed83b1b11c60ee4a70ad74d21f6f98c59b0ec45ad4026d4db4952fe061fb493e3a92675e6bb558ea059677db2bcf42b620cb71d5b772b288008

pkgname = debtap
