pkgbase = protontricks-git
	pkgdesc = A simple wrapper that does winetricks things for Proton enabled games.
	pkgver = 1.13.0.r0.gaa8f1b1
	pkgrel = 1
	url = https://github.com/Matoking/protontricks
	arch = any
	license = GPL-3.0-or-later
	checkdepends = appstream
	checkdepends = desktop-file-utils
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-pillow
	depends = python-vdf
	depends = winetricks
	optdepends = yad: for GUI
	optdepends = zenity: fallback for GUI
	provides = protontricks
	conflicts = protontricks
	source = git+https://github.com/Matoking/protontricks.git
	sha256sums = SKIP

pkgname = protontricks-git
