pkgbase = opentabletdriver
	pkgdesc = A cross-platform open source tablet driver
	pkgver = 0.6.5.0
	pkgrel = 1
	url = https://opentabletdriver.net
	install = notes.install
	arch = x86_64
	license = LGPL3
	makedepends = dotnet-sdk>=8.0
	makedepends = jq
	makedepends = git
	depends = dotnet-runtime-8.0
	depends = gtk3
	depends = libevdev
	optdepends = libxrandr: x11 display querying support
	optdepends = libx11
	conflicts = digimend-kernel-drivers-dkms-git
	conflicts = digimend-drivers-git-dkms
	conflicts = digimend-kernel-drivers-dkms
	conflicts = digimend-kernel-drivers
	options = !strip
	source = OpenTabletDriver-0.6.5.0.tar.gz::https://github.com/OpenTabletDriver/OpenTabletDriver/archive/v0.6.5.0.tar.gz
	source = notes.install
	sha256sums = 139f8c8cc28c6687a452bec4e642f4e8523ac1ef34d019c848133fcfdb22d847
	sha256sums = 33e50caf00ab290463acaa09b024bcd8bcf6a39911db2fc506e88495171bf3e3

pkgname = opentabletdriver
