pkgbase = sardi-icons
	pkgdesc = Sardi is an icon collection for any linux distro with 6 different circular icons and 10 different kind of folders.
	pkgver = 25.04
	pkgrel = 1
	url = http://sourceforge.net/projects/sardi
	arch = any
	license = Attribution-NonCommercial-ShareAlike 4.0 International Public License
	makedepends = git
	provides = sardi-icons
	conflicts = sardi-icons
	options = !strip
	options = !emptydirs
	source = sardi-icons::http://downloads.sourceforge.net/project/sardi/sardi-icons-25.04-01.tar.gz
	sha256sums = 936e4612b825c53fa02498c70b2d6146513bb74a245a6d82da27925e2305e742

pkgname = sardi-icons
