pkgbase = sourcegit
	pkgdesc = GUI client for GIT users
	pkgver = 2026.03
	pkgrel = 1
	url = https://github.com/sourcegit-scm/sourcegit
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk-10.0
	makedepends = desktop-file-utils
	depends = dotnet-runtime-10.0
	depends = git
	depends = xdg-utils
	optdepends = git-credential-manager: third-party authentication support
	source = sourcegit-2026.03.tar.gz::https://github.com/sourcegit-scm/sourcegit/archive/refs/tags/v2026.03.tar.gz
	sha256sums = b683950c70531a3b43f5f8af9d01a581c0209ec3b78373c2b290aab9a609ee67

pkgname = sourcegit
