pkgbase = sourcegit
	pkgdesc = GUI client for GIT users
	pkgver = 2025.38
	pkgrel = 1
	url = https://github.com/sourcegit-scm/sourcegit
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk-9.0
	makedepends = desktop-file-utils
	depends = dotnet-runtime-9.0
	depends = git
	depends = xdg-utils
	optdepends = git-credential-manager: third-party authentication support
	source = sourcegit-2025.38.tar.gz::https://github.com/sourcegit-scm/sourcegit/archive/refs/tags/v2025.38.tar.gz
	sha256sums = 18a180b0709af57da348d9582aace9eb5301fd6a836b988caab75010a5eefb88

pkgname = sourcegit
