pkgbase = limine-snapper-sync
	pkgdesc = The tool syncs Limine snapshot entries with Snapper snapshots.
	pkgver = 1.21.0
	pkgrel = 1
	url = https://gitlab.com/Zesko/limine-snapper-sync
	arch = any
	license = GPL3
	makedepends = git
	makedepends = jdk21-openjdk
	makedepends = maven
	depends = bash
	depends = java-runtime-headless>=17
	depends = limine
	depends = snapper
	depends = btrfs-progs
	depends = libnotify
	optdepends = limine-dracut-support: Automates kernel installation/removal and Limine boot entry management.
	optdepends = limine-mkinitcpio-hook: Automates kernel installation/removal and Limine boot entry management.
	optdepends = inotify-tools: Monitors when snapshots are created or deleted.
	optdepends = rsync: Alternative method for restoring snapshots.
	optdepends = b3sum: Fast Blake3 hash function to prevent duplication.
	optdepends = xxhash: Fast hashing utility for deduplication with shorter hashes.
	conflicts = limine-snapper-sync-git
	backup = etc/limine-snapper-sync.conf
	source = limine-snapper-sync-1.21.0.tar.gz::https://gitlab.com/Zesko/limine-snapper-sync/-/archive/1.21.0/limine-snapper-sync-1.21.0.tar.gz
	sha256sums = b114a368405121be236c1f5c97c6fd6f765a637611256586c9996415bcf41cad

pkgname = limine-snapper-sync
