pkgbase = denise
	pkgdesc = Highly accurate C64/Amiga emulator
	pkgver = 2.5
	pkgrel = 1
	url = https://sourceforge.net/projects/deniseemu/
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = gtk3
	depends = openal
	depends = libpulse
	source = denise-2.5.tar.gz::https://bitbucket.org/piciji/denise/get/v2.5.tar.gz
	sha256sums = fd78aa7eeab9889001d4a43cfc06ae89ff3e1f317b0cdad9ee6604fcb0a116b2

pkgname = denise
