pkgbase = gnome-shell-extension-arch-update
	pkgdesc = Convenient indicator for Arch Linux updates in GNOME Shell.
	pkgver = 62
	pkgrel = 1
	url = https://github.com/RaphaelRochet/arch-update
	arch = any
	license = GPL3
	depends = fakeroot
	depends = gnome-shell
	depends = pacman-contrib
	conflicts = gnome-shell-extensions-git
	source = gnome-shell-extension-arch-update-62.tar.gz::https://github.com/RaphaelRochet/arch-update/archive/v62.tar.gz
	sha256sums = 7c742b577ec6f6794367904557919b1506dccfb3145d6676a0ec01fdc9782b11

pkgname = gnome-shell-extension-arch-update
