pkgbase = gleam
	pkgdesc = A friendly language for building type-safe, scalable systems!
	pkgver = 1.5.0
	pkgrel = 1
	url = http://github.com/gleam-lang/gleam
	arch = any
	license = Apache2
	makedepends = rust
	depends = erlang-nox
	provides = gleam
	options = strip
	options = !docs
	options = !libtool
	options = !staticlibs
	options = !lto
	source = https://github.com/gleam-lang/gleam/archive/v1.5.0.tar.gz
	sha256sums = 0342babfbd6d8201ae00b6b0ef5e0b181bce5690c703ffae8dd02542e024c4c2
	sha512sums = d886dcb30d9240715cae11ca071cdd209e517e5933becdda87301b0ef0bc082c3d1e4ba2236e81521952179d6b8d21f3847797903651e0aa8ccf7c5722573c12

pkgname = gleam
