pkgbase = python-timeago
	pkgdesc = Simple library used to format datetime with `***time ago` statement.
	pkgver = 1.0.16
	pkgrel = 3
	url = https://github.com/hustcc/timeago
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = timeago-1.0.16.tar.gz::https://github.com/hustcc/timeago/archive/refs/tags/1.0.16.tar.gz
	sha256sums = 7b54b88b3d0566cbf01ca11077dad8f7ae07a4318479e3d1b30feebe85f7137f

pkgname = python-timeago
