pkgbase = insync-nemo
	pkgdesc = Nemo integration for insync
	pkgver = 3.7.9.50368
	pkgrel = 1
	url = https://www.insynchq.com/downloads
	arch = any
	license = custom:insync
	depends = insync
	depends = nemo-python
	options = !strip
	source = insync-nemo-3.7.9.50368.deb::https://cdn.insynchq.com/builds/linux/insync-nemo_3.7.9.50368_all.deb
	sha256sums = 786ec8f9ce40dfa43408be5e5f7fdb7f8c09ce7d11fb4b818cae390ec18da354

pkgname = insync-nemo
