pkgbase = mise
pkgdesc = The front-end to your dev env
pkgver = 2025.1.15
pkgrel = 1
url = https://github.com/jdx/mise
arch = x86_64
license = MIT
makedepends = cargo
provides = mise
replaces = rtx
conflicts = rtx
conflicts = rtx-bin
source = mise-2025.1.15.tar.gz::https://github.com/jdx/mise/archive/v2025.1.15.tar.gz
sha512sums = d2195d2edb2beccee9b67bc958606deb3ff762b53472ac50711914affb5df2ef0454684e134bcb32be7635e3fef614f2181d689c845c4b403b603bcd26c8f85e

pkgname = mise
