pkgbase = mise
pkgdesc = The front-end to your dev env
pkgver = 2025.1.9
pkgrel = 1
url = https://github.com/jdx/mise
arch = x86_64
license = MIT
makedepends = cargo
provides = mise
replaces = rtx
conflicts = rtx
conflicts = rtx-bin
source = mise-2025.1.9.tar.gz::https://github.com/jdx/mise/archive/v2025.1.9.tar.gz
sha512sums = 23a353077576b836306b74fca2a67e708f773258ae9c505e27aa97f3491fb6f5f7f35fdba54718aaca2c4ed5453bee8210a3cd4fce5cf323ab687df0d372bbee

pkgname = mise
