pkgbase = droidcam-obs-plugin
	pkgdesc = plugin for droidcam obs
	pkgver = 2.3.4
	pkgrel = 1
	url = https://dev47apps.com/obs/
	arch = x86_64
	arch = i686
	license = GPL
	makedepends = git
	depends = obs-studio
	depends = libusbmuxd
	depends = libjpeg-turbo
	depends = libimobiledevice
	conflicts = droidcam-obs-plugin-git
	provides = droidcam-obs-plugin
	source = droidcam-obs-plugin::git+https://github.com/dev47apps/droidcam-obs-plugin.git#tag=57503761b3546fdf07d2403f9b94b76c8d7e654e
	sha256sums = SKIP

pkgname = droidcam-obs-plugin
