pkgbase = wl-screenrec
	pkgdesc = High performance hardware accelerated wlroots screen recorder
	pkgver = 0.3.2
	pkgrel = 2
	url = https://github.com/russelltg/wl-screenrec
	arch = i686
	arch = x86_64
	arch = aarch64
	license = APACHE
	makedepends = cargo
	makedepends = clang
	makedepends = rust
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = libva-driver
	depends = gcc-libs
	depends = glibc
	provides = wl-screenrec
	conflicts = wl-screenrec-git
	source = https://github.com/russelltg/wl-screenrec/archive/refs/tags/v0.3.2.tar.gz
	sha256sums = 03547c9d3d49fef106c0e69531c757b0b8ef26ccd17ea95debcf73e6d37c7e72

pkgname = wl-screenrec
