pkgbase = audiorelay
	pkgdesc = Stream your PC audio to your phone
	pkgver = 0.27.5
	pkgrel = 5
	url = https://audiorelay.net
	install = audiorelay.install
	arch = x86_64
	license = unknown
	depends = alsa-lib
	depends = flac
	depends = harfbuzz
	depends = libogg
	depends = libpulse
	depends = java-runtime>=17
	depends = archlinux-java-run
	depends = libvorbis
	depends = libxau
	depends = libxcb
	depends = systemd-libs
	depends = xdg-utils
	source = https://dl.audiorelay.net/setups/linux/audiorelay-0.27.5.tar.gz
	source = audiorelay.sh
	source = audiorelay.desktop
	sha256sums = c4854139a4bd21e7bf7881a7b6e21ebc4cfe823286783d4fb9ad4bf4edf8e8c7
	sha256sums = 4fd8aece2656e8bd8baabcc24b9b15325efeba07d45d840f96d1fb2d72c31762
	sha256sums = 5c3ffedcae814a0e83f06445b13db3944ac9970bd44226b02587a7bacf6e479f

pkgname = audiorelay
