pkgbase = airspy-git
	pkgdesc = Host code for Airspy SDR.
	pkgver = 20141216
	pkgrel = 1
	url = http://www.airspy.com
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = cmake
	depends = libusb>=1.0
	provides = airspy
	conflicts = airspy
	source = git+https://github.com/airspy/host
	source = airspy.conf
	md5sums = SKIP
	md5sums = 29e481d56bfc56cface4f1457ca6df23

pkgname = airspy-git

