pkgbase = python-desktop-notifier
	pkgdesc = Python library for cross-platform desktop notifications
	pkgver = 5.0.1
	pkgrel = 1
	url = https://github.com/SamSchott/desktop-notifier
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-sphinx
	makedepends = python-sphinx-autoapi
	makedepends = python-sphinx-furo
	makedepends = python-sphinx_mdinclude
	makedepends = python-wheel
	depends = python
	depends = python-certifi
	depends = python-charset-normalizer
	depends = python-packaging
	depends = python-dbus-next
	source = python-desktop-notifier-5.0.1.tar.gz::https://github.com/SamSchott/desktop-notifier/archive/v5.0.1.tar.gz
	sha256sums = 2d756fb4e82b8f95edb0e49ec9a3e8e4d5ba404c194cc6bffac14cd8bad33f74

pkgname = python-desktop-notifier
