pkgbase = plasma5-themes-whitesur-git
	pkgdesc = MacOS big sur like theme for KDE Plasma
	pkgver = r114.2b4bcc7
	pkgrel = 1
	url = https://github.com/vinceliuice/WhiteSur-kde
	arch = any
	license = GPL3
	makedepends = git
	optdepends = plasma-desktop: for included plasma theme
	optdepends = kvantum-qt5: for included kvantum theme
	optdepends = sddm: for included sddm theme
	optdepends = whitesur-icon-theme-git: matching icon theme
	optdepends = whitesur-cursor-theme-git: matching cursor theme
	optdepends = whitesur-gtk-theme-git: matching gtk theme
	optdepends = latte-dock: for included latte theme
	provides = whitesur-kde-theme
	source = git+https://github.com/vinceliuice/WhiteSur-kde.git
	sha256sums = SKIP

pkgname = plasma5-themes-whitesur-git
