pkgbase = appflowy-bin
	pkgdesc = AppFlowy is an open-source alternative to Notion. You are in charge of your data and customizations.
	pkgver = 0.6.5
	pkgrel = 1
	url = https://appflowy.io
	arch = x86_64
	license = AGPL
	depends = xdg-user-dirs
	depends = gtk3
	depends = libkeybinder3
	depends = libnotify
	provides = appflowy
	conflicts = appflowy
	source = https://github.com/AppFlowy-IO/AppFlowy/raw/0.6.5/LICENSE
	source = https://github.com/AppFlowy-IO/AppFlowy/releases/download/0.6.5/AppFlowy-0.6.5-linux-x86_64.deb
	b2sums = 6fa2a6adf165a614637f4aae5b323c427b99c2d13f9ab55eefae012dc3dbeebe5957cd2e2497e4c38426088a41dac89f6ac6284af6cf6a4a67a6780f409e8237
	b2sums = 46f636d660fe83884fee864b7dd618c76ffd58dbd7a10f5d30e2b5225d35500777e0e3f3ec2b5b801f091268ade97976f949ccd80ed36fce99baffd9bf25e108

pkgname = appflowy-bin
