pkgbase = appflowy-bin
	pkgdesc = AppFlowy is an open-source alternative to Notion. You are in charge of your data and customizations.
	pkgver = 0.12.0
	pkgrel = 1
	url = https://appflowy.io
	arch = x86_64
	license = AGPL-3.0-only
	depends = gtk3
	depends = libkeybinder3
	depends = libnotify
	depends = xdg-user-dirs
	depends = gst-plugins-base-libs
	optdepends = kdialog: For file picker on KDE plasma
	optdepends = zenity: bash dialog boxes
	provides = appflowy
	conflicts = appflowy
	source = https://github.com/AppFlowy-IO/AppFlowy/raw/0.12.0/LICENSE
	source = https://github.com/AppFlowy-IO/AppFlowy/releases/download/0.12.0/AppFlowy-0.12.0-linux-x86_64.deb
	b2sums = 6fa2a6adf165a614637f4aae5b323c427b99c2d13f9ab55eefae012dc3dbeebe5957cd2e2497e4c38426088a41dac89f6ac6284af6cf6a4a67a6780f409e8237
	b2sums = 168fddb076926f3ecd617dcb1ad786c3e9da7c3571746ae31c94f51dfc4633d7b329d39b12da59dc87d2eec3712d4565c3c29fdbee545a726b415795d2852a23

pkgname = appflowy-bin
