pkgbase = appflowy-bin
	pkgdesc = AppFlowy is an open-source alternative to Notion. You are in charge of your data and customizations.
	pkgver = 0.8.7
	pkgrel = 1
	url = https://appflowy.io
	arch = x86_64
	license = AGPL
	depends = xdg-user-dirs
	depends = gtk3
	depends = libkeybinder3
	depends = libnotify
	provides = appflowy
	conflicts = appflowy
	source = https://github.com/AppFlowy-IO/AppFlowy/raw/0.8.7/LICENSE
	source = https://github.com/AppFlowy-IO/AppFlowy/releases/download/0.8.7/AppFlowy-0.8.7-linux-x86_64.deb
	b2sums = 6fa2a6adf165a614637f4aae5b323c427b99c2d13f9ab55eefae012dc3dbeebe5957cd2e2497e4c38426088a41dac89f6ac6284af6cf6a4a67a6780f409e8237
	b2sums = 9ca2fc48b7129235f1ad52e331b562612ae04e701f0329e4366e92df481e5b4c96777a53054d939d3aa76ca479a43d2b608bb839b44bcc3f1192d72ad983b50a

pkgname = appflowy-bin
