pkgbase = wrapland
	pkgdesc = Qt/C++ library wrapping libwayland (kwinft)
	pkgver = 0.602.0
	pkgrel = 3
	url = https://github.com/winft/wrapland
	arch = x86_64
	arch = aarch64
	license = LGPL-2.1-only
	makedepends = doxygen
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = microsoft-gsl
	makedepends = ninja
	makedepends = wayland-protocols
	depends = libglvnd
	depends = qt6-base
	depends = wayland
	source = wrapland-0.602.0.tar.gz::https://github.com/winft/wrapland/archive/refs/tags/v0.602.0.tar.gz
	sha256sums = 553f655cc82dd82b2015f28d41e22b0f51a5d6dff6cf4605b589a2a2bee74b6a

pkgname = wrapland
