pkgbase = android-sdk-platform-tools
	pkgdesc = Platform-Tools for Google Android SDK (adb and fastboot)
	pkgver = 36.0.2
	pkgrel = 1
	url = http://developer.android.com/sdk/index.html
	install = android-sdk-platform-tools.install
	arch = x86_64
	license = custom
	depends = zlib
	depends = ncurses
	provides = adb
	provides = android-tools
	conflicts = adb
	source = https://dl.google.com/android/repository/platform-tools_r36.0.2-linux.zip
	source = adb.service
	source = license.html
	source = package.xml
	sha1sums = 3c5c54a14f51a2da59d7c4874372619a42deb94d
	sha1sums = 49a40c129199844603afe71fce69c0908e062393
	sha1sums = bfb91be7e0b602d765b7a1fcaf0ce1b7e1a93faa
	sha1sums = 53045ddc95fb10fe7aad86c8647601912e4e793b

pkgname = android-sdk-platform-tools
