pkgbase = goland
	pkgver = 2024.2.0.1
	pkgrel = 1
	url = https://www.jetbrains.com/go/
	arch = x86_64
	arch = i686
	license = custom:jetbrains
	depends = glib2
	options = !strip
	source = https://download-cf.jetbrains.com/go/goland-2024.2.0.1.tar.gz
	source = jetbrains-goland.desktop
	source = LICENSE
	b2sums = 69481ed0fcc140ddc13ef5e874244e6516c9c700fbbfd87e6301d843d0a492a9b4693a823c63bfb56dfe73d65f465b2ee73b3f11d2b25c8e33afb39df2940d1e
	b2sums = cd1f894e3364affc6ffc2aa4427d4466500934b5d382ee970cd8e0c4d485a4cb9b2eae91b06c10865e0823c2721557d539e220bbf000aad3e3916020c519b5f5
	b2sums = dadaf0e67b598aa7a7a4bf8644943a7ee8ebf4412abb17cd307f5989e36caf9d0db529a0e717a9df5d9537b10c4b13e814b955ada6f0d445913c812b63804e77

pkgname = goland
	pkgdesc = Capable and Ergonomic Go IDE
	optdepends = goland-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if goland-jre is not installed
	conflicts = gogland
	replaces = gogland

pkgname = goland-jre
	pkgdesc = JBR (JetBrains Runtime) for Goland - a patched JRE
	url = https://github.com/JetBrains/JetBrainsRuntime
	conflicts = gogland-jre
	replaces = gogland-jre
