pkgbase = sysd-manager
	pkgdesc = A systemd GUI to manage service, timer, socket and other units.
	pkgver = 2.13.2
	pkgrel = 1
	url = https://github.com/plrigaux/sysd-manager
	changelog = CHANGELOG.md
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	depends = gtk4
	depends = libadwaita
	depends = systemd-libs
	depends = gtksourceview5
	depends = gettext
	source = sysd-manager-2.13.2.tar.gz::https://github.com/plrigaux/sysd-manager/archive/refs/tags/v2.13.2.tar.gz
	sha256sums = cab30daee4c218bf3b20f2ca9dcc087d4707b3dc822ef264ac2cc93594c70774

pkgname = sysd-manager
