pkgbase = brave-origin-beta-bin
	pkgdesc = The minimalist browser from the makers of Brave (beta binary release).
	pkgver = 1.91.77
	pkgrel = 1
	url = https://brave.com/origin/download-beta
	arch = x86_64
	arch = aarch64
	license = MPL2
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = mesa: Hardware accelerated rendering
	optdepends = libglvnd: Support multiple different OpenGL drivers at any given time
	optdepends = libgnome-keyring: gnome keyring support
	provides = brave-origin-beta-bin
	provides = brave-origin-beta
	options = !strip
	source = brave-origin-beta-bin.sh
	sha512sums = d29202fe9c1433cc70f2f8032c1d3c8d61d4eac88324c4ddd475f59ce9198e1ff6b6ec2c6005e932960dda83439aae5092251c7dd90321c91b9775b31c4f5d51
	source_x86_64 = https://github.com/brave/brave-browser/releases/download/v1.91.77/brave-origin-beta_1.91.77_amd64.deb
	sha512sums_x86_64 = 77e44e5769d5d395edd194ef58b209cf183643f4b2b7f90d4f4d47019b6f77681b0659f6c311a31b9813284007e841900970c1014ea51d4d0208d5d4a823cc3c
	source_aarch64 = https://github.com/brave/brave-browser/releases/download/v1.91.77/brave-origin-beta-beta_1.91.77_arm64.deb
	sha512sums_aarch64 = f6fe2f5e9bc1a5dc55dc185ab110ccf79091980e36eb9845420b57e0824d0837cf8b75a1c698af2b852d68186d9674ca45769320701d52a9aa5c6b3ca707502b

pkgname = brave-origin-beta-bin
