pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 1.0.85
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	arch = x86_64
	license = LicenseRef-GitHub-Copilot
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	provides = copilot
	conflicts = github-copilot
	conflicts = github-copilot-cli-legacy
	replaces = github-copilot
	noextract = copilot-1.0.85.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-1.0.85.tgz
	source = CHANGELOG-1.0.85.md::https://raw.githubusercontent.com/github/copilot-cli/v1.0.85/changelog.md
	b2sums = 15f81b652c9dcddfb690c468c581684c23f5b585bb0d6946a24662915e96ac5690890e3cbe9749d98185f75025bbba3b7e42820b4326b1862491bbe74daae194
	b2sums = e6c6be35a67a061c3b1f93527117c494d0b1feb33882fcae608ef2e8179826bae60ef6104fc00dae9050f53c869cc9e6e1a3788b4d622e3a3d484ec6a551e9dd

pkgname = github-copilot-cli
