pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 1.0.16
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	arch = x86_64
	license = LicenseRef-GitHub-Copilot
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	provides = copilot
	conflicts = github-copilot
	conflicts = github-copilot-cli-legacy
	replaces = github-copilot
	noextract = copilot-1.0.16.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-1.0.16.tgz
	source = CHANGELOG-1.0.16.md::https://raw.githubusercontent.com/github/copilot-cli/v1.0.16/changelog.md
	b2sums = 1248ae4d46b077bb8a24ee5ba6bd0771074ace7a4a96288e25ef3b7e588a11b73888b3ccfb69b17ce7dcd40a5c612704fec1ccd569e677071caec55692c0d29b
	b2sums = d0ac5ec2d38daa6764a2d2458406744f15c5dff7657732d10ba309f95f80d0256b1564a16ea6442c73d27777f17ff3d7d8f6ff1198903904d584b05952627957

pkgname = github-copilot-cli
