pkgbase = github-copilot-cli
	pkgdesc = GitHub Copilot CLI brings the power of Copilot coding agent directly to your terminal.
	pkgver = 0.0.421
	pkgrel = 1
	url = https://github.com/github/copilot-cli
	changelog = changelog.md
	arch = x86_64
	license = LicenseRef-GitHub
	makedepends = npm
	makedepends = jq
	depends = glibc
	depends = gcc-libs
	depends = nodejs
	depends = glib2
	depends = libsecret
	provides = copilot
	conflicts = github-copilot
	conflicts = github-copilot-cli-legacy
	replaces = github-copilot
	noextract = copilot-0.0.421.tgz
	options = !strip
	options = emptydirs
	options = staticlibs
	options = zipman
	source = https://registry.npmjs.org/@github/copilot/-/copilot-0.0.421.tgz
	b2sums = 9961b4c68a2a58dd2845ac94dc0d0f688327e3250edae84496929115b86a21bde1a1579434ad7df2f6c931972ff6435b906db7c5f2e851934f9273ae22021ee2

pkgname = github-copilot-cli
