pkgbase = waydroid
	pkgdesc = A container-based approach to boot a full Android system on a regular Linux system
	pkgver = 1.5.0
	pkgrel = 1
	url = https://waydro.id/
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	depends = lxc
	depends = python-gbinder
	depends = python-gobject
	depends = nftables
	depends = dnsmasq
	depends = gtk3
	depends = dbus-python
	optdepends = python-pyclip: share clipboard with container
	source = waydroid::git+https://github.com/waydroid/waydroid.git#commit=61d5be43dc7b4ccb07f08179ec44a4acc838e94e
	sha256sums = f07b27f07918e537c55e652ca0dfd90094062fbd11b2dbe5fea5b5cd9143d3f2

pkgname = waydroid
