pkgbase = cloaker-bin
	pkgdesc = Simple password-based file encryption
	pkgver = 4.0
	pkgrel = 1
	url = https://github.com/spieglt/Cloaker
	arch = x86_64
	license = GPL3
	makedepends = patchelf
	makedepends = binutils
	depends = gcc-libs
	depends = xdg-utils
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-translations
	optdepends = qt5-imageformats
	optdepends = qt5-svg
	optdepends = qt5-virtualkeyboard
	source = src.iso::https://github.com/spieglt/Cloaker/releases/download/v4.0/Cloaker_Linux.AppImage
	source = cloaker.png
	source = cloaker.desktop
	sha256sums = 9a74aafdebe1257f7d613ddd584c47aeafbc2e10de13db7af17dcdca957ebcbc
	sha256sums = bcc57d448943333c9f937c013e718f922c3141011c8ede6428b2963f4ec559fd
	sha256sums = a00563de575ed4b28c764616475bb73aacdaa7a2ff0d35ca1fdbde06b6d998e1

pkgname = cloaker-bin
