pkgbase = postman-bin
	pkgdesc = Build, test, and document your APIs faster
	pkgver = 11.28.4
	pkgrel = 1
	url = https://www.getpostman.com
	arch = x86_64
	arch = aarch64
	license = custom
	depends = libxss
	depends = nss
	depends = gtk3
	provides = postman
	conflicts = postman
	options = !strip
	source_x86_64 = postman-11.28.4-linux-x64.tar.gz::https://dl.pstmn.io/download/version/11.28.4/linux64
	source_x86_64 = postman.desktop
	sha256sums_x86_64 = 1a5df07e97d30263d47591437a4fdd1de14001be90fe7e51ccb32a11e7cfdd67
	sha256sums_x86_64 = d87542ac18455ff341da7c5efd01db96a01f659b1bf546840aa4ac8bd085802d
	source_aarch64 = postman-11.28.4-linux-arm64.tar.gz::https://dl.pstmn.io/download/version/11.28.4/linux_arm64
	source_aarch64 = postman.desktop
	sha256sums_aarch64 = bfa4e618c45ce6e3c34ed3a3618f687a5455f06eb51212762706bd33b62f21f2
	sha256sums_aarch64 = d87542ac18455ff341da7c5efd01db96a01f659b1bf546840aa4ac8bd085802d

pkgname = postman-bin
