pkgbase = postman-bin
	pkgdesc = Build, test, and document your APIs faster
	pkgver = 11.52.5
	pkgrel = 1
	url = https://www.getpostman.com
	arch = x86_64
	arch = aarch64
	license = custom
	depends = libxss
	depends = nss
	depends = gtk3
	depends = alsa-lib
	depends = libsecret
	provides = postman
	conflicts = postman
	options = !strip
	source_x86_64 = postman-11.52.5-linux-x64.tar.gz::https://dl.pstmn.io/download/version/11.52.5/linux64
	source_x86_64 = postman.desktop
	sha256sums_x86_64 = a1bf3d7171e5253050922f202fc26346a4ab3e0f925a967bf1bb8a47c7273a4f
	sha256sums_x86_64 = d87542ac18455ff341da7c5efd01db96a01f659b1bf546840aa4ac8bd085802d
	source_aarch64 = postman-11.52.5-linux-arm64.tar.gz::https://dl.pstmn.io/download/version/11.52.5/linux_arm64
	source_aarch64 = postman.desktop
	sha256sums_aarch64 = 2e72b07f162e65171b594224a04bd3b2cf59bbf747828efee855e5fb475a5d79
	sha256sums_aarch64 = d87542ac18455ff341da7c5efd01db96a01f659b1bf546840aa4ac8bd085802d

pkgname = postman-bin
