pkgbase = itcl3
	pkgdesc = Provides the extra language support needed to build large Tcl/Tk applications, version 3.4
	pkgver = 3.4.4
	pkgrel = 1
	url = http://incrtcl.sourceforge.net/
	arch = i686
	arch = x86_64
	license = custom
	depends = glibc
	depends = tcl
	provides = itcl
	conflicts = itcl
	source = https://downloads.sourceforge.net/project/incrtcl/%5BIncr%20Tcl_Tk%5D-source/Itcl%203.4.4/itcl3.4.4.tar.gz
	md5sums = 74feb037705c6bfadf5a375bcb6c4483

pkgname = itcl3
