pkgbase = python-inquirerpy
	pkgdesc = Python port of Inquirer.js (A collection of common interactive command-line user interfaces)
	pkgver = 0.3.4
	pkgrel = 6
	url = https://github.com/kazhala/InquirerPy
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	depends = python
	depends = python-pfzy
	depends = python-prompt_toolkit
	source = https://files.pythonhosted.org/packages/source/I/InquirerPy/InquirerPy-0.3.4.tar.gz
	sha256sums = 89d2ada0111f337483cb41ae31073108b2ec1e618a49d7110b0d7ade89fc197e

pkgname = python-inquirerpy
	depends = python
	depends = python-pfzy
	depends = python-prompt_toolkit
