pkgbase = hunspell-uk
	pkgdesc = Ukrainian spelling dictionary
	pkgver = 6.5.3
	pkgrel = 1
	url = https://github.com/brown-uk/dict_uk
	arch = any
	license = GPL-3.0-or-later
	license = CC-BY-NC-SA-4.0
	makedepends = java-environment
	makedepends = gradle
	makedepends = qt5-webengine
	optdepends = hunspell: the spell checking libraries and apps
	source = hunspell-uk-6.5.3.tar.gz::https://github.com/brown-uk/dict_uk/archive/refs/tags/v6.5.3.tar.gz
	sha256sums = 0e66bf07cc8377642897fda05396817e6347e917e22aab0cc2d29620d80be0b1

pkgname = hunspell-uk
