pkgbase = nvidia-470xx-settings
	pkgdesc = Tool for configuring the NVIDIA graphics driver
	pkgver = 470.256.02
	pkgrel = 3
	url = https://github.com/NVIDIA/nvidia-settings
	arch = x86_64
	license = GPL2
	makedepends = inetutils
	makedepends = jansson
	makedepends = gtk2
	makedepends = gtk3
	makedepends = libxv
	makedepends = libvdpau
	makedepends = nvidia-470xx-utils
	makedepends = libxext
	options = staticlibs
	source = nvidia-470xx-settings-470.256.02.tar.gz::https://github.com/NVIDIA/nvidia-settings/archive/470.256.02.tar.gz
	source = libxnvctrl_so.patch
	sha512sums = ffcae8ff5d525aff43a83c919b663ba125e055fe6506bb26bc2d41a2127a2721a199242fe83f74705a1f532047286be498ae18e8f01c9091d5e9edf95f94b76f
	sha512sums = 91ff94736063b911c83b8876fe3e3778db82e0ffe0102036d81a3a6e872ca44a585914646fcbbbe399cd63aa17685fc7f73263ec4f4084f48768ca4d704037fa

pkgname = nvidia-470xx-settings
	depends = jansson
	depends = gtk3
	depends = libxv
	depends = libvdpau
	depends = nvidia-470xx-utils
	depends = libxnvctrl-470xx
	provides = nvidia-settings
	conflicts = nvidia-settings

pkgname = libxnvctrl-470xx
	pkgdesc = NVIDIA NV-CONTROL X extension
	depends = libxext
	provides = libxnvctrl
	provides = libXNVCtrl.so
	conflicts = libxnvctrl
