pkgbase = swayr
	pkgdesc = Swayr is a window switcher (and more) for sway
	pkgver = 0.27.4
	pkgrel = 1
	url = https://git.sr.ht/~tsdh/swayr
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cargo
	source = swayr-0.27.4.tar.gz::https://static.crates.io/crates/swayr/swayr-0.27.4.crate
	sha256sums = 38ed1b1f638e994dfd29baa7d5c48a8d3941f34c149fbe205271b1e518bfe7a6

pkgname = swayr
