pkgbase = fuse-emulator
	pkgdesc = ZX Spectrum emulator.
	pkgver = 1.7.0
	pkgrel = 1
	url = http://fuse-emulator.sourceforge.net/fuse.php
	arch = i686
	arch = x86_64
	license = GPL
	depends = gtk3
	depends = libspectrum>=1.6.0
	depends = sdl
	optdepends = libgcrypt: the ability to digitally sign RZX files
	optdepends = libpng: the ability to save screenshots
	optdepends = libxml2: the ability to load and save the current configuration and capture BASIC video functions to SVG
	optdepends = zlib: support for compressed RZX files and zipped files
	optdepends = bzip2: support for certain compressed files
	optdepends = audiofile: support for loading from .wav files
	conflicts = fuse-emulator-sdl
	source = http://downloads.sourceforge.net/sourceforge/fuse-emulator/fuse-1.7.0.tar.gz
	source = https://gitlab.com/menelkir/fuseroms/-/archive/0.2/fuseroms-0.2.tar.gz
	source = fuse-emulator.desktop
	sha512sums = 9903773fd9ced1e36f4b0720201f721f9a3b7876a4d11ada95ffa328ec5bd166dc37c09818e7d96de3c45e5f26d074f4b072a1db6dd0786470dc9fbbb3483084
	sha512sums = 16f0993e6237252893e4624733f6e609a02a7cd9a726976b6dbf3ef1f08b3bda36c5ebadb07ba5283326dce1f71be10ce1ef6601262aa11e1ddc94e958ab63ac
	sha512sums = 46b59831fb2ce0da176b7db1a89c17e75ae45c7dfb459287d1f22e4bf4d107d6261ff9e04e1d76b5421f5106a4a64e10e7876069c13fa2a3a0dd4a56f61d5193

pkgname = fuse-emulator
