pkgbase = rockchip-mpp
	pkgdesc = Rockchip Media Process Platform (MPP)
	pkgver = 1.0.9
	pkgrel = 1
	epoch = 1
	url = https://github.com/rockchip-linux/mpp/
	arch = x86_64
	license = Apache-2.0
	license = MIT
	makedepends = cmake
	depends = gcc-libs
	depends = glibc
	source = https://github.com/rockchip-linux/mpp/archive/1.0.9/rockchip-mpp-1.0.9.tar.gz
	sha256sums = c8cc854ecdb72c09f087acaf2288d05f2173d0331720a00984ce5b1562d89afd

pkgname = rockchip-mpp
