pkgbase = strain
	pkgdesc = A CPU stressing utility written in Rust
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/JacoMalan1/strain
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = gcc
	depends = gcc-libs
	depends = gmp
	depends = lib32-gmp
	depends = mpfr
	depends = libmpc
	provides = strain
	conflicts = strain
	source = https://github.com/JacoMalan1/strain/archive/refs/tags/0.1.2.zip
	sha256sums = 55a05c9af28b2d846259bd9c05a55ed7ac9e238ad4ad0cb38bd15ba78500842a

pkgname = strain
