pkgbase = prjxray-git
	pkgdesc = Documenting the Xilinx 7-series bit-stream format
	pkgver = r3947.08353c97
	pkgrel = 1
	url = https://github.com/SymbiFlow/prjxray
	arch = x86_64
	license = ISC
	checkdepends = python-pytest
	makedepends = cmake
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = python-fasm
	depends = python-intervaltree
	depends = python-numpy
	depends = python-pyjson5
	depends = python-simplejson
	depends = python-yaml
	optdepends = prjxray-db: The pre-built database
	source = prjxray::git+https://github.com/SymbiFlow/prjxray.git
	source = git+https://github.com/arsenm/sanitizers-cmake
	source = git+https://github.com/google/googletest
	source = git+https://github.com/gflags/gflags
	source = git+https://github.com/google/cctz
	source = git+https://github.com/abseil/abseil-cpp
	source = git+https://github.com/jbeder/yaml-cpp
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = prjxray-tools-git
	depends = gcc-libs
	provides = prjxray-tools
	provides = prjxray
	conflicts = prjxray-tools
	conflicts = prjxray

pkgname = python-prjxray-git
	arch = any
	depends = python
	depends = python-fasm
	depends = python-intervaltree
	depends = python-numpy
	depends = python-pyjson5
	depends = python-simplejson
	depends = python-yaml
	provides = python-prjxray
	conflicts = python-prjxray
