pkgbase = freshfetch-git
	pkgdesc = A fresh take on Neofetch
	pkgver = 0.2.0.r7.gace04ea
	pkgrel = 1
	url = https://github.com/K4rakara/freshfetch
	arch = any
	license = MIT
	makedepends = cargo
	makedepends = git
	depends = luajit
	optdepends = xorg-xrandr
	optdepends = xorg-xwininfo
	provides = freshfetch
	conflicts = freshfetch
	conflicts = freshfetch-git
	source = git+https://github.com/K4rakara/freshfetch.git
	source = https://raw.githubusercontent.com/K4rakara/freshfetch/master/LICENSE.md
	md5sums = SKIP
	md5sums = a4c191c500e67564935777e1abaebbab

pkgname = freshfetch-git
