pkgbase = wezterm-git
	pkgdesc = A terminal emulator implemented in Rust, using OpenGL ES 2 for rendering.
	pkgver = 20240121.180215.76028ca1
	pkgrel = 2
	url = https://github.com/wez/wezterm
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = cargo
	makedepends = cmake
	makedepends = git
	makedepends = pkgconf
	makedepends = python
	depends = dbus
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = libx11
	depends = libxkbcommon-x11
	depends = wayland
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-wm
	provides = wezterm
	provides = wezterm-gui
	provides = wezterm-mux-server
	provides = wezterm-shell-integration
	provides = wezterm-terminfo
	conflicts = wezterm
	conflicts = wezterm-bin
	conflicts = wezterm-nightly-bin
	conflicts = wezterm-shell-integration
	conflicts = wezterm-terminfo
	options = !lto
	source = wezterm::git+https://github.com/wez/wezterm.git
	source = harfbuzz::git+https://github.com/harfbuzz/harfbuzz.git
	source = libpng::git+https://github.com/glennrp/libpng.git
	source = zlib::git+https://github.com/madler/zlib.git
	source = freetype2::git+https://github.com/wez/freetype2.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = wezterm-git
