pkgbase = resources
	pkgdesc = Monitor your system resources and processes
	pkgver = 1.5.0
	pkgrel = 1
	url = https://github.com/nokyan/resources
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = appstream-glib
	makedepends = cargo
	makedepends = git
	makedepends = meson
	depends = dmidecode
	depends = libadwaita
	depends = polkit
	source = git+https://github.com/nokyan/resources.git#commit=19ca84f1a3f61cd8f3c1af1d898753904c4035f7
	sha256sums = SKIP

pkgname = resources
