pkgbase = zfs-dkms-git
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2.3.99.r162.g788e69ca5d
	pkgrel = 1
	epoch = 2
	url = https://zfsonlinux.org/
	arch = any
	groups = zfs-git
	license = CDDL
	makedepends = git
	provides = ZFS-MODULE=2.3.99.r162.g788e69ca5d
	provides = SPL-MODULE=2.3.99.r162.g788e69ca5d
	provides = zfs
	provides = zfs-dkms=2.3.99.r162.g788e69ca5d
	conflicts = zfs-dkms
	source = git+https://github.com/openzfs/zfs.git
	source = 0001-only-build-the-module-in-dkms.conf.patch
	sha256sums = SKIP
	sha256sums = 3039da5ecb6fe5f7dbaab8492f73d59bcafb8b22bd267f9d72a3ce5e70f82113
	b2sums = SKIP
	b2sums = 26f28e841aafab9855791f2de45525ce26edd11a83d7e7bd7cc2f699bdba5dd8fd810827fba58365f655fdacd8a0f4f1febb1b339c17a7c4b3d498fb333ef6ac

pkgname = zfs-dkms-git
	depends = zfs-utils-git=2:2.3.99.r162.g788e69ca5d
	depends = dkms
