pkgbase = python-posthog
	pkgdesc = Integrate PostHog into any python application.
	pkgver = 3.16.0
	pkgrel = 1
	url = https://posthog.com/docs/libraries/python
	arch = any
	license = MIT
	checkdepends = python-anthropic
	checkdepends = python-freezegun
	checkdepends = python-openai
	checkdepends = python-parameterized
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-timeout
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python-backoff
	depends = python-dateutil
	depends = python-distro
	depends = python-monotonic
	depends = python-requests
	depends = python-six
	optdepends = python-anthropic: Anthropic support for LLM Observability
	optdepends = python-django: Django Sentry Integration
	optdepends = python-langchain: LLM observability callback handler
	optdepends = python-openai: OpenAI SDK support
	optdepends = python-sentry_sdk: Django Sentry Integration
	source = posthog-python-3.16.0.tar.gz::https://github.com/PostHog/posthog-python/archive/refs/tags/v3.16.0.tar.gz
	sha256sums = bb8c55b63a4cb06b3cc52166dac71d52e37cf6033f40efd69591e3ed5cff5641

pkgname = python-posthog
