pkgbase = nginx-mainline-mod-lua
	pkgdesc = Lua script engine module for mainline nginx
	pkgver = 0.10.28
	pkgrel = 1
	epoch = 1
	url = https://github.com/openresty/lua-nginx-module
	arch = i686
	arch = x86_64
	license = BSD
	makedepends = nginx-mainline-src
	depends = nginx-mainline
	depends = nginx-mainline-mod-ndk
	depends = luajit
	depends = lua-resty-core
	depends = pcre
	source = https://github.com/openresty/lua-nginx-module/archive/v0.10.28/lua-0.10.28.tar.gz
	source = cookie.patch
	sha256sums = 634827d54de6216cb0502d14f76610788b3a3e33160e91d5578d6db0d9a34a20
	sha256sums = 774e46d085ca8bd0d7cd84a36946cf1fd31f284ca9ebc90828b758297614975b

pkgname = nginx-mainline-mod-lua
