pkgbase = delta-shell-git
	pkgdesc = A Desktop Shell for Niri and Hyprland
	pkgver = r309.6a7d3c2
	pkgrel = 1
	url = https://github.com/sinomor/delta-shell
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = unzip
	makedepends = git
	makedepends = npm
	depends = wireplumber
	depends = networkmanager
	depends = dart-sass
	depends = wl-clipboard
	depends = upower
	depends = libadwaita
	depends = aylurs-gtk-shell-git
	depends = libastal-meta
	depends = libastal-niri-git
	optdepends = cliphist: for clipboard management
	optdepends = gpu-screen-recorder: for recording screen from control center
	optdepends = geoclue: for autoloading the location for weather
	optdepends = brightnessctl: for controlling screen brightness
	optdepends = ddcutil: for controlling external monitors brightness
	optdepends = power-profiles-daemon: for switching between power profiles
	optdepends = bluez: for connecting to bluetooth devices
	optdepends = libgtop: for monitoring cpu usage
	source = git+https://github.com/sinomor/delta-shell.git
	sha256sums = SKIP

pkgname = delta-shell-git
