pkgbase = activitywatch-bin
	pkgdesc = Track how you spend time on your computer. Simple, extensible, no third parties.
	pkgver = 0.14.0
	pkgrel = 1
	url = https://github.com/ActivityWatch/activitywatch
	arch = x86_64
	license = MPL2
	provides = activitywatch
	conflicts = activitywatch
	source = https://github.com/ActivityWatch/activitywatch/releases/download/v0.14.0/activitywatch-v0.14.0-linux-x86_64.zip
	md5sums = 05befd08ae9aa3d2194336e11b07f079

pkgname = activitywatch-bin
