pkgbase = activitywatch-bin
	pkgdesc = Track how you spend time on your computer. Simple, extensible, no third parties.
	pkgver = 0.13.2
	pkgrel = 1
	url = https://github.com/ActivityWatch/activitywatch
	arch = x86_64
	license = MPL2
	provides = activitywatch
	conflicts = activitywatch
	source = https://github.com/ActivityWatch/activitywatch/releases/download/v0.13.2/activitywatch-v0.13.2-linux-x86_64.zip
	md5sums = 663501b3a59a874d549142d78c77f6d3

pkgname = activitywatch-bin
