pkgbase = whatsie-git
	pkgdesc = Fast Light weight WhatsApp Client based on Qt's WebEngine, With lots of settings and packed goodies
	pkgver = 4.14.2.r0.gc478a7d
	pkgrel = 1
	url = https://github.com/keshavbhatt/whatsie
	arch = armv6h
	arch = armv7h
	arch = arm
	arch = aarch64
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = qt5-base
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-location
	depends = qt5-webchannel
	depends = qt5-webengine
	provides = whatsie
	conflicts = whatsie
	source = whatsie::git+https://github.com/keshavbhatt/whatsie
	sha256sums = SKIP

pkgname = whatsie-git
