pkgbase = python-sounddevice
	pkgdesc = Record and play back sound
	pkgver = 0.5.5
	pkgrel = 1
	url = https://python-sounddevice.rtfd.io/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = portaudio
	depends = python-cffi
	optdepends = python-numpy: to play back and record NumPy arrays
	source = https://files.pythonhosted.org/packages/source/s/sounddevice/sounddevice-0.5.5.tar.gz
	b2sums = 25da7f11bb20f115c828bfb4de00c7ced40224126b5da3a08027c0459d40e1300a4747305c25dab480f73db87c9ad6f0982d0af6adf8c3cc4d5de2e0e9ffaaff

pkgname = python-sounddevice
