pkgbase = yubico-authenticator-bin
	pkgdesc = Cross-platform application for managing your YubiKey's second factor credentials (version 7)
	pkgver = 7.2.3
	pkgrel = 1
	url = https://github.com/Yubico/yubioath-flutter
	arch = x86_64
	license = Apache
	depends = ccid
	depends = zenity
	optdepends = gnome-screenshot: QR scanning feature on GNOME
	optdepends = spectacle: QR scanning feature on KDE
	conflicts = yubico-authenticator
	options = !strip
	source = https://github.com/Yubico/yubioath-flutter/releases/download/7.2.3/yubico-authenticator-7.2.3-linux.tar.gz
	source = https://github.com/Yubico/yubioath-flutter/releases/download/7.2.3/yubico-authenticator-7.2.3-linux.tar.gz.sig
	validpgpkeys = 20EE325B86A81BCBD3E56798F04367096FBA95E8
	sha256sums = 05a6127bd58481780649026bf8dcc73020eb940512971a81d765c6c0e4a2bb7d
	sha256sums = SKIP

pkgname = yubico-authenticator-bin
