pkgbase = python-musicpd
	pkgdesc = An MPD (Music Player Daemon) client library written in pure Python.
	pkgver = 0.9.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/python-musicpd
	arch = any
	license = GPL
	makedepends = make
	makedepends = python-build
	makedepends = python-installer
	depends = python
	source = https://gitlab.com/kaliko/python-musicpd/-/archive/v0.9.0/python-musicpd-v0.9.0.tar.gz
	md5sums = e90f0f0d9caf5b60ca9ec219c35eec94

pkgname = python-musicpd
