pkgbase = intellij-idea-ultimate-edition
	pkgdesc = An intelligent IDE for Java, Groovy and other programming languages with advanced refactoring features intensely focused on developer productivity.
	pkgver = 2024.3.2
	pkgrel = 2
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	arch = aarch64
	license = custom:commercial
	provides = intellij-idea-ultimate-edition-jre
	conflicts = intellij-idea-ultimate-edition-jre
	options = !strip
	source = jetbrains-idea.desktop
	sha256sums = 83af2ba8f9f14275a6684e79d6d4bd9b48cd852c047dacfc81324588fa2ff92b
	source_x86_64 = https://download.jetbrains.com/idea/ideaIU-2024.3.2.tar.gz
	sha256sums_x86_64 = 05f30fff53c1b73f9c261e812c236134e203bf7d847424a27d9409fd6b0b6fcb
	source_aarch64 = https://download.jetbrains.com/idea/ideaIU-2024.3.2-aarch64.tar.gz
	source_aarch64 = https://cache-redirector.jetbrains.com/intellij-jbr/jbr-21.0.5-linux-aarch64-b762.40.tar.gz
	source_aarch64 = https://github.com/JetBrains/intellij-community/raw/master/bin/linux/aarch64/fsnotifier
	sha256sums_aarch64 = d41082d25ec1639d399a5cbbabf29afa8082d6eddff8b24e56107f159dbe85b4
	sha256sums_aarch64 = bd08a3611e95b0b426c5eb9e197f42d64f01b8fe0c6ccd84e2694b1edff4c80f
	sha256sums_aarch64 = eb3c61973d34f051dcd3a9ae628a6ee37cd2b24a1394673bb28421a6f39dae29

pkgname = intellij-idea-ultimate-edition
	depends = giflib
	depends = libxtst
	depends = libxrender
	optdepends = intellij-idea-ultimate-edition-jre: JetBrains custom JRE (Recommended)
	optdepends = java-environment: Required if intellij-idea-ultimate-edition-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	backup = opt/intellij-idea-ultimate-edition/bin/idea64.vmoptions
	backup = opt/intellij-idea-ultimate-edition/bin/idea.properties
