pkgbase = goofcord-bin
	pkgdesc = Take control of your Discord experience with GoofCord – the highly configurable and privacy first discord client.(Prebuilt version.Use system-wide electron)
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/Milkshiift/GoofCord
	arch = aarch64
	arch = armv7h
	arch = x86_64
	license = OSL-3.0
	depends = electron36
	provides = goofcord=1.10.0
	conflicts = goofcord
	source = LICENSE-1.10.0::https://raw.githubusercontent.com/Milkshiift/GoofCord/v1.10.0/LICENSE
	source = goofcord.sh
	sha256sums = d0b8ca723cd827408f3f0abeaf7543ed3b1bee6f948d33d08ad33e4ad08b4f2b
	sha256sums = 291f50480f5a61bc9c68db7d44cd0412071128706baa868a9cb854f8779a1980
	source_aarch64 = goofcord-1.10.0-aarch64.rpm::https://github.com/Milkshiift/GoofCord/releases/download/v1.10.0/GoofCord-1.10.0-linux-aarch64.rpm
	sha256sums_aarch64 = 2edacaa15b014b12b36685767b79e9d13d14501bbdde0141776542a8afbc498f
	source_armv7h = goofcord-1.10.0-armv7h.rpm::https://github.com/Milkshiift/GoofCord/releases/download/v1.10.0/GoofCord-1.10.0-linux-armv7l.rpm
	sha256sums_armv7h = 3160ea0da56f1e48831008521936a334f4c6215f0a83ee3e732131ba3eb082bc
	source_x86_64 = goofcord-1.10.0-x86_64.rpm::https://github.com/Milkshiift/GoofCord/releases/download/v1.10.0/GoofCord-1.10.0-linux-x86_64.rpm
	sha256sums_x86_64 = 86dd3c0415b600018a0b24ca55d81f83272ace60855004bf0ad4d2e65b2f3ba0

pkgname = goofcord-bin
