pkgbase = mastodon
	pkgdesc = Your self-hosted, globally interconnected microblogging community
	pkgver = 4.5.2
	pkgrel = 1
	url = https://github.com/mastodon/mastodon
	install = mastodon.install
	arch = any
	license = AGPL3
	depends = corepack
	depends = ffmpeg
	depends = git
	depends = libidn
	depends = libpqxx
	depends = libvips
	depends = libxml2
	depends = libxslt
	depends = libyaml
	depends = nodejs
	depends = postgresql
	depends = protobuf
	depends = ruby-bundler
	depends = sudo
	depends = valkey
	depends = zlib
	depends = yarn-berry
	options = !strip
	backup = etc/mastodon.conf
	source = https://github.com/mastodon/mastodon/archive/v4.5.2.tar.gz
	source = mastodon.target
	source = mastodon.sysusers.d
	source = mastodon.tmpfiles.d
	source = devise_pam.patch
	sha256sums = 5fc1f2409f59ac4fdd07addb01ed1ab0dba57251cd1f44a39c3e4a57037795d7
	sha256sums = e9928ced31f6490476100f02f2e158e41a076988dd7f3dff8f21d245bc2bb0ff
	sha256sums = 1b67693f7de5802a34985b9ac969497fc6e6042dcae0b8abf6595b9fe15ee80e
	sha256sums = 3fdd54dd1f374b7206c8beaebafdf890e74d30385f0c93f9cd99e1e4be92f8fa
	sha256sums = 8415cded8d5f159623439b8ab0a87c1ac653a32f6945eebc9140195289c1ece6

pkgname = mastodon
