pkgbase = sc-controller
	pkgdesc = User-mode driver, mapper and GTK3 based GUI for Steam Controller, DS4 and similar controllers
	pkgver = 0.5.5
	pkgrel = 1
	url = https://github.com/C0rn3j/sc-controller
	arch = x86_64
	arch = aarch64
	license = GPL-2.0-only
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	depends = gtk3
	depends = gtk-layer-shell
	depends = libayatana-appindicator
	depends = python-cairo
	depends = python-evdev
	depends = python-gobject
	depends = python-ioctl-opt
	depends = python-libusb1
	depends = python-pylibacl
	depends = python-setuptools
	depends = python-vdf
	depends = xorg-xinput
	conflicts = scc
	source = sc-controller-0.5.5::git+https://github.com/C0rn3j/sc-controller.git#tag=v0.5.5
	sha256sums = 3e1e47da34a60d488e8a228559a53aa16b19ca300d09621cf1a5d3ba646b6539

pkgname = sc-controller
