pkgbase = java-openjfx-bin
	pkgdesc = Java OpenJFX 24 client application platform (Gluon build).
	pkgver = 24
	pkgrel = 1
	url = https://openjfx.io/
	arch = x86_64
	license = GPL2
	depends = ffmpeg
	depends = gstreamer
	depends = java-environment>=11
	depends = libxtst
	depends = qt5-base
	depends = webkit2gtk
	provides = java-openjfx=24
	conflicts = java24-openjfx
	conflicts = java-openjfx=24
	options = !strip
	source = https://download2.gluonhq.com/openjfx/24/openjfx-24_linux-x64_bin-sdk.zip
	source = https://download2.gluonhq.com/openjfx/24/openjfx-24_linux-x64_bin-jmods.zip
	source = https://download2.gluonhq.com/openjfx/24/openjfx-24-javadoc.zip
	sha256sums = e735fa786a7375c525c49874ad7e591cc493ed560c494664223612cf5e124d11
	sha256sums = 6a5415a97619a730de160116fea2a4515cafcd5587d166ec5016246c4c787d82
	sha256sums = 2240ab5ca530be546d21abd55508ed5dd4e20a4cacc7877e39e93a04e1e46476

pkgname = java-openjfx-bin
