pkgbase = java-openjfx-bin
	pkgdesc = Java OpenJFX 23.0.1 client application platform (Gluon build).
	pkgver = 23
	pkgrel = 2
	url = https://openjfx.io/
	arch = x86_64
	license = GPL2
	depends = ffmpeg
	depends = gstreamer
	depends = java-environment>=11
	depends = libxtst
	depends = qt5-base
	depends = webkit2gtk
	provides = java-openjfx=23
	conflicts = java23-openjfx
	conflicts = java-openjfx
	options = !strip
	source = https://download2.gluonhq.com/openjfx/23.0.1/openjfx-23.0.1_linux-x64_bin-sdk.zip
	source = https://download2.gluonhq.com/openjfx/23.0.1/openjfx-23.0.1_linux-x64_bin-jmods.zip
	source = https://download2.gluonhq.com/openjfx/23.0.1/openjfx-23.0.1-javadoc.zip
	sha256sums = 9ba7e61802029e41a9526ec9a98533b6f543fa508fbae7d548886d8ae7100349
	sha256sums = 2164bca470bf70a5e2764645e2078ba7f787b274e5be3d7df30d87c5bb62bba6
	sha256sums = 134f3ffc254471a8de973136c0b47eddcc026fd500faa1ca37e3b4fa292fbfe1

pkgname = java-openjfx-bin
