pkgbase = cpp-httplib-compiled
	pkgdesc = A C++ HTTP/HTTPS server and client library (compiled version)
	pkgver = 0.16.0
	pkgrel = 1
	url = https://github.com/yhirose/cpp-httplib
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = cmake>=3.14
	makedepends = python>=3
	depends = openssl>=3
	depends = zlib
	depends = brotli
	provides = cpp-httplib=0.16.0
	provides = libcpp-httplib.so
	conflicts = cpp-httplib
	source = cpp-httplib-compiled-0.16.0.tar.gz::https://github.com/yhirose/cpp-httplib/archive/v0.16.0.tar.gz
	sha512sums = 63dc5a50f425e7be909d60db138caa1b9d7260c5d4db26603011a329f0d6a645d56f436c79466fbe662f24a94bc0f72926062b3ed49cb658eb91a6bdb2ddf25b

pkgname = cpp-httplib-compiled
