pkgbase = scribus-unstable
	pkgdesc = A desktop publishing program - Unstable branch 1.7.x
	pkgver = 1.7.1
	pkgrel = 1
	url = http://www.scribus.net
	arch = i686
	arch = x86_64
	license = GPL
	license = LGPL
	makedepends = cmake
	makedepends = qt6-tools
	makedepends = boost
	depends = boost-libs
	depends = cairo
	depends = fontconfig
	depends = freetype2
	depends = graphicsmagick
	depends = harfbuzz-icu
	depends = hicolor-icon-theme
	depends = hunspell
	depends = icu
	depends = lcms2
	depends = libcdr
	depends = libcups
	depends = libfreehand
	depends = libjpeg
	depends = libjxl
	depends = libmspub
	depends = libpagemaker
	depends = libpng
	depends = librevenge
	depends = libtiff
	depends = libvisio
	depends = libqxp
	depends = libxml2
	depends = libzmf
	depends = openscenegraph
	depends = openssl
	depends = podofo
	depends = poppler
	depends = python
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-imageformats
	depends = qt6-svg
	depends = zlib
	provides = scribus
	conflicts = scribus
	source = https://sourceforge.net/projects/scribus/files/scribus-devel/1.7.1/scribus-1.7.1.tar.xz
	source = https://sourceforge.net/projects/scribus/files/scribus-devel/1.7.1/scribus-1.7.1.tar.xz.asc
	validpgpkeys = 5086B8D68E70FDDF4C40045AEF7B95E7F60166DA
	validpgpkeys = 757F5E9B13DD648887AD50092D47C099E782504E
	validpgpkeys = 6558BE84D27273A438A151198BEA48118AEBEE64
	sha256sums = b5bf788989279ee7c6e7bda88ce8276ef93b00272248881ec166795b13ae41b0
	sha256sums = SKIP

pkgname = scribus-unstable
