pkgbase = ryzen_smu-dkms-git
	pkgdesc = A Linux kernel driver that exposes access to the SMU (System Management Unit) for certain AMD Ryzen Processors
	pkgver = 162.e61177d
	pkgrel = 1
	url = https://gitlab.com/leogx9r/ryzen_smu
	install = ryzen_smu.install
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = dkms
	provides = ryzen_smu
	provides = ryzen_smu-dkms
	conflicts = ryzen_smu
	conflicts = ryzen_smu-dkms
	source = ryzen_smu::git+https://gitlab.com/leogx9r/ryzen_smu.git
	source = dkms.conf
	source = ryzen_smu.conf
	source = rembrandt_phoenix_pm.patch
	sha256sums = SKIP
	sha256sums = 0ced27963dac8e270221574d0c2b686bbbb012e3af8741188800f9cb6b7d8e63
	sha256sums = a48f5c846ca5fd8f185f1317c8001c97f59ac432392d53b581802c7761b9360f
	sha256sums = 5dc79846385ff0fe8a67cc4145d272dfc82fd311d1a5eec7f591204cb97b2a24

pkgname = ryzen_smu-dkms-git
