pkgbase = picom-git
	pkgdesc = X compositor (fork of compton) (git-version)
	pkgver = 2189_11.172.gcc8e0a98_2024.02.29
	pkgrel = 1
	url = https://github.com/yshui/picom
	arch = i686
	arch = x86_64
	license = MIT
	license = MPL-2.0
	makedepends = asciidoc
	makedepends = cmake
	makedepends = git
	makedepends = libglvnd
	makedepends = mesa
	makedepends = meson
	makedepends = uthash
	makedepends = xorgproto
	depends = hicolor-icon-theme
	depends = libconfig
	depends = libdbus
	depends = libepoxy
	depends = libev
	depends = libgl
	depends = libx11
	depends = libxcb
	depends = libxext
	depends = pcre2
	depends = pixman
	depends = xcb-util
	depends = xcb-util-image
	depends = xcb-util-renderutil
	optdepends = dbus: To control picom via D-Bus
	optdepends = python: For picom-convgen.py
	optdepends = xorg-xwininfo: For picom-trans
	optdepends = xorg-xprop: For picom-trans
	provides = compton
	provides = compton-git
	provides = picom
	conflicts = compton
	conflicts = compton-git
	conflicts = picom
	replaces = compton-git
	source = git+https://github.com/yshui/picom.git#branch=next
	md5sums = SKIP

pkgname = picom-git
