pkgbase = nodejs-intelephense
	pkgdesc = Intelephense is a PHP language server adhering to the Language Server Protocol.
	pkgver = 1.15.1
	pkgrel = 1
	url = https://github.com/bmewburn/vscode-intelephense
	arch = any
	license = MIT
	makedepends = npm
	depends = nodejs
	noextract = intelephense-1.15.1.tgz
	source = https://registry.npmjs.org/intelephense/-/intelephense-1.15.1.tgz
	sha256sums = 24a33fe3cd7a2382f44285e2ae553a7e1c898cbc208ee20cee0693497ee9ebe2

pkgname = nodejs-intelephense
