pkgbase = sway-git
	pkgdesc = Tiling Wayland compositor and replacement for the i3 window manager (git development version)
	pkgver = 1.10.r7343.9704152
	pkgrel = 1
	url = https://github.com/swaywm/sway
	install = sway-git.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = libcap
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = cairo
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = json-c
	depends = libdrm
	depends = libevdev
	depends = libinput
	depends = libxcb
	depends = libxkbcommon
	depends = pango
	depends = pcre2
	depends = pixman
	depends = systemd-libs
	depends = wayland
	depends = wlroots-git
	depends = xcb-util-wm
	optdepends = wmenu: Application launcher used in default configuration
	optdepends = foot: Terminal emulator used in default configuration
	optdepends = polkit: System privilege control. Required if not using seatd service
	optdepends = swaybg: Wallpaper tool for sway
	optdepends = swayidle: Idle management daemon
	optdepends = swaylock: Screen locker
	optdepends = xdg-desktop-portal-gtk: Portal used for default file picking
	optdepends = xdg-desktop-portal-wlr: Portal used for screen sharing
	provides = sway
	conflicts = sway
	source = sway-git::git+https://github.com/swaywm/sway.git
	source = 50-systemd-user.conf
	source = sway-portals.conf
	b2sums = SKIP
	b2sums = 71f45f9abb4e9f98a52177b227aa30ab27d02c9eef8a31400460e71c72b6d40ec396581f0b1703d4cec655aaba704077212882f643c6efb6cda951ea69b5383d
	b2sums = cdba5fd2988b7ead8b264d5b41f1c7adb47a6487be1e3a4ce98c0af2094d9964f4bc364237c4437014be18061f067aa741b0382f21365be497e06b189c5c7728

pkgname = sway-git
