pkgbase = openswan
	pkgdesc = Open Source implementation of IPsec for Linux
	pkgver = 3.0.0
	pkgrel = 1
	url = https://www.openswan.org
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	license = custom
	makedepends = flex
	makedepends = bison
	depends = gmp
	depends = perl
	depends = iproute2
	optdepends = python2
	conflicts = ipsec-tools
	conflicts = strongswan
	options = !makeflags
	backup = etc/ipsec.conf
	backup = etc/ipsec.d/policies/block
	backup = etc/ipsec.d/policies/clear
	backup = etc/ipsec.d/policies/clear-or-private
	backup = etc/ipsec.d/policies/private
	backup = etc/ipsec.d/policies/private-or-clear
	source = openswan-3.0.0.tar.gz::https://github.com/xelerance/Openswan/archive/v3.0.0.tar.gz
	source = openswan.service
	md5sums = d4952668703e28692016c18039c86f97
	md5sums = e428e61ba81048eef92475dffa2ffc23
	sha256sums = 69fe7a71e54aaf0ea93b874db4963057c1ff4904b3617b36f2c9be2010c23331
	sha256sums = 9f42bc005d4c361b31d41c7186a19ed8dbd1f95be31c16663bd2a1a8da8a29f0
	sha512sums = fda8e4a4d22b2d028475eb05ee0e799ee4cda20bee111ac487fa7045a9d839445b9d90ebbe1b1378058453a8eca7ea76ed131f76744400a7f16aa11e352cb975
	sha512sums = a234e97a4fe10fb85a8a1b69d0b55b7c7a4a9ef44c199f876f64bb7290e9f161b20e4c721112e26c6a5636a898a27a36b525aae0944cf6217ff81c36389d5803

pkgname = openswan
