pkgbase = stavekontrolden
	pkgdesc = Danish dictionaries; for use with multiple programs
	pkgver = 2.9.131
	pkgrel = 1
	url = https://stavekontrolden.dk/
	arch = any
	license = GPL-3.0-only AND (GPL-2.0-only AND LGPL-2.1-only AND MPL-1.1)
	makedepends = libarchive
	makedepends = coreutils
	makedepends = findutils
	optdepends = hunspell: the spell checking libraries and apps
	optdepends = hyphen: for use of hyphenation rules
	optdepends = libmythes: for use of thesaurus dictionary
	provides = libreoffice-extension-da_dk
	provides = openoffice-extension-da_dk
	provides = hunspell-da
	provides = hyphen-da
	provides = mythes-da
	conflicts = libreoffice-extension-da_dk
	conflicts = openoffice-extension-da_dk
	conflicts = hunspell-da
	conflicts = hyphen-da
	conflicts = mythes-da
	source = https://stavekontrolden.dk/dictionaries/da_DK/da_DK-2.9.131.oxt
	b2sums = 76f3feb7b341f4b5fbfe567e903c28799854e72541c43dceed23a0a3b787e33196602c40a0b7456850d1f7768cfe66d3f267c7b68d531523302b09d6f2198535

pkgname = stavekontrolden
