pkgbase = grype-bin
	pkgdesc = A vulnerability scanner for container images and filesystems.
	pkgver = 0.92.0
	pkgrel = 1
	url = https://github.com/anchore/grype
	arch = x86_64
	license = Apache-2.0
	source = https://github.com/anchore/grype/releases/download/v0.92.0/grype_0.92.0_linux_amd64.tar.gz
	sha256sums = 1449ea724676f8df6e58da3409087c8bbaee04a346cbee7466353ccf78a9fcac

pkgname = grype-bin
