pkgbase = qadwaitadecorations
	pkgdesc = Qt decoration plugin implementing Adwaita-like client-side decorations
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/FedoraQt/QAdwaitaDecorations
	arch = x86_64
	license = LGPL2.1
	makedepends = make
	makedepends = cmake
	makedepends = qt5-wayland-decorations
	makedepends = qt6-wayland
	makedepends = qt5-svg
	makedepends = qt6-svg
	source = https://github.com/FedoraQt/QAdwaitaDecorations/archive/0.1.5/QAdwaitaDecorations-0.1.5.tar.gz
	sha256sums = 9e3bde8332da156744f86ad09f9e0456dd63f6fcfdc330b4667f4fdc4faf7a6b

pkgname = qadwaitadecorations-qt5
	pkgdesc = Qt5 decoration plugin implementing Adwaita-like client-side decorations
	depends = qt5-wayland-decorations
	depends = qt5-svg

pkgname = qadwaitadecorations-qt6
	pkgdesc = Qt6 decoration plugin implementing Adwaita-like client-side decorations
	depends = qt6-wayland
	depends = qt6-svg
