pkgbase = gpu-screen-recorder-git
	pkgdesc = A shadowplay-like screen recorder for Linux. The fastest screen recorder for Linux
	pkgver = r735.cff466c
	pkgrel = 1
	url = https://git.dec05eba.com/gpu-screen-recorder
	install = gpu-screen-recorder-git.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	depends = ffmpeg
	depends = libglvnd
	depends = libxcomposite
	depends = libxrandr
	depends = libxfixes
	depends = libxdamage
	depends = libxi
	depends = libx11
	depends = libpulse
	depends = libva
	depends = libdrm
	depends = libcap
	depends = wayland
	depends = libpipewire
	depends = dbus
	optdepends = nvidia-utils: Required to record your screen on NVIDIA
	optdepends = libxnvctrl: Required when using the -oc option to overclock the NVIDIA GPU to workaround NVIDIA p2 state bug
	optdepends = mesa: Required to record your screen on AMD/Intel
	optdepends = libva-mesa-driver: Required to record your screen on AMD
	optdepends = libva-intel-driver: Required to record your screen on Intel G45 and HD Graphics family
	optdepends = intel-media-driver: Required to record your screen on Intel Broadwell or later iGPUs
	optdepends = linux-firmware: Required to record your screen on Intel Skylake or later iGPUs
	provides = gpu-screen-recorder
	conflicts = gpu-screen-recorder
	source = gpu-screen-recorder-git-r735.cff466c.tar.gz::https://dec05eba.com/snapshot/gpu-screen-recorder.git.r735.cff466c.tar.gz
	sha512sums = 183b26569544411fdf3187903174ec6c4ee3ec2093e61eb41b38ddf136d50e70b8594c7041652fd3f562cf1600a8251846221cea820a11baad1188a12b007c75

pkgname = gpu-screen-recorder-git
