pkgbase = gpu-screen-recorder-git
	pkgdesc = A shadowplay-like screen recorder for Linux. The fastest screen recorder for Linux
	pkgver = r852.19d77b8
	pkgrel = 1
	url = https://git.dec05eba.com/gpu-screen-recorder
	install = gpu-screen-recorder-git.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = libglvnd
	depends = libxcomposite
	depends = libxrandr
	depends = libxfixes
	depends = libxdamage
	depends = libx11
	depends = libpulse
	depends = libva
	depends = libdrm
	depends = libcap
	depends = wayland
	depends = libpipewire
	depends = dbus
	optdepends = nvidia-utils: Required to record your screen on NVIDIA
	optdepends = libxnvctrl: Required when using the -oc option to overclock the NVIDIA GPU to workaround NVIDIA p2 state bug
	optdepends = mesa: Required to record your screen on AMD/Intel
	optdepends = libva-mesa-driver: Required to record your screen on AMD
	optdepends = libva-intel-driver: Required to record your screen on Intel G45 and HD Graphics family
	optdepends = intel-media-driver: Required to record your screen on Intel Broadwell or later iGPUs
	optdepends = linux-firmware: Required to record your screen on Intel Skylake or later iGPUs
	provides = gpu-screen-recorder
	conflicts = gpu-screen-recorder
	source = gpu-screen-recorder-git-r852.19d77b8.tar.gz::https://dec05eba.com/snapshot/gpu-screen-recorder.git.r852.19d77b8.tar.gz
	sha512sums = b98e62c6d55d3576e6f685a78d3a473f8091940bc31a384d12bd0c3624ab326b0157d8fd2afe64ce3b33ecd195e07db14c4b6f135376b790d8efd348028df164

pkgname = gpu-screen-recorder-git
