pkgbase = xemu-git
	pkgdesc = Original Xbox emulator (fork of XQEMU)
	pkgver = 0.8.1.r0.g8f478e017a
	pkgrel = 1
	url = https://xemu.app/
	install = xemu.install
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cmake
	makedepends = git
	makedepends = glib2
	makedepends = glu
	makedepends = gtk3
	makedepends = keyutils
	makedepends = libepoxy
	makedepends = libpcap
	makedepends = libsamplerate
	makedepends = libslirp
	makedepends = meson
	makedepends = nlohmann-json
	makedepends = openssl
	makedepends = pixman
	makedepends = python-yaml
	makedepends = tomlplusplus>=3.1
	makedepends = vulkan-headers
	makedepends = vulkan-icd-loader
	makedepends = xxhash>=0.8
	depends = dtc
	depends = gcc-libs
	depends = glibc
	depends = glslang
	depends = hicolor-icon-theme
	depends = libcpp-httplib.so
	depends = sdl2
	depends = zlib
	provides = xemu
	conflicts = xemu
	source = xemu::git+https://github.com/xemu-project/xemu.git
	source = xemu-imgui::git+https://github.com/xemu-project/imgui.git
	source = berkeley-softfloat-3::git+https://gitlab.com/qemu-project/berkeley-softfloat-3.git
	source = berkeley-testfloat-3::git+https://gitlab.com/qemu-project/berkeley-testfloat-3.git
	source = genconfig::git+https://github.com/mborgerson/genconfig.git
	source = implot::git+https://github.com/epezent/implot.git
	source = keycodemapdb::git+https://gitlab.com/qemu-project/keycodemapdb.git
	source = nv2a_vsh_cpu::git+https://github.com/abaire/nv2a_vsh_cpu.git
	source = use-system-libs.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = 1f902d49be48381ba41c033d1e0dfea9783056da8f365c5101729f699ed7921fb2f09d413c00ae417bf1ed97a6722e179ab139b5e5f8b560dc461dba67ceb6cb

pkgname = xemu-git
	depends = dtc
	depends = gcc-libs
	depends = glibc
	depends = glslang
	depends = hicolor-icon-theme
	depends = libcpp-httplib.so
	depends = sdl2
	depends = zlib
	depends = libepoxy.so
	depends = libgdk-3.so
	depends = libglib-2.0.so
	depends = libgobject-2.0.so
	depends = libgtk-3.so
	depends = libkeyutils.so
	depends = libpcap.so
	depends = libpixman-1.so
	depends = libsamplerate.so
	depends = libslirp.so
	depends = libtomlplusplus.so
