pkgbase = babashka-bin
	pkgdesc = A Clojure babashka for the grey areas of Bash.
	pkgver = 1.12.201
	pkgrel = 1
	url = https://github.com/borkdude/babashka
	arch = x86_64
	arch = aarch64
	license = EPL
	depends = gcc-libs
	depends = zlib
	provides = babashka
	conflicts = babashka
	options = !debug
	source_x86_64 = babashka-bin-1.12.201-linux-amd64-static.tar.gz::https://github.com/borkdude/babashka/releases/download/v1.12.201/babashka-1.12.201-linux-amd64-static.tar.gz
	sha256sums_x86_64 = 1a247be72397d256c4aaf85b25d64d2652f38cb50a989e49559df0c78ee48545
	source_aarch64 = babashka-bin-1.12.201-linux-aarch64-static.tar.gz::https://github.com/borkdude/babashka/releases/download/v1.12.201/babashka-1.12.201-linux-aarch64-static.tar.gz
	sha256sums_aarch64 = d5b58417bb64c7b8a78512203b1ccfe111c500fa2f3ba0d2e53cadd4a69f4812

pkgname = babashka-bin
