pkgbase = babashka-bin
	pkgdesc = A Clojure babashka for the grey areas of Bash.
	pkgver = 1.12.194
	pkgrel = 1
	url = https://github.com/borkdude/babashka
	arch = x86_64
	arch = aarch64
	license = EPL
	depends = gcc-libs
	depends = zlib
	provides = babashka
	conflicts = babashka
	source_x86_64 = babashka-bin-1.12.194-linux-amd64-static.tar.gz::https://github.com/borkdude/babashka/releases/download/v1.12.194/babashka-1.12.194-linux-amd64-static.tar.gz
	sha256sums_x86_64 = 2b38eaaf33b2d3ae9b10d478afbc08e131db9b16159f9e8990eaa77af01f1754
	source_aarch64 = babashka-bin-1.12.194-linux-aarch64-static.tar.gz::https://github.com/borkdude/babashka/releases/download/v1.12.194/babashka-1.12.194-linux-aarch64-static.tar.gz
	sha256sums_aarch64 = a41c4e1ebf436a789b069a741c5891ef0fce59e60a5413a7b928d9ed7003bb6b

pkgname = babashka-bin
