pkgbase = hyprland-protocols-git
	pkgdesc = Wayland protocol extensions for Hyprland
	pkgver = 0.6.4.r0.g3a5c2bd
	pkgrel = 1
	url = https://github.com/hyprwm/hyprland-protocols
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = meson
	makedepends = git
	makedepends = ninja
	provides = hyprland-protocols=0.6.4
	conflicts = hyprland-protocols
	source = hyprland-protocols::git+https://github.com/hyprwm/hyprland-protocols.git
	sha256sums = SKIP

pkgname = hyprland-protocols-git
