pkgbase = flyctl-bin
	pkgdesc = Command line tools for fly.io services
	pkgver = 0.4.37
	pkgrel = 1
	url = https://github.com/superfly/flyctl
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = flyctl
	conflicts = flyctl
	replaces = flyctl
	options = !strip
	source = flyctl-bin-0.4.37-x86_64.tgz::https://github.com/superfly/flyctl/releases/download/v0.4.37/flyctl_0.4.37_Linux_x86_64.tar.gz
	b2sums = 5f3044ad98af8cb1fb1272f10be2f3ed881387626e7d789c9ca3d3851c6ec901cc2d023d44cc07dd4391c5ef8041e5d0cd7fafc6b7892f615146ddcfbb4b6633

pkgname = flyctl-bin
