pkgbase = flyctl-bin
	pkgdesc = Command line tools for fly.io services
	pkgver = 0.4.104
	pkgrel = 1
	url = https://github.com/superfly/flyctl
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = flyctl
	conflicts = flyctl
	replaces = flyctl
	options = !strip
	source = flyctl-bin-0.4.104-x86_64.tgz::https://github.com/superfly/flyctl/releases/download/v0.4.104/flyctl_0.4.104_Linux_x86_64.tar.gz
	b2sums = 4d2be2cf39af1c088fe0c94d75f5bdb446ef7cd445d32241f3d1de6c6cc45dc745f7ff1c80a550aa5f0e54359b112da465ae6b5e349b2d075e9e520fe9e9f2f7

pkgname = flyctl-bin
