pkgbase = flyctl-bin
	pkgdesc = Command line tools for fly.io services
	pkgver = 0.4.53
	pkgrel = 1
	url = https://github.com/superfly/flyctl
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	provides = flyctl
	conflicts = flyctl
	replaces = flyctl
	options = !strip
	source = flyctl-bin-0.4.53-x86_64.tgz::https://github.com/superfly/flyctl/releases/download/v0.4.53/flyctl_0.4.53_Linux_x86_64.tar.gz
	b2sums = 68597cbcf0bfc8c9d56b2a56bf70e37d6bb7bdf9f4a627b4b0f439501cd26203b61e13302394fc268ecbf4dba03c20485a92728c0065604df0cb9b4566228017

pkgname = flyctl-bin
