pkgbase = gnome-terminal-transparency
	pkgdesc = The GNOME Terminal Emulator with background transparency
	pkgver = 3.58.1
	pkgrel = 1
	url = https://wiki.gnome.org/Apps/Terminal
	changelog = package.changelog
	arch = x86_64
	license = GPL-3.0-or-later
	license = CC-BY-SA-3.0
	license = GPL-3.0-only
	license = GFDL-1.3-only
	makedepends = docbook-xsl
	makedepends = glib2-devel
	makedepends = gnome-shell
	makedepends = libnautilus-extension
	makedepends = meson
	makedepends = yelp-tools
	depends = cairo
	depends = dconf
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gsettings-desktop-schemas
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libhandy
	depends = libx11
	depends = pango
	depends = util-linux-libs
	depends = vte3
	optdepends = libnautilus-extension: Nautilus integration
	provides = gnome-terminal=3.58.1
	conflicts = gnome-terminal
	source = https://gitlab.gnome.org/GNOME/gnome-terminal/-/archive/3.58.1/gnome-terminal-3.58.1.tar.gz
	source = transparency.patch
	b2sums = d96fb761a3f44b1c5783c8a2faa2d40a2a297d4d7c0de1d8518eeff7a0368d482095799fc3b8d51ca67bd4a7c07a32f6cfee809c137942af3b75f4dbe96f5b0f
	b2sums = c246f80cc86a2ce1817eb67ae3506dfdc1925a19212159cc6b4ec85a1c80deecf1fc0be186925641266494c60fb5bc4ae44d67eb703a9ab54d0b4de799182ccf

pkgname = gnome-terminal-transparency
