pkgbase = catt
	pkgdesc = Cast All The Things - Send videos from many, many online sources to your Chromecast.
	pkgver = 0.13.0
	pkgrel = 4
	url = https://github.com/skorokithakis/catt
	arch = any
	license = BSD-2-Clause
	makedepends = python-installer
	makedepends = python-poetry-core
	makedepends = python-wheel
	makedepends = python-build
	depends = python-click
	depends = python-ifaddr
	depends = python-requests
	depends = python-pychromecast
	depends = yt-dlp
	source = catt-0.13.0.tar.gz::https://github.com/skorokithakis/catt/archive/refs/tags/v0.13.0.tar.gz
	sha256sums = 30e5b024f92321a9deaa3e10285f3721fdb2931629cc8e399db238b17b6a0b35

pkgname = catt
