pkgbase = fluent-gtk-theme-git
	pkgdesc = Fluent design gtk theme for linux desktops
	pkgver = 2023.06.20.r14.g9fdf52e
	pkgrel = 1
	url = https://github.com/vinceliuice/Fluent-gtk-theme
	install = fluent-gtk-theme.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = sassc
	makedepends = setconf
	optdepends = gtk-engine-murrine: GTK2 theme support
	optdepends = fluent-icon-theme: Matching icon theme
	optdepends = fluent-cursor-theme: Matching cursor theme
	provides = fluent-gtk-theme
	conflicts = fluent-gtk-theme
	options = !strip
	source = fluent-gtk-theme::git+https://github.com/vinceliuice/Fluent-gtk-theme.git
	source = wallpaper::git+https://github.com/vinceliuice/Fluent-gtk-theme.git#branch=Wallpaper
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = fluent-gtk-theme-git
