pkgbase = prjtrellis-db-git
	pkgdesc = Project Trellis (Lattice ECP5 bit-stream format) database
	pkgver = r267.fdf4bf2
	pkgrel = 1
	url = https://github.com/YosysHQ/prjtrellis-db
	arch = any
	license = custom:CC0
	makedepends = git
	provides = prjtrellis-db
	conflicts = prjtrellis-db
	source = git+https://github.com/YosysHQ/prjtrellis-db.git
	sha512sums = SKIP

pkgname = prjtrellis-db-git
