pkgbase = prjtrellis-db-git
	pkgdesc = Project Trellis (Lattice ECP5 bit-stream format) database
	pkgver = r329.4dda149
	pkgrel = 2
	url = https://github.com/YosysHQ/prjtrellis-db
	arch = any
	license = CC0-1.0
	makedepends = git
	provides = prjtrellis-db=r329
	conflicts = prjtrellis-db
	source = git+https://github.com/YosysHQ/prjtrellis-db.git
	sha256sums = SKIP

pkgname = prjtrellis-db-git
