pkgbase = museeks
	pkgdesc = 🎵 A simple, clean and cross-platform music player.
	pkgver = 0.21.1
	pkgrel = 1
	url = https://museeks.io
	arch = any
	license = MIT
	makedepends = bun
	makedepends = nvm
	makedepends = curl
	makedepends = rust
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	source = museeks-0.21.1::git+https://github.com/martpie/museeks#tag=0.21.1
	sha256sums = 29da551a8b6f21a5a3a777c1ddd99123d3a3b0033b0352acadb22917978f1e71

pkgname = museeks
