pkgbase = tuxedo-drivers-dkms
	pkgdesc = TUXEDO Computers kernel module drivers for keyboard, keyboard backlight & general hardware I/O using the SysFS interface
	pkgver = 4.21.0
	pkgrel = 1
	url = https://gitlab.com/tuxedocomputers/development/packages/tuxedo-drivers
	arch = x86_64
	license = GPL-2.0-or-later
	depends = dkms
	optdepends = linux-headers: build modules against Arch kernel
	optdepends = linux-lts-headers: build modules against LTS kernel
	optdepends = linux-zen-headers: build modules against ZEN kernel
	optdepends = linux-hardened-headers: build modules against the HARDENED kernel
	optdepends = udev-hid-bpf: resolve keyboard issues on the Sirius 16 Gen1/2
	provides = tuxedo-keyboard
	provides = tuxedo-keyboard-ite
	provides = tuxedo-io
	provides = clevo-wmi
	provides = clevo-acpi
	provides = uniwill-wmi
	provides = ite_8291
	provides = ite_8291_lb
	provides = ite_8297
	provides = ite_829x
	conflicts = tuxedo-keyboard-dkms
	conflicts = tuxedo-keyboard-ite-dkms
	options = !debug
	source = tuxedo-drivers-dkms-4.21.0.tar.gz::https://gitlab.com/tuxedocomputers/development/packages/tuxedo-drivers/-/archive/v4.21.0/tuxedo-drivers-v4.21.0.tar.gz
	source = dkms.conf
	sha256sums = 519e893eafbd91d87740a9d56411ae6806aa6318ec2d5e00d06d70b047ff94d3
	sha256sums = 0b1f2ceb729b1944504d1227e39b202159076846aaa38f8b6237b9535e543a21
	sha512sums = aa8ea357d557f8e8bbbc87c45187689a673adad3f5251cbca1cc8a1e69e344e11a7fdc2bf68b21bcdfed159ca1f5e49997c085975a611db2750abd6202de9cfb
	sha512sums = dda443b5966221a355fecdae7a2eb23346666cbcf93707d2fff660a32ec75cee592ae211c8d22e55413d530f59e8667292a0346d8bf6b2d280b45f3bc09efafd

pkgname = tuxedo-drivers-dkms
