pkgbase = tuxedo-drivers-dkms
	pkgdesc = TUXEDO Computers kernel module drivers for keyboard, keyboard backlight & general hardware I/O using the SysFS interface
	pkgver = 4.7.0
	pkgrel = 2
	url = https://github.com/tuxedocomputers/tuxedo-drivers
	arch = x86_64
	license = GPL3
	depends = dkms
	optdepends = linux-headers: build modules against Arch kernel
	optdepends = linux-lts-headers: build modules against LTS kernel
	optdepends = linux-zen-headers: build modules against ZEN kernel
	optdepends = linux-hardened-headers: build modules against the HARDENED kernel
	provides = tuxedo-keyboard
	provides = tuxedo-keyboard-ite
	provides = tuxedo-io
	provides = clevo-wmi
	provides = clevo-acpi
	provides = uniwill-wmi
	provides = ite_8291
	provides = ite_8291_lb
	provides = ite_8297
	provides = ite_829x
	conflicts = tuxedo-keyboard-dkms
	conflicts = tuxedo-keyboard-ite-dkms
	options = !debug
	source = tuxedo-drivers-dkms-4.7.0.tar.gz::https://github.com/tuxedocomputers/tuxedo-drivers/archive/v4.7.0.tar.gz
	source = tuxedo_io.conf
	source = dkms.conf
	sha256sums = 51368f46bb90cec608443259fe7bddfb225c9de86f8643b8ac3bbab0bb4f0a56
	sha256sums = d94d305bfd2767ad047bc25cc5ce986e76804e7376c3dd4d8e500ebe2c7bef3c
	sha256sums = 01c1c1b7aeae644d234b921db5a59629dee410241ab516e7638cc80bd544bd9f
	sha512sums = 4456cfcb49abf464ba0e60103c31fc9cef50f47aff09c3da49fcb88dfe6b3e5d1357f6c15b63eda1dce42145509ce4ca6092f5f0389523f919e69552d26e22a0
	sha512sums = 3101d1063e9c45eccb505fa21578cba33ae5c85b3d5b1c62c90806ad9d7b04410c91ded7a7115a85d1f6ecbd90ccc9e5f2ecf269dac4a557baa017a629bbcf81
	sha512sums = 6e8ae32ac491690020e9aee4cc2078dc8aa796e4cc5afe1518e993e2edc3d77821ac5558ea6e3c8494fd442a7ff9859bf16323f669af9bf5096c1c2d79bd87a5

pkgname = tuxedo-drivers-dkms
