pkgbase = winbox
	pkgdesc = Mikrotik RouterOS GUI Configurator
	pkgver = 4.0.1
	pkgrel = 1
	url = https://mikrotik.com/download
	install = winbox.install
	arch = x86_64
	license = custom
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = zlib
	source = WinBox-4.0.1.zip::https://download.mikrotik.com/routeros/winbox/4.0.1/WinBox_Linux.zip
	source = winbox.desktop
	sha256sums = 8ec2d08929fd434c4b88881f3354bdf60b057ecd2fb54961dd912df57e326a70
	sha256sums = 2880ba075a3a5d75113707bbf642bd6018f0eb40a2d725d6adfe8d5d2ee14425

pkgname = winbox
