pkgbase = winbox
	pkgdesc = Mikrotik RouterOS GUI Configurator
	pkgver = 4.0beta23
	pkgrel = 1
	url = https://mikrotik.com/download
	install = winbox.install
	arch = x86_64
	license = custom
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = libglvnd
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = xcb-util-image
	depends = xcb-util-keysyms
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = zlib
	source = WinBox-4.0beta23.zip::https://download.mikrotik.com/routeros/winbox/4.0beta23/WinBox_Linux.zip
	source = winbox.desktop
	sha256sums = 9d037c0143aacbeb519bb5e0df18a4a519dbe452af1770aa42158ece6bcbf48a
	sha256sums = 2880ba075a3a5d75113707bbf642bd6018f0eb40a2d725d6adfe8d5d2ee14425

pkgname = winbox
