[Desktop Entry]
Type=Application
Version=1.0
Name=Winbox
Comment=GUI administration for Mikrotik RouterOS
Exec=/usr/bin/WinBox
Icon=winbox
Terminal=false
Categories=Utility
StartupWMClass=winbox
