pkgbase = thingy
	pkgdesc = Utility application used to make collections and quickly access recent and favorite documents.
	pkgver = 1.1.8
	pkgrel = 1
	url = https://github.com/linuxmint/thingy
	arch = any
	license = GPL3
	depends = libgsf
	depends = python-gobject
	depends = python-setproctitle
	depends = xapp
	optdepends = libreoffice
	optdepends = xreader
	source = thingy-1.1.8.tar.gz::https://github.com/linuxmint/thingy/archive/refs/tags/1.1.8.tar.gz
	sha256sums = 46d55155149df5db179b1014781862e49f26c56265417a526d7659c59d2ef331

pkgname = thingy
