pkgbase = qtscrcpy
	pkgdesc = Android real-time screencast control tool
	pkgver = 3.3.3
	pkgrel = 1
	url = https://github.com/barry-ran/QtScrcpy
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = qt6-tools
	depends = android-tools
	depends = qt6-multimedia
	backup = etc/qtscrcpy/config.ini
	source = qtscrcpy::git+https://github.com/barry-ran/QtScrcpy.git#tag=v3.3.3
	source = qtscrcpycore::git+https://github.com/barry-ran/QtScrcpyCore.git
	sha256sums = c453e712d1ddd252e859306f62646e7f2b9b0fb78907b41eb886b82a647f16c5
	sha256sums = SKIP

pkgname = qtscrcpy
