pkgbase = python-exifread
	pkgdesc = Python library to extract EXIF data from tiff and jpeg files
	pkgver = 3.3.1
	pkgrel = 1
	url = https://github.com/ianare/exif-py
	arch = any
	license = BSD
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/e/exifread/exifread-3.3.1.tar.gz
	sha1sums = 4223ba050940b449b4be5b71e99723f7b87cef2b
	sha256sums = 320d8596c1f674a1da2c10cf30408bb9675262c4c0181bebbd3570679d2f1340

pkgname = python-exifread
