pkgbase = wstunnel
	pkgdesc = tunnel all your traffic over Websocket or HTTP2
	pkgver = 10.5.1
	pkgrel = 1
	url = https://github.com/erebe/wstunnel
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = BSD-3-Clause
	makedepends = rust
	makedepends = git
	depends = glibc
	depends = gcc-libs
	provides = wstunnel
	conflicts = wstunnel-bin
	conflicts = nodejs-wstunnel
	conflicts = haskell-wstunnel-bin
	options = !lto
	source = https://github.com/erebe/wstunnel/archive/refs/tags/v10.5.1.tar.gz
	sha256sums = cf600e97ec15d243be6f32f5418ff48ab59f0714258f18f7dc7b95759847a9d7

pkgname = wstunnel
