pkgbase = wstunnel
	pkgdesc = Tunnel all your traffic over websocket protocol - Bypass firewalls/DPI
	pkgver = 10.1.9
	pkgrel = 1
	url = https://github.com/erebe/wstunnel
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = BSD-3-Clause
	makedepends = rust
	makedepends = git
	depends = glibc
	depends = gcc-libs
	provides = wstunnel
	conflicts = wstunnel-bin
	conflicts = nodejs-wstunnel
	conflicts = haskell-wstunnel-bin
	options = !lto
	source = https://github.com/erebe/wstunnel/archive/refs/tags/v10.1.9.tar.gz
	sha256sums = 64977a8a453b4f35f8722dfb339d7a0c3cd197c513ef885269ece556294b1d1b

pkgname = wstunnel
