pkgbase = python-inputs
	pkgdesc = Cross-platform Python support for keyboards, mice and gamepads
	pkgver = 0.5
	pkgrel = 4
	url = https://github.com/zeth/inputs
	arch = any
	license = BSD-3-Clause
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = inputs-0.5.tar.gz::https://github.com/zeth/inputs/archive/refs/tags/v0.5.tar.gz
	source = 3203c9e25f1e14c4316d85d59c536b4e407f569f.patch
	sha256sums = d8e8a4b54747e102c4ab27f9eff0e6d64207690d7dbc75d2f6c6364881066fee
	sha256sums = 92c69faff3038a42eb0fc4dfefe2657dea1e5cf0cea05c14d02ba04decdcc139

pkgname = python-inputs
