pkgbase = htop-vim
	pkgdesc = Interactive process viewer with a Vim keybindings patch
	pkgver = 3.5.0
	pkgrel = 1
	url = https://htop.dev/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = lm_sensors
	depends = libcap
	depends = libcap.so
	depends = libnl
	depends = ncurses
	depends = libncursesw.so
	optdepends = lm_sensors: show cpu temperatures
	optdepends = lsof: show files opened by a process
	optdepends = strace: attach to a running process
	provides = htop
	conflicts = htop
	options = !emptydirs
	source = https://github.com/htop-dev/htop/archive/3.5.0/htop-3.5.0.tar.gz
	source = vim-keybindings.patch
	sha256sums = cf0e72abf670ff3547d9130e129d2a97a657a5b20c74132c17502c817babbb41
	sha256sums = d12e380f204f75399f20edf6c6b1ae46f6e83303941519fc787ca3774a30e19d

pkgname = htop-vim
