pkgbase = ladybird
	pkgdesc = Truly independent web browser
	pkgver = 20240716
	pkgrel = 1
	url = https://github.com/LadybirdBrowser/ladybird
	arch = x86_64
	license = BSD
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = curl
	makedepends = unzip
	makedepends = zip
	makedepends = tar
	makedepends = autoconf-archive
	makedepends = nasm
	depends = ffmpeg
	depends = libgl
	depends = qt6-base
	depends = qt6-tools
	depends = qt6-wayland
	depends = qt6-multimedia
	depends = ttf-liberation
	options = !lto
	options = !debug
	source = git+https://github.com/LadybirdBrowser/ladybird#commit=bfc9dc447f42eb9d7d0927721291d1b528b3125d
	source = git+https://github.com/microsoft/vcpkg.git#commit=f7423ee180c4b7f40d43402c2feb3859161ef625
	source = ladybird.desktop
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = ladybird
