pkgbase = matcha-gtk-theme-git
	pkgdesc = A flat design theme for GTK3, GTK2, and Gnome-Shell.
	pkgver = 2021.05.20.r0.gd622941
	pkgrel = 1
	url = https://vinceliuice.github.io/theme-matcha
	arch = any
	license = GPL3
	makedepends = git
	depends = gtk-engine-murrine
	depends = gtk-engines
	provides = matcha-gtk-theme
	conflicts = matcha-gtk-theme
	source = matcha-gtk-theme-git::git+https://github.com/vinceliuice/Matcha-gtk-theme.git
	md5sums = SKIP

pkgname = matcha-gtk-theme-git

