pkgbase = python-trakit
	pkgdesc = Guess additional information from titles in media tracks
	pkgver = 0.2.5
	pkgrel = 1
	url = https://github.com/ratoaq2/trakit
	arch = any
	license = MIT
	checkdepends = flake8
	checkdepends = mypy
	checkdepends = python-types-pyyaml
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = python-babelfish
	depends = python-rebulk
	depends = python-pyyaml
	optdepends = ffmpeg: Increase the number of supported formats and information (ffprobe)
	optdepends = mediainfo: Increase the number of supported formats and information (default provider)
	optdepends = mkvtoolnix-cli: Increase the number of supported formats and information (mkvmerge)
	optdepends = python-enzyme: Increase the number of supported formats and information
	source = python-trakit-0.2.5.tar.gz::https://github.com/ratoaq2/trakit/archive/refs/tags/0.2.5.tar.gz
	sha256sums = 43108201f0a18a037d4a511ef10bfe24b712ae58cfe704df8bc9e757b7b9d619
	sha512sums = 152a1124201646fb1ff5186c4026237eab7dfbdaf66136fed9967eb3a28c939b0bdda8ff777dfd0571b2455675ed313fbf118d6d3cfc2675def6da1a72cfe9b0
	b2sums = 48f91051f2532b3b9c8a4b1cdb44ebe052bdb5270d9a2de3f4ff44329e6a38492074581153281dd932cb0299f57410a29f58371c0cb8933cd9f9870d92e88baa

pkgname = python-trakit
