pkgbase = linux-lqx
	pkgdesc = Linux Liquorix
	pkgver = 6.16.11.lqx1
	pkgrel = 1
	url = https://liquorix.net/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-src
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.16.tar.sign
	source = https://github.com/damentz/liquorix-package/archive/6.16-10.tar.gz
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha512sums = 55a00f89ad6db6db2e26ff5dc5cfc96bbf6654e5bd5d17d2a3b944a47640367e54139716d230923187bebc6cb7756edc9511a620fb8abc6f32c50a658a734784
	sha512sums = SKIP
	sha512sums = 5fbb2fb2eff64df1edff62325cf726345352e54acd611f2502dbd532f0048eaed77fc58657bc92e1db049f7ab22fe24d8143719c6487ff96b697f206a9172e9b

pkgname = linux-lqx
	pkgdesc = The Linux Liquorix kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = sof-firmware: firmware images needed for Sound Open Firmware capable devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = uksmd: Userspace KSM helper daemon
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = UKSMD-BUILTIN
	provides = VHBA-MODULE

pkgname = linux-lqx-headers
	pkgdesc = Headers and scripts for building modules for the Linux Liquorix kernel
	depends = linux-lqx
	depends = pahole

pkgname = linux-lqx-docs
	pkgdesc = Documentation for the Linux Liquorix kernel
	depends = linux-lqx
