pkgbase = linux-lqx
	pkgdesc = Linux Liquorix
	pkgver = 6.19.9.lqx1
	pkgrel = 1
	url = https://liquorix.net/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-src
	makedepends = rust-bindgen
	makedepends = tar
	makedepends = xz
	makedepends = zstd
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.tar.sign
	source = https://github.com/damentz/liquorix-package/archive/6.19-4.tar.gz
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha512sums = 01b29c7f4e5bc0c9802794c2cd027fece825f90417be229a71e60eefce530010d5d301749c54ae744e9d4a483518e769e2bb7e6e9209687681ad7fff11c3ed86
	sha512sums = SKIP
	sha512sums = 3603544b39cb57ebab22b6bafc3f3c7cea1fd92447c828d33f62a77af619fc460b20d09f1e8f24b972b64a896bce0902a8c945bb63e428c3d59538e4e064768a

pkgname = linux-lqx
	pkgdesc = The Linux Liquorix kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = sof-firmware: firmware images needed for Sound Open Firmware capable devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	provides = KSMBD-MODULE
	provides = NTSYNC-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = VHBA-MODULE

pkgname = linux-lqx-headers
	pkgdesc = Headers and scripts for building modules for the Linux Liquorix kernel
	depends = linux-lqx
	depends = pahole
	provides = LINUX-HEADERS

pkgname = linux-lqx-docs
	pkgdesc = Documentation for the Linux Liquorix kernel
	depends = linux-lqx
