pkgbase = cosmic-session-git
	pkgdesc = Session manager for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.7.r6.g4c72d42
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-session
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = mold
	depends = cosmic-app-library-git
	depends = cosmic-applets-git
	depends = cosmic-bg-git
	depends = cosmic-comp-git
	depends = cosmic-files-git
	depends = cosmic-greeter-git
	depends = cosmic-icons-git
	depends = cosmic-idle-git
	depends = cosmic-launcher-git
	depends = cosmic-notifications-git
	depends = cosmic-osd-git
	depends = cosmic-panel-git
	depends = cosmic-randr-git
	depends = cosmic-screenshot-git
	depends = cosmic-settings-daemon-git
	depends = cosmic-settings-git
	depends = cosmic-workspaces-git
	depends = noto-fonts
	depends = switcheroo-control
	depends = ttf-opensans
	depends = xdg-desktop-portal-cosmic-git
	depends = xorg-xwayland
	optdepends = cosmic-edit-git: COSMIC text editor
	optdepends = cosmic-player-git: COSMIC media player
	optdepends = cosmic-store-git: COSMIC store
	optdepends = cosmic-term-git: COSMIC terminal
	optdepends = cosmic-wallpapers-git: COSMIC wallpapers
	optdepends = dconf: Apply COSMIC settings to GTK applications
	optdepends = gnome-keyring: Start gnome keyring components if the daemon is active
	optdepends = system-config-printer: printer settings
	optdepends = vulkan-driver: packaged vulkan driver
	provides = cosmic-session
	conflicts = cosmic-session
	source = git+https://github.com/pop-os/cosmic-session.git
	source = lto.patch
	sha256sums = SKIP
	sha256sums = b8090fa3fcd5266b04b4b6d5fd5afe6c13f10e1dd10c463a6133a8a22b0521a1

pkgname = cosmic-session-git
