pkgbase = tuxedo-control-center-bin
	pkgdesc = A tool to help you control performance, energy, fan and comfort settings on TUXEDO laptops.
	pkgver = 2.1.11
	pkgrel = 1
	url = https://github.com/tuxedocomputers/tuxedo-control-center
	install = tuxedo-control-center-bin.install
	arch = x86_64
	license = GPL3
	depends = tuxedo-drivers-dkms
	depends = libxss
	depends = nss
	depends = gtk3
	optdepends = libayatana-appindicator
	optdepends = libappindicator-gtk3
	conflicts = tuxedo-control-center
	conflicts = auto-cpufreq
	options = !strip
	options = !debug
	source = https://rpm.tuxedocomputers.com/fedora/39/x86_64/base/tuxedo-control-center_2.1.11.rpm
	source = tuxedo-control-center-bin.install
	sha256sums = 7158e0ff557d9db2064fc5203c2f21543b5be8f9089f5e0c420a89944bfb0eec
	sha256sums = fef8f708ff4ba19921f167ff9bffd2536cc0c128dfe418a30f7e5e0d04fca6e3
	sha512sums = fc1a507acb5360e5694dc87179f49f479c26dad93a4915d15970ee95a9214184f490223b0857cbf8aac13ccffd2baaf93bfe038176dc6716c4a89715cdf7798c
	sha512sums = b70d3412f07c72d6de2cf18e75a184741d8f5db7f144c4d8e8c0dde752e197d831fc8f8b6c095c9b6387ff97b36567f9cf5167dbb23ebc392f7b3cc47a78111a

pkgname = tuxedo-control-center-bin
