pkgbase = xfe
	pkgdesc = X File Explorer (Xfe) is an MS-Explorer like file manager for X
	pkgver = 2.1.3
	pkgrel = 1
	url = http://roland65.free.fr/xfe
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = intltool
	depends = fox
	depends = freetype2
	depends = xcb-util
	depends = libxft
	source = https://downloads.sourceforge.net/sourceforge/xfe/xfe-2.1.3.tar.xz
	sha256sums = f0d3c723bbf8ce8263fa2f9844c9bc126c525271a10ba8696ec388f9a587013d

pkgname = xfe
