pkgbase = wxwidgets-static
	pkgdesc = wxWidgets suite, static libs
	pkgver = 3.3.4
	pkgrel = 1
	url = https://github.com/wxWidgets/wxWidgets
	arch = x86_64
	license = LicenseRef-wxWindows
	makedepends = cmake
	makedepends = git
	makedepends = gtk3
	makedepends = ninja
	makedepends = qt6-base
	options = !debug
	options = !lto
	source = wxwidgets::git+https://github.com/wxWidgets/wxWidgets.git#tag=v3.3.4
	sha256sums = 246d2ed25d54630a1bb721b8f81bb4cfe7b8210654bf258a72b16be7eba42881

pkgname = wxwidgets-static
