pkgbase = teams-for-linux
	pkgdesc = Unofficial Microsoft Teams client for Linux using Electron.
	pkgver = 1.12.5
	pkgrel = 1
	url = https://github.com/IsmaelMartinez/teams-for-linux
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = x86_64
	license = GPL-3.0-only
	makedepends = nodejs>=18
	makedepends = node-gyp
	makedepends = npm
	depends = gtk3
	depends = libxss
	depends = nss
	source = teams-for-linux-1.12.5.tar.gz::https://github.com/IsmaelMartinez/teams-for-linux/archive/v1.12.5.tar.gz
	source = teams-for-linux.desktop
	sha256sums = 1e7ea7241402b3c460295dcab13a78f4d662f23d20abed7258698519a52bc81b
	sha256sums = 4aa7c4aa178ba4e0f97f9ff4a514764a03b332978495d5e7f2dc1ce3f74db615

pkgname = teams-for-linux
