pkgbase = xone-dkms-git
	pkgdesc = Modern Linux driver for Xbox One and Xbox Series X|S controllers
	pkgver = 0.3.r0.g8311a25
	pkgrel = 2
	url = https://github.com/medusalix/xone
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = dkms
	depends = xone-dongle-firmware
	provides = xone-dkms
	conflicts = xone-dkms
	conflicts = xow
	source = git+https://github.com/medusalix/xone.git
	sha256sums = SKIP

pkgname = xone-dkms-git
