pkgbase = lib32-nvidia-525xx-utils
	pkgdesc = NVIDIA x32 libs for Linux, 525 branch
	pkgver = 525.147.05
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = x86_64
	license = custom
	options = !strip
	source = https://us.download.nvidia.com/XFree86/Linux-x86_64/525.147.05/NVIDIA-Linux-x86_64-525.147.05.run
	sha512sums = 0c7b31715fce6a7bd77a2d9f9a3dca54a929a7790d748051576f62cdaeaeb6a9d0f3fbb13f0b20a51966bdb9470acdbc9ee529a9e84f38a9c834a1bd28d81773

pkgname = lib32-nvidia-525xx-utils
	pkgdesc = NVIDIA drivers utilities (32-bit), 525 branch
	depends = lib32-zlib
	depends = lib32-gcc-libs
	depends = lib32-libglvnd
	depends = nvidia-utils=525.147.05
	optdepends = lib32-opencl-nvidia
	provides = lib32-nvidia-utils=525.147.05
	provides = lib32-vulkan-driver
	provides = lib32-opengl-driver
	provides = lib32-nvidia-libgl
	conflicts = lib32-nvidia-utils
	conflicts = lib32-nvidia-libgl

pkgname = lib32-opencl-nvidia-525xx
	pkgdesc = OpenCL implemention for NVIDIA (32-bit), 525 branch
	depends = lib32-zlib
	depends = lib32-gcc-libs
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = lib32-opencl-nvidia
	provides = lib32-opencl-driver
	conflicts = lib32-opencl-nvidia
