pkgbase = ngrok
	pkgdesc = A tunneling, reverse proxy for developing and understanding networked, HTTP services
	pkgver = 3.37.2
	pkgrel = 1
	url = https://ngrok.com
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LicenseRef-custom
	optdepends = bash-completion: Bash completion support
	options = !strip
	source = TERMS-OF-SERVICE.txt
	sha256sums = d1fce3c7e78d5f7e5307238ee5f371b7a10911aeb249e3358e945eaa8cf2f1b2
	source_i686 = https://bin.equinox.io/a/mYc7xj1Vfj6/ngrok-v3-3.37.2-linux-386.tar.gz
	sha256sums_i686 = 20a33670f4d12ec7fae2f22a03ce7f4a0939657335b2552537f7dc63f750ec0f
	source_x86_64 = https://bin.equinox.io/a/e3qN3YYBf9Z/ngrok-v3-3.37.2-linux-amd64.tar.gz
	sha256sums_x86_64 = fb0125fed6eb5f918cd80532f108574f6ef4e3aa0e158cee75da36a8d9f17325
	source_armv7h = https://bin.equinox.io/a/m5VgkfbHJ1U/ngrok-v3-3.37.2-linux-arm.tar.gz
	sha256sums_armv7h = 03169d4eb5c84376e6012bba6244cf1bd5c88b02dac9915cfb60944df15bcb9f
	source_aarch64 = https://bin.equinox.io/a/gVAqkNchcmU/ngrok-v3-3.37.2-linux-arm64.tar.gz
	sha256sums_aarch64 = 0ee0dff84a6d13f8a24f56c47a5cf3385d7580498a6855eec82ecbdbe2094125

pkgname = ngrok
