pkgbase = ngrok
	pkgdesc = A tunneling, reverse proxy for developing and understanding networked, HTTP services
	pkgver = 3.33.1
	pkgrel = 1
	url = https://ngrok.com
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LicenseRef-custom
	optdepends = bash-completion: Bash completion support
	options = !strip
	source = TERMS-OF-SERVICE.txt
	sha256sums = d1fce3c7e78d5f7e5307238ee5f371b7a10911aeb249e3358e945eaa8cf2f1b2
	source_i686 = https://bin.equinox.io/a/7jCkVgxrtdP/ngrok-v3-3.33.1-linux-386.tar.gz
	sha256sums_i686 = 388e3247c39c744dd38394a4cf4b1f3ce0940d2f8e54d6ed15b276f1e98b366a
	source_x86_64 = https://bin.equinox.io/a/bNzUz3YQtcB/ngrok-v3-3.33.1-linux-amd64.tar.gz
	sha256sums_x86_64 = 7d5cf30be47a38d937958dff61a2b175a289bdbf72fdc20774a6dceeaaaa3dbf
	source_armv7h = https://bin.equinox.io/a/hPGy7FMQzZZ/ngrok-v3-3.33.1-linux-arm.tar.gz
	sha256sums_armv7h = 6329f264fc94f3d9a344a538de2394c69b680eda1a095e3fdf2e8878a7ca9757
	source_aarch64 = https://bin.equinox.io/a/8Ke6HQWUP1A/ngrok-v3-3.33.1-linux-arm64.tar.gz
	sha256sums_aarch64 = b46a58629343017e0877a02e533b889224695d0479275fe6f3a6b84b16e0f8dd

pkgname = ngrok
