pkgbase = latte-dock-ng
	pkgdesc = Latte is a dock based on plasma frameworks that provides an elegant and intuitive experience for your tasks and plasmoids
	pkgver = 1.2.19
	pkgrel = 1
	url = https://github.com/ruizhi-lab/latte-dock-ng
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gcc
	makedepends = git
	makedepends = gettext
	makedepends = pkgconf
	makedepends = python
	depends = karchive
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kdeclarative
	depends = kglobalaccel
	depends = kguiaddons
	depends = kiconthemes
	depends = ki18n
	depends = kio
	depends = kitemmodels
	depends = knewstuff
	depends = knotifications
	depends = kpackage
	depends = ksvg
	depends = kwayland
	depends = kwindowsystem
	depends = kxmlgui
	depends = layer-shell-qt
	depends = libplasma
	depends = plasma-activities
	depends = plasma-activities-stats
	depends = plasma-wayland-protocols
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-wayland
	depends = wayland
	provides = latte-dock
	conflicts = latte-dock
	source = https://github.com/ruizhi-lab/latte-dock-ng/archive/v1.2.19.tar.gz
	sha256sums = 2591c77e62ae891ac68917f4e627ccd6d1aedeb0800ad046b21cfd95960142da

pkgname = latte-dock-ng
