pkgbase = mint-y-icons
	pkgdesc = A flat, colorful, and modern theme based on Paper and Moka
	pkgver = 1.8.8
	pkgrel = 1
	url = https://github.com/linuxmint/mint-y-icons
	arch = any
	license = GPL-3.0-or-later
	depends = gtk-update-icon-cache
	depends = hicolor-icon-theme
	optdepends = mint-x-icons: enable additional icons to inheritage
	options = !strip
	source = http://packages.linuxmint.com/pool/main/m/mint-y-icons/mint-y-icons_1.8.8.tar.xz
	sha256sums = 9b2ec5dce0f2b6e79f0962c2fd81e7811680c74dc7a34c5f58c081506d4770cf

pkgname = mint-y-icons
