pkgbase = swift-bin
	pkgdesc = Binary builds of the Swift programming language
	pkgver = 5.10
	pkgrel = 1
	url = https://www.swift.org/
	arch = x86_64
	arch = aarch64
	license = apache
	makedepends = patchelf
	depends = util-linux-libs
	depends = libxml2
	depends = ncurses
	optdepends = python39: required for REPL
	provides = swift-language
	replaces = swift-language-bin
	options = !strip
	source_x86_64 = https://download.swift.org/swift-5.10-release/ubi9/swift-5.10-RELEASE/swift-5.10-RELEASE-ubi9.tar.gz
	sha256sums_x86_64 = 0db8d9e499ec63a07ce970a2f41613310fb712c3936f1a797ccdacde7536384d
	source_aarch64 = https://download.swift.org/swift-5.10-release/ubi9-aarch64/swift-5.10-RELEASE/swift-5.10-RELEASE-ubi9-aarch64.tar.gz
	sha256sums_aarch64 = 784f859cdcacffa2df93fa0d433aa1a38c6ad0884f628bbdad039bc25d63b3c4

pkgname = swift-bin
