pkgbase = skypeforlinux-bin
	pkgdesc = Skype for Linux
	pkgver = 8.125.0.201
	pkgrel = 1
	url = https://snapcraft.io/skype
	arch = x86_64
	license = LicenseRef-Skype
	makedepends = html-xml-utils
	makedepends = pandoc
	makedepends = sha3sum
	makedepends = squashfs-tools
	source = skypeforlinux-8.125.0.201.snap::https://api.snapcraft.io/api/v1/snaps/download/QRDEfjn4WJYnm0FzDKwqqRZZI77awQEV_353.snap
	sha256sums = SKIP

pkgname = skypeforlinux-bin
	depends = alsa-lib
	depends = gtk3
	depends = libsecret
	depends = nss
