pkgbase = bambustudio-bin
	pkgdesc = PC Software for BambuLab's 3D printers
	pkgver = 02.07.01.57
	pkgrel = 1
	url = https://github.com/bambulab/BambuStudio
	arch = x86_64
	license = AGPL3
	makedepends = fuse2
	makedepends = patchelf
	depends = mesa
	depends = glu
	depends = cairo
	depends = gtk3
	depends = libsoup3
	depends = gstreamer
	depends = openvdb
	depends = wayland
	depends = wayland-protocols
	depends = libxkbcommon
	depends = gst-libav
	depends = webkit2gtk-4.1
	conflicts = bambustudio
	conflicts = bambustudio-git
	conflicts = squashfuse
	source = bambustudio-02.07.01.57.AppImage::https://github.com/bambulab/BambuStudio/releases/download/v02.07.01.57/BambuStudio_ubuntu-24.04-v02.07.01.57-20260601192128.AppImage
	source = BambuStudio.desktop
	source = bambu-studio
	sha256sums = 85b053853f1a238775cd7ae2d4d19544e35260592428d2276ca27dcbd5f8eb53
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bambustudio-bin
