pkgbase = bambustudio-bin
	pkgdesc = PC Software for BambuLab's 3D printers
	pkgver = 02.04.00.70
	pkgrel = 1
	url = https://github.com/bambulab/BambuStudio
	arch = x86_64
	license = AGPL3
	makedepends = fuse2
	makedepends = patchelf
	depends = mesa
	depends = glu
	depends = cairo
	depends = gtk3
	depends = libsoup
	depends = gstreamer
	depends = openvdb
	depends = wayland
	depends = wayland-protocols
	depends = libxkbcommon
	depends = gst-libav
	depends = webkit2gtk-4.1
	conflicts = bambustudio
	conflicts = bambustudio-git
	conflicts = squashfuse
	source = bambustudio-02.04.00.70.AppImage::https://github.com/bambulab/BambuStudio/releases/download/v02.04.00.70/Bambu_Studio_ubuntu-24.04_PR-8834.AppImage
	source = BambuStudio.desktop
	source = bambu-studio
	sha256sums = 26bc07dccb04df2e462b1e03a3766509201c46e27312a15844f6f5d7fdf1debd
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = bambustudio-bin
