[Desktop Entry]
Name=OpenUtau
StartupWMClass=openutau
Comment=Open source UTAU successor
GenericName=Utau
Exec=/opt/openutau/OpenUtau
Type=Application
Categories=Music;
Path=/opt/openutau
