pkgbase = cie-middleware-bin
	pkgdesc = Middleware della CIE (Carta di Identità Elettronica) per Linux - Upstream Release
	pkgver = 1.4.3.12
	pkgrel = 1
	url = https://developers.italia.it/it/cie
	install = cie-middleware.install
	arch = x86_64
	license = BSD
	depends = gcc-libs
	depends = glibc
	depends = openssl
	depends = java-runtime
	depends = pcsclite
	provides = cie-middleware
	conflicts = cie-middleware
	conflicts = cie-middleware-git
	source = https://github.com/italia/cie-middleware-linux/releases/download/1.4.3.12/CIE-Middleware-1.4.3-12.x86-64.tar.gz
	source = LICENSE
	sha256sums = 8a3bf7708f58fd73658b2a270d420f0c1a3ec9b9e1f09e3e24ac9de399e8eb25
	sha256sums = bf2723ca68a1f406557a3174f9195dbdc6171cbf8f7ad83f56546ac592a9ea8e

pkgname = cie-middleware-bin
