pkgbase = python-qiskit-aer
	pkgdesc = A high performance simulator for quantum circuits that includes noise models
	pkgver = 0.16
	pkgrel = 1
	url = https://github.com/Qiskit/qiskit-aer
	arch = x86_64
	license = Apache-2.0
	makedepends = cmake
	makedepends = gcc-fortran
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = pybind11
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-scikit-build
	makedepends = python-setuptools
	makedepends = spdlog
	depends = blas-openblas
	depends = cython
	depends = muparserx
	depends = python-numpy
	depends = python-psutil
	depends = python-qiskit
	depends = python-scipy
	optdepends = openmp: parallelization with OpenMP
	optdepends = python-cvxpy: support convex optimization
	optdepends = python-dask: parallel computing with task scheduling
	optdepends = python-distributed: distributed task scheduler for Dask
	source = qiskit-aer-0.16.tar.gz::https://github.com/Qiskit/qiskit-aer/archive/0.16.tar.gz
	b2sums = ddbad1c1c8be51806c5de524327312f8c56fb46f686b3c61b2059770485ff0022fab45faae55f22f2ac37e4cd6e71fd2d2b9c27c945639dc785b6dbb3a33492f

pkgname = python-qiskit-aer
