pkgbase = forkgram
	pkgdesc = Fork of Telegram Desktop messaging app.
	pkgver = 5.4.0
	pkgrel = 1
	url = https://github.com/Forkgram/tdesktop
	arch = x86_64
	arch = x86_64_v3
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = microsoft-gsl
	makedepends = meson
	makedepends = extra-cmake-modules
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	makedepends = libtg_owt
	makedepends = gobject-introspection
	makedepends = boost
	makedepends = fmt
	makedepends = mm-common
	makedepends = perl-xml-parser
	makedepends = glib2-devel
	makedepends = dos2unix
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = xxhash
	depends = ada
	depends = rnnoise
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl
	depends = protobuf
	depends = glib2
	depends = libsigc++-3.0
	depends = openh264
	depends = libxcomposite
	depends = libvpx
	depends = libxdamage
	depends = kcoreaddons
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	provides = forkgram-bin
	conflicts = forkgram-bin
	conflicts = telegram-desktop
	options = !debug
	source = frk::git+https://github.com/forkgram/tdesktop.git#tag=v5.4.0
	source = forkgram.desktop
	sha512sums = b86e346c59228f874bcb25292da25f8292185c054df92be0138dc006ae3741e184bb8f3a0e96697270bec4f212a9c375ba97bed3509abed5f5b3c5437cefe402
	sha512sums = d6d54a5a396c0a84645ca5f38cd2d0c774d1a00f081cdf6151228b581ff1c05234550d4829aab4fe2221dec8e0477199da5a0cb1bc3a60fa1fbfe0336db365dd

pkgname = forkgram
