pkgbase = xrdp
	pkgdesc = An open source remote desktop protocol (RDP) server
	pkgver = 0.10.2
	pkgrel = 3
	url = https://github.com/neutrinolabs/xrdp
	install = xrdp.install
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7l
	arch = aarch64
	license = Apache-2.0
	checkdepends = check
	makedepends = nasm
	makedepends = cmocka
	depends = libxrandr
	depends = libfdk-aac
	depends = ffmpeg
	depends = imlib2
	depends = fuse3
	optdepends = tigervnc
	optdepends = tightvnc
	optdepends = realvnc-vnc-server
	backup = etc/xrdp/sesman.ini
	backup = etc/xrdp/xrdp.ini
	backup = etc/xrdp/cert.pem
	backup = etc/xrdp/key.pem
	backup = etc/xrdp/startwm.sh
	backup = etc/xrdp/reconnectwm.sh
	backup = etc/default/xrdp
	source = https://github.com/neutrinolabs/xrdp/releases/download/v0.10.2/xrdp-0.10.2.tar.gz
	source = arch-config.diff
	sha256sums = 6e2b4fb719fbd74a42c1008afc670e5e2940c8cbf3d8977e78c8451f7d267b62
	sha256sums = e0ffce5b1a436990281fe2cc4a3cd9c2840a1dad99740aeaea866ccd9ef56db0

pkgname = xrdp
