pkgbase = ps7_libps5000
	pkgdesc = Library for PicoScope 5000 series in PicoScope 7
	pkgver = 2.1.151_3r6187
	pkgrel = 1
	url = https://labs.picotech.com/picoscope7/debian/pool/main/libp/libps5000/
	install = ps7_libps5000.install
	arch = x86_64
	license = custom
	depends = libusb
	conflicts = ps7b_libps5000
	options = !strip
	source = https://labs.picotech.com/picoscope7/debian/pool/main/libp/libps5000/libps5000_2.1.151-3r6187_amd64.deb
	md5sums = a06e12b566b71014a271db33a1dc53f1

pkgname = ps7_libps5000
