pkgbase = jackett
	pkgdesc = Use many torrent trackers with software that supports torznab/potato feeds.
	pkgver = 0.21.2603
	pkgrel = 1
	url = https://github.com/Jackett/Jackett
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = GPL
	makedepends = dotnet-sdk-6.0
	depends = aspnet-runtime-6.0
	optdepends = flaresolverr: A proxy server to bypass Cloudflare protection
	options = !strip
	options = staticlibs
	source = jackett-0.21.2603.tar.gz::https://github.com/Jackett/Jackett/archive/v0.21.2603.tar.gz
	source = jackett.service
	source = jackett.sysusers
	source = jackett.tmpfiles
	sha256sums = 7b3faf22a406ab37c8c2500212a8b8e298ec519e211afd0a36af7e12ec2530ec
	sha256sums = 9d8f9d73e5fa2b2877dde010c0d8ca6fbf47f03eb1f01b02f846026a949a0dcf
	sha256sums = d005fcd009ec5404e1ec88246c31e664167f5551d6cabc35f68eb41750bfe590
	sha256sums = 64022e15565a609f449090f02d53ee90ef95cffec52ae14f99e4e2132b6cffe1

pkgname = jackett
