pkgbase = planify
	pkgdesc = Task manager with Todoist and Nextcloud support
	pkgver = 4.9.0
	pkgrel = 1
	url = https://github.com/alainm23/planify
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = evolution-data-server
	depends = granite7
	depends = gtksourceview5
	depends = gxml
	depends = libadwaita
	depends = libportal-gtk4
	depends = webkitgtk-6.0
	conflicts = elementary-planner
	source = planify-4.9.0.tar.gz::https://github.com/alainm23/planify/archive/refs/tags/4.9.0.tar.gz
	sha256sums = 1b2fd941c60b061486737a9b13c555a2d0a09dc3398d64f2aeeee787ca3475e4

pkgname = planify
