pkgbase = rocketchat-desktop
	pkgdesc = Rocket.Chat Native Cross-Platform Desktop Application via Electron
	pkgver = 3.9.14
	pkgrel = 1
	url = https://github.com/RocketChat/Rocket.Chat.Electron
	install = rocketchat-desktop.install
	arch = any
	license = MIT
	makedepends = node-gyp
	makedepends = yarn
	makedepends = asar
	depends = electron22
	depends = nodejs
	depends = libvips
	source = rocketchat-desktop-3.9.14.tar.gz::https://github.com/RocketChat/Rocket.Chat.Electron/archive/3.9.14/rocketchat-desktop-3.9.14.tar.gz
	source = rocketchat-desktop.desktop
	sha256sums = 4edd1355b3fd1d0b9f1f099637b0ec197594d9f8adccf49dad2372cab2178b68
	sha256sums = 31fae4f98a61a774f84030fd43d2ef92c7633740dc5aa55967a21d0e29ea621a

pkgname = rocketchat-desktop
