pkgbase = yaak
	pkgdesc = Fast, offline and Git-friendly API client for HTTP, GraphQL, WebSockets, SSE, and gRPC
	pkgver = 2026.3.1
	pkgrel = 1
	url = https://yaak.app/
	arch = aarch64
	arch = armv7h
	arch = i686
	arch = pentium4
	arch = x86_64
	license = MIT
	makedepends = appmenu-gtk-module
	makedepends = cargo
	makedepends = git
	makedepends = libappindicator-gtk3
	makedepends = librsvg
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	makedepends = rust-wasm
	makedepends = wasm-pack
	depends = bzip2
	depends = cairo
	depends = dbus
	depends = fontconfig
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	depends = xz
	depends = zlib
	provides = yaak-app
	conflicts = yaak-app-beta
	conflicts = yaak-appimage
	conflicts = yaak-bin
	conflicts = yaak-git
	options = !lto
	options = !strip
	options = !emptydirs
	source = yaak::git+https://github.com/mountain-loop/yaak.git#tag=v2026.3.1
	b2sums = 0398303364d940912ebe10e0aa755ac312189cbbd4bc33f1e9cca393596caddf04af8bb5f0fdcc61b7cf666fc7f602a044c18e1863dcf5cd92901899dceeef89

pkgname = yaak
