pkgbase = clash-verge-rev
	pkgdesc = Continuation of Clash Verge | A Clash Meta GUI based on Tauri
	pkgver = 2.5.0
	pkgrel = 1
	url = https://github.com/clash-verge-rev/clash-verge-rev
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = GPL-3.0-or-later
	makedepends = pnpm
	makedepends = rust
	makedepends = jq
	makedepends = moreutils
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libayatana-appindicator
	depends = mihomo
	provides = clash-verge
	conflicts = clash-verge
	source = clash-verge-rev-2.5.0.tar.gz::https://github.com/clash-verge-rev/clash-verge-rev/archive/v2.5.0.tar.gz
	source = clash-verge-service-ipc-2.3.0.tar.gz::https://github.com/clash-verge-rev/clash-verge-service-ipc/archive/v2.3.0.tar.gz
	sha512sums = a4374effe5e98f105bedb56855ec1ac7a7eba312db68d5ed4de7117fa07061d8fd5eaf026b2a57931813ba5fbe5191c7b106a21175609c7322bb42cb2b9f1c20
	sha512sums = 5c9e316fcd1a8cdf59833be0596cbfb49c7d61445a04ed4cbbc9b5054c37b5f15a53e841c1d4c74b7eae8ff2582172d88e213a1ed3e1eabe6d06437ea4976de9

pkgname = clash-verge-rev
