pkgbase = noctalia-shell
	pkgdesc = A sleek and minimal desktop shell thoughtfully crafted for Wayland, built with Quickshell.
	pkgver = 4.7.3
	pkgrel = 1
	url = https://github.com/noctalia-dev/noctalia-shell
	arch = any
	license = MIT
	makedepends = git
	depends = noctalia-qs
	depends = imagemagick
	depends = brightnessctl
	depends = ffmpeg
	depends = qt6-multimedia
	depends = python
	depends = wlr-randr
	optdepends = cliphist: For clipboard history support
	optdepends = wlsunset: For supporting NightLight
	optdepends = power-profiles-daemon: For power profile management
	optdepends = ddcutil: For external display brightness control
	conflicts = noctalia-shell-git
	source = git+https://github.com/noctalia-dev/noctalia-shell.git#tag=v4.7.3
	sha256sums = 9fefbe913ea25eada28ad2290025d5a68831d6b229c320f3c638162418d97c8f

pkgname = noctalia-shell
