pkgbase = noctalia-shell
	pkgdesc = A sleek and minimal desktop shell thoughtfully crafted for Wayland, built with Quickshell.
	pkgver = 4.7.5
	pkgrel = 1
	url = https://github.com/noctalia-dev/noctalia-shell
	arch = any
	license = MIT
	makedepends = git
	depends = noctalia-qs
	depends = imagemagick
	depends = brightnessctl
	depends = ffmpeg
	depends = qt6-multimedia
	depends = python
	depends = wlr-randr
	optdepends = cliphist: For clipboard history support
	optdepends = wlsunset: For supporting NightLight
	optdepends = power-profiles-daemon: For power profile management
	optdepends = ddcutil: For external display brightness control
	conflicts = noctalia-shell-git
	source = git+https://github.com/noctalia-dev/noctalia-shell.git#tag=v4.7.5
	sha256sums = c8a1aec9e31fc2713d8b0ccac9f04e87fbd17c25774d9ef97088d9e08bdde414

pkgname = noctalia-shell
