pkgbase = noctalia-shell
	pkgdesc = A sleek and minimal desktop shell thoughtfully crafted for Wayland, built with Quickshell.
	pkgver = 2.21.1
	pkgrel = 1
	url = https://github.com/noctalia-dev/noctalia-shell
	arch = any
	license = MIT
	depends = quickshell
	depends = ttf-roboto
	depends = inter-font
	depends = gpu-screen-recorder
	depends = brightnessctl
	optdepends = cliphist: For clipboard history support
	optdepends = matugen-bin: Material You color scheme generation
	optdepends = cava: Audio visualizer component
	optdepends = wlsunset: For supporting NightLight
	optdepends = power-profiles-daemon: For power profile management
	optdepends = ddcutil: For external display brightness control
	conflicts = noctalia-shell-git
	source = git+https://github.com/noctalia-dev/noctalia-shell.git#tag=v2.21.1
	sha256sums = 7f52d4d590db915cce98e776608261047cab0429a1c36c2688dd586bd8f8f2b4

pkgname = noctalia-shell
