pkgbase = harmonoid-bin
	pkgdesc = Plays & manages your music library. Looks beautiful & juicy. Playlists, visuals, synced lyrics, pitch shift, volume boost & more.
	pkgver = 0.3.10
	pkgrel = 1
	url = https://github.com/harmonoid/harmonoid
	arch = x86_64
	license = LicenseRef-PolyForm-Strict-1.0.0
	makedepends = patchelf
	depends = glibc
	depends = gcc-libs
	depends = mpv
	depends = gdk-pixbuf2
	depends = libepoxy
	depends = gtk3
	depends = pango
	depends = fontconfig
	depends = hicolor-icon-theme
	depends = zlib-ng-compat
	depends = glib2
	depends = harfbuzz
	depends = cairo
	depends = at-spi2-core
	optdepends = playerctl: mpris support
	provides = harmonoid
	conflicts = harmonoid
	options = !strip
	source = harmonoid-linux-0.3.10-x86_64.tar.gz::https://github.com/alexmercerind2/harmonoid-releases/releases/download/v0.3.10/harmonoid-linux-x86_64.tar.gz
	source = https://github.com/harmonoid/harmonoid/archive/refs/tags/v0.3.10.tar.gz
	sha256sums = 19317d2ab713a2509cd70fd64f47e5c25042062b6c9053da26e354771096f60b
	sha256sums = e22655f68899b09ed3b40e5e310e2087864dacd607ce269c2240bc9eba1d980d

pkgname = harmonoid-bin
