pkgbase = diodon
	pkgdesc = GTK+ clipboard manager
	pkgver = 1.13.0
	pkgrel = 4
	url = https://github.com/diodon-dev/diodon
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	makedepends = xorg-server-xvfb
	depends = libayatana-appindicator
	depends = libpeas
	depends = zeitgeist
	source = diodon-1.13.0.tar.gz::https://github.com/diodon-dev/diodon/archive/refs/tags/1.13.0.tar.gz
	sha256sums = 387e78e24dfcac5a73c65ff758c66894a712f7d10754b4ffcfdc11590a9e0a10

pkgname = diodon
