pkgbase = python-rst.linker
	pkgdesc = Tools for adding metadata and hyperlinks to reStructuredText
	pkgver = 2.6.0
	pkgrel = 2
	url = https://github.com/jaraco/rst.linker
	arch = any
	license = MIT
	checkdepends = python-path
	checkdepends = python-pytest
	checkdepends = python-pytest-subprocess
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	depends = python-jaraco.vcs
	depends = python-jaraco.context
	depends = python-six
	source = rst.linker-2.6.0.tar.gz::https://github.com/jaraco/rst.linker/archive/refs/tags/v2.6.0.tar.gz
	sha256sums = 0f45f2542e0888ebc6b611291ad7ee80448d3cf70b24cf587dabe5ca189cc8b5

pkgname = python-rst.linker
