pkgbase = heimer
	pkgdesc = Cross-platform mind map, diagram, and note-taking tool
	pkgver = 4.5.0
	pkgrel = 2
	url = https://github.com/juzzlin/heimer
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	depends = hicolor-icon-theme
	depends = qt6-svg
	source = heimer-4.5.0.tar.gz::https://github.com/juzzlin/heimer/archive/4.5.0.tar.gz
	sha256sums = 92bedc9a42eb80d872f4700ee5ee3bfa3884762831d0a11b735c6f72452a4726

pkgname = heimer
