pkgbase = python-telegram-bot
	pkgdesc = A library that provides a Python interface to the Telegram Bot API
	pkgver = 21.7
	pkgrel = 1
	url = https://github.com/python-telegram-bot/python-telegram-bot
	arch = any
	license = LGPL-3.0-only
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	makedepends = python-wheel
	depends = python-httpx
	optdepends = python-cachetools: for use a variant of LRUCache
	optdepends = python-h2: for HTTP/2 support
	optdepends = python-apscheduler: for job queue support
	optdepends = python-pytz: for job queue support
	optdepends = python-cryptography: for support cryptography library
	optdepends = python-aiolimiter: for rate limiter
	optdepends = python-socksio: for SOCKS proxy support
	optdepends = python-tornado: for webhooks support
	source = https://github.com/python-telegram-bot/python-telegram-bot/releases/download/v21.7/python_telegram_bot-21.7.tar.gz
	sha512sums = cce785592dc952b1c28d151fbe31563cb18efd41aabb6c18b058f783e15da042d21ebed7df114ca9f01796cbbacee439e5f0dd4f623ec445eb08a7d4fad322df

pkgname = python-telegram-bot
