pkgbase = forum-scout
	pkgdesc = Arch focused forum search tool (GTK4)
	pkgver = 0.6.6
	pkgrel = 1
	url = https://github.com/musqz/forum-scout
	arch = any
	license = MIT
	checkdepends = desktop-file-utils
	depends = gtk4
	depends = python-gobject
	depends = python-requests
	conflicts = forum-scout-qt
	source = forum-scout-0.6.6.tar.gz::https://github.com/musqz/forum-scout/archive/refs/tags/v0.6.6.tar.gz
	sha256sums = d18356ecfd220af1e286e4e090eb33a19624c22c47e052858650b4788bcc12c1

pkgname = forum-scout
