pkgbase = c++utilities
	pkgdesc = Common C++ classes and routines such as argument parser, IO and conversion utilities
	pkgver = 5.35.0
	pkgrel = 1
	url = https://github.com/Martchus/cpp-utilities
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	checkdepends = cppunit
	makedepends = cmake
	makedepends = ninja
	depends = glibc
	depends = libstdc++
	depends = libgcc
	optdepends = c++utilities-doc: API documentation
	provides = libc++utilities.so
	source = c++utilities-5.35.0.tar.gz::https://github.com/Martchus/cpp-utilities/archive/v5.35.0.tar.gz
	sha256sums = f9e2171ba59a6588afac03b7a8f019ea3170522e96786b2ade5f8f2c9a9157bb

pkgname = c++utilities
