pkgbase = c++utilities
	pkgdesc = Common C++ classes and routines such as argument parser, IO and conversion utilities
	pkgver = 5.28.1
	pkgrel = 1
	url = https://github.com/Martchus/cpp-utilities
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	checkdepends = cppunit
	makedepends = cmake
	makedepends = ninja
	depends = gcc-libs
	optdepends = c++utilities-doc: API documentation
	provides = libc++utilities.so
	source = c++utilities-5.28.1.tar.gz::https://github.com/Martchus/cpp-utilities/archive/v5.28.1.tar.gz
	sha256sums = b5c0dab7ea0ca6bf016ae156877a9c1f238172b09765f499a5b6e174ffe6fc6a

pkgname = c++utilities
