pkgbase = ruby-build
	pkgdesc = Compile and install Ruby
	pkgver = 20240702
	pkgrel = 1
	url = https://github.com/rbenv/ruby-build
	arch = any
	license = MIT
	depends = bash
	optdepends = git: install ruby from git
	optdepends = libyaml: install recent versions of mri
	source = ruby-build-v20240702.tar.gz::https://github.com/rbenv/ruby-build/archive/v20240702.tar.gz
	sha512sums = 2a4e8d8fb63b71b6240f5f3a97c4ff95a32fa5818ad9ecf7abe835fc5d94d2961f4c71b35a5e58fe40b0d6656fdad5959e2bd91e23a5bd4c26b5860cb779d722

pkgname = ruby-build
