pkgbase = uavs3d
	pkgdesc = An AVS3 decoder supporting AVS3-P2 baseline profile
	pkgver = 1.2
	pkgrel = 1
	url = https://github.com/uavs3/uavs3d/
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = git
	depends = glibc
	source = git+https://github.com/uavs3/uavs3d.git#tag=1.2
	source = 010-uavs3d-10bit.patch
	sha256sums = 4253642b4c57ceac93293840a09dbbf02c2e54996e2c40238aa8a727f48784ba
	sha256sums = 56dd2ce8503ae838db3de9e444c00f533a74705ab07ff2084367ed9f2cc3630b

pkgname = uavs3d
