pkgbase = mint-l-icons
	pkgdesc = A flat, colorful, and modern theme based on Paper and Moka (legacy).
	pkgver = 1.8.5
	pkgrel = 1
	url = https://github.com/linuxmint/mint-l-icons
	arch = any
	license = GPL-3.0-or-later AND CC-BY-SA-4.0
	depends = gtk-update-icon-cache
	depends = hicolor-icon-theme
	optdepends = mint-x-icons: enable additional icons to inheritage
	options = !strip
	source = mint-l-icons_1.8.5.tar.xz::http://packages.linuxmint.com/pool/main/m/mint-l-icons/mint-l-icons_1.8.5.tar.xz
	sha256sums = fe13eed064b96566ea79d08d26fabbbcf7f22215dc4cf47aa94306c75d5d42da

pkgname = mint-l-icons
