pkgbase = mint-l-icons
	pkgdesc = A flat, colorful, and modern theme based on Paper and Moka (legacy).
	pkgver = 1.8.0
	pkgrel = 1
	url = https://github.com/linuxmint/mint-l-icons
	arch = any
	license = GPL-3.0-or-later AND CC-BY-SA-4.0
	depends = gtk-update-icon-cache
	depends = hicolor-icon-theme
	optdepends = mint-x-icons: enable additional icons to inheritage
	options = !strip
	source = mint-l-icons_1.8.0.tar.xz::http://packages.linuxmint.com/pool/main/m/mint-l-icons/mint-l-icons_1.8.0.tar.xz
	sha256sums = 1513116cf94d557104d8c5a6a616305055ff45469a899674c62dbdb7e8164eb8

pkgname = mint-l-icons
