pkgbase = dasel
	pkgdesc = Select, put and delete data from JSON, TOML, XML, YAML, HCL, and INI files with a single command-line tool
	pkgver = 3.2.0
	pkgrel = 1
	url = https://github.com/TomWright/dasel
	arch = aarch64
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = i686
	arch = x86_64
	license = MIT
	makedepends = go
	depends = glibc
	source = dasel-3.2.0.tar.gz::https://github.com/TomWright/dasel/archive/v3.2.0.tar.gz
	sha256sums = 8e0c20898ccf24ac9ca2217dec21bc4e0f6a17949431756ea0bce94d55d0cd43
	b2sums = 0806262818b452e0a66200bd3d054314ad39fd8eeee90d1c16136ee4fd592403696ee932c5b0e635b4987a2e03b126e97930000fdeae3623f952100eb061171d

pkgname = dasel
