fcp.enabled=true
fcp.port=9481
fproxy.advancedModeEnabled=true
fproxy.css=sky-dark-static
fproxy.enabled=true
fproxy.port=8888
logger.dirname=/opt/freenet/logs
logger.interval=24HOUR
logger.priority=ERROR
node.clientThrottleFile=/opt/freenet/user/data/client-throttle.dat
node.downloadAllowedDirs=all
node.downloadsDir=/opt/freenet/downloads
node.install.cfgDir=/opt/freenet/conf
node.install.nodeDir=/opt/freenet/noderef
node.install.persistentTempDir=/opt/freenet/persistent-temp
node.install.pluginDir=/opt/freenet/plugins
node.install.pluginStoresDir=/opt/freenet/plugins/data
node.install.runDir=/opt/freenet
node.install.storeDir=/opt/freenet/user/data
node.install.tempDir=/opt/freenet/tmp
node.install.userDir=/opt/freenet/user
node.load.nodeThrottleFile=/opt/freenet/user/data/node-throttle.dat
node.load.threadLimit=1000
node.masterKeyFile=/opt/freenet/user/master.keys
node.skipWrapperWarning=true
node.updater.autoupdate=false
node.updater.enabled=false
node.updater.updateInstallers=false
node.updater.updateSeednodes=true
node.uploadAllowedDirs=all
pluginmanager.enabled=true
security-levels.networkThreatLevel=HIGH
security-levels.physicalThreatLevel=NORMAL
ssl.sslKeyStore=/opt/freenet/user/certs
