pkgbase = waydroid-image-gapps
	pkgdesc = A container-based approach to boot a full Android system on a regular Linux system (Android image, GAPPS).
	pkgver = 18.1_20250315
	pkgrel = 1
	url = https://github.com/waydroid
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = Apache
	optdepends = waydroid
	provides = waydroid-image
	source_x86_64 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_x86_64/lineage-18.1-20250315-GAPPS-waydroid_x86_64-system.zip
	source_x86_64 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_x86_64/lineage-18.1-20250315-MAINLINE-waydroid_x86_64-vendor.zip
	sha256sums_x86_64 = 46f7c20ee4b32116926eb7be4e043ea4561c7471171cafa575414c0aba5f0142
	sha256sums_x86_64 = 7cb396f6fd5a453af8f48fae668372b22be307dbc45ac138ff1f1060c60805ed
	source_i686 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_x86/lineage-18.1-20250315-GAPPS-waydroid_x86-system.zip
	source_i686 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_x86/lineage-18.1-20250315-MAINLINE-waydroid_x86-vendor.zip
	sha256sums_i686 = 9515e28ae3456007525a7763975221b6978ed6d8e1c028d6ff8cee4718c0f584
	sha256sums_i686 = 2aa4a9edbdde0e9d274ee1ff45ed49cd437a1134e6961c3a408e051f5e127d31
	source_armv7h = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_arm/lineage-18.1-20250315-GAPPS-waydroid_arm-system.zip
	source_armv7h = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_arm/lineage-18.1-20250315-MAINLINE-waydroid_arm-vendor.zip
	sha256sums_armv7h = 30dd93a7a291c67ca8eaaf0bdd3bca6d739577fa14cba6a40c874d965303f68b
	sha256sums_armv7h = 058e07fd8a0ffbd2037414ebfd099cac50a680e1236613bd5cbc844cdab0e1b6
	source_aarch64 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_arm64/lineage-18.1-20250315-GAPPS-waydroid_arm64-system.zip
	source_aarch64 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_arm64/lineage-18.1-20250315-MAINLINE-waydroid_arm64-vendor.zip
	sha256sums_aarch64 = 79b552b762b00a68026fcd1705bb52ed5ceb3143134f319d759a3d10e3d2a183
	sha256sums_aarch64 = bb3be8e56c0027246e82519348bb16f4fabb89378069d4cddde2e7d5ab276997

pkgname = waydroid-image-gapps
