pkgbase = waydroid-image-gapps
	pkgdesc = A container-based approach to boot a full Android system on a regular Linux system (Android image, GAPPS).
	pkgver = 18.1_20250301
	pkgrel = 1
	url = https://github.com/waydroid
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = Apache
	optdepends = waydroid
	provides = waydroid-image
	source_x86_64 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_x86_64/lineage-18.1-20250301-GAPPS-waydroid_x86_64-system.zip
	source_x86_64 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_x86_64/lineage-18.1-20250301-MAINLINE-waydroid_x86_64-vendor.zip
	sha256sums_x86_64 = 2e7828266139129fb105fd24649aa09adf3d1e07c0ba048ec94f34477f782cf2
	sha256sums_x86_64 = ef52b855e0b43f03b9b577e027fe2ec8f2b2977e0cada11ac32efdb0d2a5afc8
	source_i686 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_x86/lineage-18.1-20250301-GAPPS-waydroid_x86-system.zip
	source_i686 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_x86/lineage-18.1-20250301-MAINLINE-waydroid_x86-vendor.zip
	sha256sums_i686 = 24f6a2066f11220470fc41853b9daa0e0faef75c3f8620a434127f9da9e3ce48
	sha256sums_i686 = 1bccb381ffad297ee44012be3ac66fac5ad349192f023b121f0627d06ac71e37
	source_armv7h = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_arm/lineage-18.1-20250301-GAPPS-waydroid_arm-system.zip
	source_armv7h = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_arm/lineage-18.1-20250301-MAINLINE-waydroid_arm-vendor.zip
	sha256sums_armv7h = cbbaac665e894ddb58612f3ff7dbb26d753ec2a36ee98b2c5e0f24d1a2990d77
	sha256sums_armv7h = ffd65ba08b0dae6f6375027b15a1c6896c84dc303d29acc8bde74feec09f7e9f
	source_aarch64 = https://sourceforge.net/projects/waydroid/files/images/system/lineage/waydroid_arm64/lineage-18.1-20250301-GAPPS-waydroid_arm64-system.zip
	source_aarch64 = https://sourceforge.net/projects/waydroid/files/images/vendor/waydroid_arm64/lineage-18.1-20250301-MAINLINE-waydroid_arm64-vendor.zip
	sha256sums_aarch64 = 66691099e4256218b1a0a5a01017855429167fab7f6e5b1cf2c6a527ba9a7eb2
	sha256sums_aarch64 = d976f65bbbc4a299fb5c562ffcc2f0ad337f2d88b7f7d95630a6564fa78ca3bc

pkgname = waydroid-image-gapps
