pkgbase = gnome-shell-pomodoro
	pkgdesc = A time management utility for GNOME based on the pomodoro technique
	pkgver = 0.27.0
	pkgrel = 1
	url = https://github.com/gnome-pomodoro/gnome-pomodoro
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = vala
	depends = gobject-introspection
	depends = glib2
	depends = gom
	depends = gtk3
	depends = cairo
	depends = glibc
	depends = libpeas
	depends = sqlite
	depends = gstreamer
	depends = libcanberra
	source = gnome-shell-pomodoro-0.27.0.tar.gz::https://github.com/gnome-pomodoro/gnome-pomodoro/archive/0.27.0.tar.gz
	sha256sums = 266c773dd591ae373440805fd6885d3052155e63c4c3671322e621ad1a42f7f8

pkgname = gnome-shell-pomodoro
