pkgbase = xmcl-launcher
	pkgdesc = X Minecraft Launcher - A modern Minecraft launcher
	pkgver = 0.47.4
	pkgrel = 1
	url = https://xmcl.app/
	arch = x86_64
	license = MIT
	optdepends = jre8-openjdk: Minimum requirement for launching older game versions
	optdepends = jre11-openjdk: Recommended Java version for launching versions 1.12-1.17
	optdepends = jre17-openjdk: Recommended Java version for launching version 1.17 and above
	optdepends = jre22-openjdk: Recommended Java version for launching version 1.20.5+ and above
	conflicts = xmcl-launcher-bin
	source = https://github.com/voxelum/x-minecraft-launcher/releases/tag/v0.47.4
	source = LICENSE::https://raw.githubusercontent.com/Voxelum/x-minecraft-launcher/master/LICENSE
	sha256sums = 99983834bebc8fa9464938e56497b49985f72c32d115d5cbec3e35dd89950b04
	sha256sums = 31557521e74398f08a3266f18ac8c8895d73e04d4acc204cd862dede0decb861

pkgname = xmcl-launcher
