pkgbase = azure-functions-core-tools-bin
	pkgdesc = Command line tools for Azure Functions
	pkgver = 4.6.0
	pkgrel = 1
	url = https://github.com/Azure/azure-functions-core-tools
	arch = x86_64
	license = MIT
	optdepends = dotnet-runtime: to install extensions
	provides = azure-functions-core-tools
	conflicts = azure-functions-core-tools
	options = staticlibs
	source = https://github.com/Azure/azure-functions-core-tools/releases/download/4.6.0/Azure.Functions.Cli.linux-x64.4.6.0.zip
	b2sums = 2015b34dce22c1cee4d29f641d1a546e8258c207763ab14fd5f14c52085724e8fdfe447aeae63a49d8173ea98b6f6f715631bbd14de8f3da7acb7a6835015a81

pkgname = azure-functions-core-tools-bin
