pkgbase = slack-desktop
	pkgdesc = Slack Desktop (Beta) for Linux
	pkgver = 4.47.69
	pkgrel = 1
	url = https://slack.com/downloads
	arch = x86_64
	license = custom
	depends = gtk3
	depends = libsecret
	depends = libxss
	depends = nss
	depends = xdg-utils
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = org.freedesktop.secrets: Keyring password store support
	noextract = slack-desktop-4.47.69-amd64.deb
	options = !debug
	source = https://downloads.slack-edge.com/desktop-releases/linux/x64/4.47.69/slack-desktop-4.47.69-amd64.deb
	source = slack-desktop.patch
	b2sums = 60931f4565a65f09c0661e40f14d1645a5d76707bccd4c6c350a1e76a98c3d2507e1662ea1f9544b7a91d63b35e834433ac2e9b75799357798fe935ae3a2b4e5
	b2sums = 103447636acd7ac2789d7d89008483a2077d862a51a64427a66c51e64dc9eac588de187f13df2778ccb7b24110a36c259b33c0074ff69c9bab3f89283a1efaf1

pkgname = slack-desktop
