pkgbase = dosbox-x
	pkgdesc = x86 emulator with builtin DOS, with patches with more features
	pkgver = 2026.08.02
	pkgrel = 1
	url = http://dosbox-x.com
	arch = i686
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = glu
	depends = fluidsynth
	depends = libxkbfile
	depends = libpng
	depends = libxrandr
	depends = mesa
	depends = ffmpeg
	depends = physfs
	depends = libslirp
	depends = libpcap
	optdepends = openglide-git: Third-party 3dfx Glide API support
	conflicts = dosbox-x-git
	source = https://github.com/joncampbell123/dosbox-x/archive/dosbox-x-v2026.08.02.tar.gz
	source = ffmpeg9.patch
	sha256sums = 3438f3199dc301d7fdd1ab8ce44877c1755158e699b8deab21a7ad2c43cc0331
	sha256sums = e8c7786f078d5cc0eb97b9d21a6e85075f6583b6012eceb1b693df3aab435a28

pkgname = dosbox-x
