pkgbase = noisetorch
	pkgdesc = Real-time microphone noise suppression on Linux.
	pkgver = 0.12.2
	pkgrel = 2
	url = https://github.com/noisetorch/NoiseTorch
	install = noisetorch.install
	arch = x86_64
	license = GPL3
	makedepends = go
	makedepends = cmake
	makedepends = git
	depends = pulseaudio
	depends = polkit
	depends = hicolor-icon-theme
	provides = noisetorch
	source = noisetorch::git+https://github.com/noisetorch/NoiseTorch.git#tag=v0.12.2
	source = git+https://github.com/noisetorch/c-ringbuf.git
	source = git+https://github.com/noisetorch/rnnoise.git
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP

pkgname = noisetorch
