pkgbase = chromedriver
	pkgdesc = Standalone server that implements the W3C WebDriver standard (for google-chrome)
	pkgver = 152.0.7977.82
	pkgrel = 1
	url = https://chromedriver.chromium.org/
	arch = x86_64
	license = BSD
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = xdg-utils
	optdepends = google-chrome
	conflicts = chromium
	source = chromedriver_152.0.7977.82_linux64.zip::https://storage.googleapis.com/chrome-for-testing-public/152.0.7977.82/linux64/chromedriver-linux64.zip
	sha512sums = f210c7df1055dc7bcd0edf20281396045f512c27109605fe51a124a9e8728b911b9741b351a3e8a86f8265760a780e22ddd39fe581b7c71398aa7069a581ef50

pkgname = chromedriver
