pkgbase = chromedriver
	pkgdesc = Standalone server that implements the W3C WebDriver standard (for google-chrome)
	pkgver = 126.0.6478.63
	pkgrel = 1
	url = https://chromedriver.chromium.org/
	arch = x86_64
	license = BSD
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = xdg-utils
	optdepends = google-chrome
	conflicts = chromium
	source = chromedriver_126.0.6478.63_linux64.zip::https://storage.googleapis.com/chrome-for-testing-public/126.0.6478.63/linux64/chromedriver-linux64.zip
	sha512sums = 11e6bd0c3f58fb8e4456a0929dd8b302741eb4406ac71144a8de1f0f6830b66a802422cb9db8a59aa20b61d3b75b7c2c3227a00542e7718510c257cbbbc5bfba

pkgname = chromedriver
