pkgbase = chromedriver
	pkgdesc = Standalone server that implements the W3C WebDriver standard (for google-chrome)
	pkgver = 132.0.6834.83
	pkgrel = 1
	url = https://chromedriver.chromium.org/
	arch = x86_64
	license = BSD
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = xdg-utils
	optdepends = google-chrome
	conflicts = chromium
	source = chromedriver_132.0.6834.83_linux64.zip::https://storage.googleapis.com/chrome-for-testing-public/132.0.6834.83/linux64/chromedriver-linux64.zip
	sha512sums = ea565c1e8b68516f1bf77140f74f16e039a0de2e25123222f40bd8a093bcef8c5e0638f954609abb8412fcff70d65b34bbbc9f973f9ad1bcdb77061bbaf76076

pkgname = chromedriver
