pkgbase = google-gemini-cli
	pkgdesc = An open-source AI agent that brings the power of Gemini directly into your terminal.
	pkgver = 0.1.4
	pkgrel = 1
	url = https://github.com/google-gemini/gemini-cli
	arch = x86_64
	license = Apache-2.0
	makedepends = npm
	depends = nodejs
	source = https://registry.npmjs.org/@google/gemini-cli/-/gemini-cli-0.1.4.tgz
	sha256sums = 400eb9b5cb8ec71c8a391444b5412882001d7fa3aedff3911ad0f8145110fca0

pkgname = google-gemini-cli
