pkgbase = alvr
	pkgdesc = Experimental Linux version of ALVR. Stream VR games from your PC to your headset via Wi-Fi.
	pkgver = 20.14.1
	pkgrel = 4
	url = https://github.com/alvr-org/ALVR
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = cargo
	makedepends = clang
	makedepends = imagemagick
	makedepends = vulkan-headers
	makedepends = libxrandr
	makedepends = nasm
	makedepends = unzip
	depends = glibc
	depends = gcc-libs
	depends = libx11
	depends = bzip2
	depends = vulkan-icd-loader
	depends = libunwind
	depends = libdrm
	depends = x264
	depends = libva.so
	depends = libva-drm.so
	depends = bash
	depends = hicolor-icon-theme
	depends = libpipewire
	depends = alsa-lib
	provides = alvr
	conflicts = alvr
	options = !lto
	source = alvr::git+https://github.com/alvr-org/ALVR.git#tag=v20.14.1
	source = git+https://github.com/ValveSoftware/openvr.git
	md5sums = d5b0186e8f872520d1820e8452635568
	md5sums = SKIP

pkgname = alvr
