pkgbase = cozette-otb
	pkgdesc = A bitmap programming font optimized for coziness
	pkgver = 1.25.0
	pkgrel = 1
	url = https://github.com/slavfox/Cozette
	arch = any
	license = MIT
	source = https://github.com/slavfox/Cozette/releases/download/v.1.25.0/CozetteFonts-v-1-25-0.zip
	sha256sums = 397944d9e3450d846df6f1cc85543e4faf750bb36a419823525b3c8bb16a2181

pkgname = cozette-otb
