pkgbase = lunar-client
	pkgdesc = PvP modpack for all modern versions of Minecraft
	pkgver = 3.3.8
	pkgrel = 1
	url = https://lunarclient.com
	arch = x86_64
	license = unknown
	depends = fuse
	depends = xorg-xrandr
	options = !strip
	options = !debug
	source = https://launcherupdates.lunarclientcdn.com/Lunar%20Client-3.3.8-ow.AppImage
	sha256sums = 9fa891b25684cf433b2fb128f257dd87b5b40726fdf20eda18b6542033150bac

pkgname = lunar-client
