pkgbase = youplay
	pkgdesc = Search, download and play music from YouTube.
	pkgver = 0.46
	pkgrel = 4
	url = https://codeberg.org/ralfhersel/youplay
	arch = any
	license = GPL3
	makedepends = desktop-file-utils
	makedepends = gtk3
	makedepends = pyside6
	makedepends = python-gobject
	makedepends = python-pyqt6
	source = youplay-0.46.tar.gz::https://codeberg.org/ralfhersel/youplay/archive/v0.46.tar.gz
	source = 0001-Change-paths-for-packaging.patch
	md5sums = f8626746b01f50aacc8531512d5cb39c
	md5sums = 8c827adb9d808cf9c255fb577a731258

pkgname = youplay-base
	depends = mpv
	depends = ffmpeg
	depends = python-mpv
	depends = yt-dlp

pkgname = youplay-gtk3
	depends = youplay-base
	depends = gtk3
	depends = python-gobject

pkgname = youplay-gtk4
	depends = youplay-base
	depends = gtk4
	depends = libadwaita
	provides = youplay
	conflicts = youplay

pkgname = youplay-pyqt6
	depends = youplay-base
	depends = python-pyqt6

pkgname = youplay-qt6
	depends = youplay-base
	depends = pyside6
