pkgbase = python-injector
	pkgdesc = Python dependency injection framework, inspired by Guice.
	pkgver = 0.24.0
	pkgrel = 1
	url = https://github.com/python-injector/injector
	arch = any
	license = BSD
	makedepends = python-setuptools
	depends = python
	depends = python-typing_extensions
	source = https://files.pythonhosted.org/packages/source/i/injector/injector-0.24.0.tar.gz
	source = https://raw.githubusercontent.com/python-injector/injector/refs/heads/master/COPYING
	sha256sums = e85a75d1516cff2f03170f3fd1219f56acb25c9a05e307819ae0dcde3dad3d3f
	sha256sums = 567278bc23fa55244f132af7164aa684940c75fa35b19c395899422cb92613ba

pkgname = python-injector
