pkgbase = webstorm
	pkgdesc = JavaScript IDE and HTML editor
	pkgver = 2024.1.5
	pkgrel = 1
	url = https://www.jetbrains.com/webstorm/
	arch = x86_64
	arch = i686
	license = custom:jetbrains
	depends = glib2
	options = !strip
	source = https://download-cf.jetbrains.com/webstorm/WebStorm-2024.1.5.tar.gz
	source = jetbrains-webstorm.desktop
	source = LICENSE
	b2sums = 2e392ae24571fe9ba7ef14ca7310aa75b45058f44f7183d68aa94cb54fac9c080ad15e857c9d4792bb191b29cec79e4f32eb74c50881155346bb7ace8a176e8f
	b2sums = 0d4e900eb8c78abf7acbbcc86400065d63d9cd3fec77299d7d6abf540a9bf589f879b274f9bb23573f6ef78592b8987414816a56397b9d8d80d6bad29ad4440d
	b2sums = dadaf0e67b598aa7a7a4bf8644943a7ee8ebf4412abb17cd307f5989e36caf9d0db529a0e717a9df5d9537b10c4b13e814b955ada6f0d445913c812b63804e77

pkgname = webstorm
	optdepends = webstorm-jre: JetBrains custom Java Runtime (Recommended)
	optdepends = java-runtime: JRE - Required if webstorm-jre is not installed
	optdepends = gnome-keyring: save login/deployment credentials safely

pkgname = webstorm-jre
	pkgdesc = JBR (JetBrains Runtime) for WebStorm - a patched JRE
	url = https://github.com/JetBrains/JetBrainsRuntime
