pkgbase = spot-client
	pkgdesc = Gtk/Rust native Spotify client
	pkgver = 0.4.1
	pkgrel = 1
	url = https://github.com/xou816/spot
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	checkdepends = appstream-glib
	makedepends = cargo
	makedepends = meson>=0.59.0
	makedepends = blueprint-compiler>=0.8.1
	depends = alsa-lib
	depends = cairo
	depends = glib2
	depends = glibc
	depends = graphene
	depends = gtk4
	depends = libadwaita
	depends = libpulse
	depends = openssl
	depends = pango
	optdepends = org.freedesktop.secrets
	options = !lto
	source = https://github.com/xou816/spot/archive/0.4.1/spot-0.4.1.tar.gz
	source = disable-clippy.patch
	sha512sums = 05ee8ce9277230a0f6c25411b41788a508551a61cd436bdd6bb0d8245030b0523232c0e30c7d2f98977382e687ec0f502cb6eb9b95a7dbaae97042ec596f407e
	sha512sums = 4e38fff2a5867c46749959ceb0fb16372f12c8f8038b6a33d43e126e741f43e524e1499bb9b514e56b036097aaa0ac5dd149823c2c9eba277ab0ea4f58d5fb55

pkgname = spot-client
