pkgbase = pacseek
	pkgdesc = A terminal user interface for searching and installing Arch Linux packages
	pkgver = 1.8.4
	pkgrel = 1
	url = https://github.com/moson-mo/pacseek
	arch = any
	license = MIT
	makedepends = go
	depends = pacman
	optdepends = xdg-utils: open URL on click support
	optdepends = fakeroot: display upgrades support
	source = pacseek-1.8.4.tar.gz::https://github.com/moson-mo/pacseek/archive/v1.8.4.tar.gz
	sha256sums = 37f8a2132d69f6bd07f420fd5f0f0a1889b9cc696510ac6f5e1f1f0ee1169a4c

pkgname = pacseek
