pkgbase = chatterino2-7tv-git
	pkgdesc = A fork of Chatterino2 with built-in support for 7tv emotes
	pkgver = 7.5.2.r44.g54966f0
	pkgrel = 1
	url = https://github.com/SevenTV/chatterino7
	arch = x86_64
	license = MIT
	makedepends = boost
	makedepends = cmake
	makedepends = expected-lite
	makedepends = git
	makedepends = ninja
	makedepends = rapidjson
	makedepends = websocketpp
	depends = libavif
	depends = openssl
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-svg
	depends = qtkeychain-qt6
	optdepends = streamlink: For piping streams to video players
	provides = chatterino
	conflicts = chatterino
	options = !lto
	source = git+https://github.com/SevenTV/chatterino7
	source = chatterino.libcommuni::git+https://github.com/Chatterino/libcommuni.git
	source = kde.kimageformats::git+https://github.com/KDE/kimageformats.git
	source = mackron.miniaudio::git+https://github.com/mackron/miniaudio.git
	source = neargye.magic_enum::git+https://github.com/Neargye/magic_enum.git
	source = pajlada.serialize::git+https://github.com/pajlada/serialize.git
	source = pajlada.settings::git+https://github.com/pajlada/settings.git
	source = pajlada.signals::git+https://github.com/pajlada/signals.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = chatterino2-7tv-git
