pkgbase = opentodolist
	pkgdesc = Maintain todo lists, notes and images in libraries, which can be synced via various services like NextCloud between your devices.
	pkgver = 3.49.0
	pkgrel = 1
	url = https://opentodolist.rpdev.net/
	arch = x86_64
	license = GPL
	makedepends = git
	makedepends = git-lfs
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-remoteobjects
	depends = qt6-networkauth
	depends = libsecret
	depends = ttf-roboto
	depends = noto-fonts
	depends = qtkeychain-qt6
	provides = opentodolist
	conflicts = opentodolist
	source = opentodolist::git+https://gitlab.com/rpdev/opentodolist.git#commit=b07193f5ebe50c68815397a55a3fdc25e7da27f8
	md5sums = SKIP

pkgname = opentodolist
