pkgbase = cine
	pkgdesc = Video Player for Linux
	pkgver = 1.7.3
	pkgrel = 1
	url = https://github.com/diegopvlk/Cine
	arch = any
	license = GPL-3.0-or-later
	makedepends = blueprint-compiler
	makedepends = meson
	depends = gtk4
	depends = libadwaita
	depends = mpv
	depends = python-gobject
	depends = python-mpv
	source = Cine-1.7.3.tar.gz::https://github.com/diegopvlk/Cine/archive/refs/tags/v1.7.3.tar.gz
	sha256sums = 42968ab9f1eb8c364bc794b585b49e4d3147ce58087fb4259716bbd2281da4dc

pkgname = cine
