pkgbase = ani-cli
	pkgdesc = A cli to browse and watch anime.
	pkgver = 4.14
	pkgrel = 1
	url = https://github.com/pystardust/ani-cli
	install = ani-cli.install
	arch = any
	license = GPL3
	depends = grep
	depends = sed
	depends = curl
	depends = mpv
	depends = aria2
	depends = ffmpeg
	depends = fzf
	optdepends = vlc: An alternative video player
	source = ani-cli-4.14.tar.gz::https://github.com/pystardust/ani-cli/archive/refs/tags/v4.14.tar.gz
	sha256sums = be40c779605b9b5eb4c09e63a1f460bcc69d73a3ab6e707279548fb8513c96c0

pkgname = ani-cli
