pkgbase = chromium-widevine
	pkgdesc = A browser plugin designed for the viewing of premium video content
	pkgver = 4.10.2891.0
	pkgrel = 3
	epoch = 1
	url = https://www.widevine.com/
	arch = x86_64
	license = custom
	options = !strip
	source = https://www.google.com/dl/release2/chrome_component/aclxnidwwkj5di3vduduj2gqpgpq_4.10.2891.0/oimompecagnajdejgnnjijobebaeigek_4.10.2891.0_linux_b4hin3q5s66ws2322cyyfp35lu.crx3
	sha256sums = c28ebc536851070d5ecefe023e5308aacfee71d18e5b0fc27d152964d1312836

pkgname = chromium-widevine
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = nspr
	depends = nss
