pkgbase = element-desktop-nightly-bin
	pkgdesc = All-in-one secure chat app for teams, friends and organisations (nightly .deb build).
	pkgver = 2024072901
	pkgrel = 1
	url = https://element.io
	arch = x86_64
	arch = aarch64
	license = Apache
	depends = sqlcipher
	source = element-desktop-nightly.sh
	sha256sums = eec30e5b0e549f7fa9c9c66fd3edb60bc8e0d9d0a77b79d8659cc06deced588d
	source_x86_64 = https://packages.element.io/debian/pool/main/e/element-nightly/element-nightly_2024072901_amd64.deb
	sha256sums_x86_64 = 16e9328753a9517c42f69e4f4087b82bc308a6299132e4d432255baee84d3566
	source_aarch64 = https://packages.element.io/debian/pool/main/e/element-nightly/element-nightly_2024072901_arm64.deb
	sha256sums_aarch64 = 35cdf6226ba4ccdded7429f9a93766d46c2d3b3eaa06a449cb9f68167fb51ba2

pkgname = element-desktop-nightly-bin
