pkgbase = element-desktop-nightly-bin
	pkgdesc = All-in-one secure chat app for teams, friends and organisations (nightly .deb build).
	pkgver = 2024081801
	pkgrel = 1
	url = https://element.io
	arch = x86_64
	arch = aarch64
	license = Apache
	depends = sqlcipher
	source = element-desktop-nightly.sh
	sha256sums = eec30e5b0e549f7fa9c9c66fd3edb60bc8e0d9d0a77b79d8659cc06deced588d
	source_x86_64 = https://packages.element.io/debian/pool/main/e/element-nightly/element-nightly_2024081801_amd64.deb
	sha256sums_x86_64 = 2d7bd1b83f987e8540c7337f719f30197f38c43789177beaacb30bd4d1dcb45d
	source_aarch64 = https://packages.element.io/debian/pool/main/e/element-nightly/element-nightly_2024081801_arm64.deb
	sha256sums_aarch64 = 880b703544c3ab22b16fe512c573a64a061965a3678ac8a00e725019552a7aaa

pkgname = element-desktop-nightly-bin
