pkgbase = perl-expect
	pkgdesc = automate interactions with command line programs that expose a text terminal interface.
	pkgver = 1.38
	pkgrel = 1
	url = https://metacpan.org/release/Expect
	arch = any
	license = PerlArtistic
	license = GPL
	depends = perl-io-tty>=1.11
	depends = perl>=5.6.0
	options = !emptydirs
	source = http://search.cpan.org/CPAN/authors/id/J/JA/JACOBY/Expect-1.38.tar.gz
	md5sums = 0b3e2b619a46f9c16aa7d9ff457ee37f
	sha512sums = 8dfaad3d471c848091696f9ab465b6ee6ffe16501bd0f4980f2a56df0fe7a12bdc62c47145b7c60c9a7ac90b56b7417bd20b695cea8e383f4da069a4f00ddd98

pkgname = perl-expect
