pkgbase = pyrefly
	pkgdesc = A fast type checker and IDE for Python
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/facebook/pyrefly
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo-nightly
	makedepends = git
	options = !lto
	source = pyrefly::git+https://github.com/facebook/pyrefly#tag=1.2.0
	b2sums = 05f030ef68f70385ba93f9b45d83fab48a70cefefeaca2d7a96a9d7886261874879839ad7f65946d516c95ebe0715c4835a6f5f5b684f3149321cadea0ff0336

pkgname = pyrefly
