pkgbase = clamav-unofficial-sigs
	pkgdesc = ClamAV Unofficial Signatures Updater maintained by eXtremeSHOK.com
	pkgver = 7.2.5
	pkgrel = 1
	url = https://github.com/extremeshok/clamav-unofficial-sigs
	install = clamav-unofficial-sigs.install
	arch = any
	license = BSD
	depends = clamav
	depends = rsync
	depends = bind-tools
	depends = curl
	backup = etc/clamav-unofficial-sigs/user.conf
	source = clamav-unofficial-sigs-7.2.5.tar.gz::https://github.com/extremeshok/clamav-unofficial-sigs/archive/7.2.5.tar.gz
	source = clamav-unofficial-sigs.logrotate
	source = clamav-unofficial-sigs.tmpfiles
	source = os.conf
	sha256sums = f42f9d68e111f892bfd71393e869e53c806f48966c768d219925de6652960c50
	sha256sums = 0564ecac9ea02376b627fed158c9ea899c58b528d276d6d962f9e642e060239e
	sha256sums = d5441953dbfafb14764ca30b75ad1ae48dbe8a9cace6d3f72ecb9fbe82aa36ca
	sha256sums = 434000ac8572890913775451e678ec6b23cb6570828aec8ab4c690eb3f603bfb

pkgname = clamav-unofficial-sigs

