pkgbase = zulucrypt
	pkgdesc = A cli and gui frontend to cryptsetup
	pkgver = 7.1.0
	pkgrel = 0
	url = https://mhogomchungu.github.io/zuluCrypt
	arch = x86_64
	arch = i686
	license = GPL
	makedepends = cmake
	depends = cryptsetup
	depends = qt5-base
	depends = libpwquality
	depends = libsecret
	depends = libxkbcommon-x11
	depends = util-linux
	optdepends = kwalletmanager: retrieve volume keys from kde kwallet
	conflicts = zulucrypt-git
	source = https://github.com/mhogomchungu/zuluCrypt/releases/download/7.1.0/zuluCrypt-7.1.0.tar.xz
	md5sums = bfd7b4ea12355ff132a5f5faacbe553e
	sha256sums = 7631f6b2807f0138dd2895bb6e026912d4de9d67321759d15fbe691f23271959

pkgname = zulucrypt
