pkgbase = getmail6
	pkgdesc = mail retriever with support for POP3, IMAP4, SDPS; fork of getmail 5.14 modified to support python3
	pkgver = 6.19.12
	pkgrel = 1
	url = http://getmail6.org/
	arch = any
	license = GPL-2.0-only
	makedepends = python-setuptools
	depends = python
	optdepends = python-keyring: secure password store
	optdepends = python-keyrings-alt: alternative backends
	source = getmail6-6.19.12.tgz::https://github.com/getmail6/getmail6/archive/v6.19.12.tar.gz
	sha512sums = 7e9daa7c521678fc7f10b61c3d6c6ee0ade93553e10a5a6e66f8bbab705720da1a8557e6958201e955d9a7806857415e5c12635d74280e3b29469c6b59c49a07

pkgname = getmail6
