pkgbase = noto-color-emoji-fontconfig
	pkgdesc = Fontconfig to enable Noto Color Emoji fonts where emojis can be displayed
	pkgver = 1.0.0
	pkgrel = 2
	arch = any
	license = GPL
	depends = noto-fonts-emoji
	provides = noto-color-emoji-fontconfig
	conflicts = noto-color-emoji-fontconfig-no-binding
	source = 75-noto-color-emoji.conf
	sha256sums = 9b7d8e078e0f88582afc8f19cd7d928a6bd2b2f418321d1011d4d6f903056942

pkgname = noto-color-emoji-fontconfig
