pkgbase = opencode-desktop-bin
	pkgdesc = OpenCode desktop client
	pkgver = 1.18.22
	pkgrel = 1
	url = https://opencode.ai
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ripgrep
	optdepends = libappindicator-gtk3: tray icon support
	provides = opencode-desktop
	conflicts = opencode-desktop
	options = !debug
	source = LICENSE::https://raw.githubusercontent.com/anomalyco/opencode/v1.18.22/LICENSE
	sha256sums = 625f0f619133f89bbbb2abe37369613dfa1885eba1e50d02170deb62bb42cb6b
	source_x86_64 = opencode-desktop-1.18.22-linux-amd64.deb::https://github.com/anomalyco/opencode/releases/download/v1.18.22/opencode-desktop-linux-amd64.deb
	depends_x86_64 = electron42
	sha256sums_x86_64 = 9daab671ba2cd4e361be4b9b2c835e9e4d219e37fbbccaa45569a402a831c0a3
	source_aarch64 = opencode-desktop-1.18.22-linux-arm64.deb::https://github.com/anomalyco/opencode/releases/download/v1.18.22/opencode-desktop-linux-arm64.deb
	depends_aarch64 = gtk3
	depends_aarch64 = nss
	depends_aarch64 = libxss
	depends_aarch64 = libxtst
	depends_aarch64 = alsa-lib
	depends_aarch64 = libsecret
	depends_aarch64 = libnotify
	depends_aarch64 = xdg-utils
	sha256sums_aarch64 = cc1b4dd958c8d731817d32624765c95123ff82f4aa457f9b17c9f4361fadfb69

pkgname = opencode-desktop-bin
