pkgbase = numix-icon-theme-git
	pkgdesc = Base icon theme from the Numix project
	pkgver = 21.10.31.r0.g7a28092dd
	pkgrel = 1
	url = https://github.com/numixproject/numix-icon-theme
	arch = any
	license = GPL3
	makedepends = git
	depends = gtk-update-icon-cache
	provides = numix-icon-theme
	provides = numix-light-icon-theme
	conflicts = numix-icon-theme
	conflicts = numix-light-icon-theme
	options = !strip
	source = git+https://github.com/numixproject/numix-icon-theme.git
	sha256sums = SKIP

pkgname = numix-icon-theme-git
