pkgbase = luau
	pkgdesc = A fast, small, safe, gradually typed embeddable scripting language derived from Lua
	pkgver = 0.648
	pkgrel = 1
	url = https://github.com/luau-lang/luau
	arch = x86_64
	license = MIT
	makedepends = cmake
	depends = gcc-libs
	depends = glibc
	source = luau-0.648.tar.gz::https://github.com/luau-lang/luau/archive/0.648.tar.gz
	sha256sums = 0177b98d837545556a032b35fae918ceb07d1b29adbfa163a35bf2fac0e996ac

pkgname = luau
