pkgbase = gpu-screen-recorder
	pkgdesc = A shadowplay-like screen recorder for Linux. The fastest screen recorder for Linux
	pkgver = r898.cbf4cba
	pkgrel = 1
	url = https://git.dec05eba.com/gpu-screen-recorder
	install = gpu-screen-recorder.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = libglvnd
	depends = libxcomposite
	depends = libxrandr
	depends = libxfixes
	depends = libxdamage
	depends = libx11
	depends = libpulse
	depends = libva
	depends = libdrm
	depends = libcap
	depends = wayland
	depends = libpipewire
	depends = dbus
	optdepends = nvidia-utils: Required to record your screen on NVIDIA
	optdepends = libxnvctrl: Required when using the -oc option to overclock the NVIDIA GPU to workaround NVIDIA p2 state bug
	optdepends = mesa: Required to record your screen on AMD/Intel
	optdepends = libva-mesa-driver: Required to record your screen on AMD
	optdepends = libva-intel-driver: Required to record your screen on Intel G45 and HD Graphics family
	optdepends = intel-media-driver: Required to record your screen on Intel Broadwell or later iGPUs
	optdepends = linux-firmware: Required to record your screen on Intel Skylake or later iGPUs
	source = gpu-screen-recorder-r898.cbf4cba.tar.gz::https://dec05eba.com/snapshot/gpu-screen-recorder.git.r898.cbf4cba.tar.gz
	sha512sums = 6eae72cedf7983436c00b18a911ffb1e43ffdbddf9c56b3e034dd5fab53f606b8425848c6895eed7c312b562418e6e652a9bf56139d0ea00279aabf07394dce3

pkgname = gpu-screen-recorder
