pkgbase = gpu-screen-recorder
	pkgdesc = A shadowplay-like screen recorder for Linux. The fastest screen recorder for Linux
	pkgver = r1074.8bd17b0
	pkgrel = 1
	url = https://git.dec05eba.com/gpu-screen-recorder
	install = gpu-screen-recorder.install
	arch = x86_64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = libglvnd
	depends = libxcomposite
	depends = libxrandr
	depends = libxfixes
	depends = libxdamage
	depends = libx11
	depends = libpulse
	depends = libva
	depends = libdrm
	depends = libcap
	depends = wayland
	depends = libpipewire
	depends = dbus
	optdepends = nvidia-utils: Required to record your screen on NVIDIA
	optdepends = libxnvctrl: Required when using the -oc option to overclock the NVIDIA GPU to workaround NVIDIA p2 state bug
	optdepends = mesa: Required to record your screen on AMD/Intel
	optdepends = libva-mesa-driver: Required to record your screen on AMD
	optdepends = libva-intel-driver: Required to record your screen on Intel G45 and HD Graphics family
	optdepends = intel-media-driver: Required to record your screen on Intel Broadwell or later iGPUs or Intel Arc
	optdepends = linux-firmware: Required to record your screen on Intel Skylake or later iGPUs
	source = gpu-screen-recorder-r1074.8bd17b0.tar.gz::https://dec05eba.com/snapshot/gpu-screen-recorder.git.r1074.8bd17b0.tar.gz
	sha512sums = ddd63f948c6c2b46e8afa97ffc66d1482b32fc4275ffbe53b6f62bedee76c8de94a44b3a2106dcc4aa4b682f42db659ed37b297272a3685964c0314999e2d863

pkgname = gpu-screen-recorder
