pkgbase = nyrna
	pkgdesc = Suspend games and applications at any time and resume whenever you wish
	pkgver = 2.27.2
	pkgrel = 2
	url = https://github.com/Merrit/nyrna
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = clang
	makedepends = cmake
	makedepends = fvm
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = patchelf
	depends = gtk3
	depends = libappindicator-gtk3
	depends = libkeybinder3
	depends = util-linux
	depends = wmctrl
	depends = xdotool
	source = nyrna-2.27.2.tar.gz::https://github.com/Merrit/nyrna/archive/refs/tags/v2.27.2.tar.gz
	sha256sums = 85849f51aad90fb8f17ea73ba9863d173d6c9fb4d25b09d1be5de8cd408ef790

pkgname = nyrna
