pkgbase = firefox-nightly
	pkgdesc = Fast, Private & Safe Web Browser
	pkgver = 154.0a1+20260719.21+h377d3fc52
	pkgrel = 1
	url = https://www.mozilla.org/firefox/channel/#nightly
	arch = x86_64
	license = MPL-2.0
	makedepends = cargo
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = dump_syms
	makedepends = imake
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mercurial
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = yasm
	makedepends = zip
	depends = dbus
	depends = ffmpeg
	depends = gtk3
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = ttf-font
	depends = libffi.so
	depends = libjpeg.so
	depends = libpipewire-0.3.so
	depends = libpixman-1.so
	depends = libvpx.so
	depends = libwebp.so
	depends = libwebpdemux.so
	depends = libz.so
	depends = nspr
	depends = nss
	optdepends = hunspell-dictionary: Spell checking
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !debug
	options = !emptydirs
	options = !lto
	options = !makeflags
	options = !strip
	source = mozilla-central-154.0a1+20260719.21+h377d3fc52.zip::https://hg.mozilla.org/mozilla-central/archive/377d3fc52215f21c99a3163881df9cc446f12a3a.zip
	source = firefox-nightly-symbolic.svg
	source = firefox-nightly.desktop
	source = 0001-Install-under-remoting-name.patch
	sha256sums = SKIP
	sha256sums = cb00ea359d6daf37900102307be4f515f1b7ef9c98825c64cc55bb562449d0d8
	sha256sums = 4304902899987928ea51b7020fb1298b01fa77e327ef66ab00b061f767042b9f
	sha256sums = 883ca2fa723a7572269d18559d5b82412782ad63e5dd3820eeb0540e3fe34314

pkgname = firefox-nightly
