pkgbase = wideriver
	pkgdesc = tiling window manager for the river wayland compositor
	pkgver = 1.3.1
	pkgrel = 1
	url = https://github.com/alex-courtis/wideriver
	install = wideriver.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = make
	makedepends = gcc
	depends = wayland
	depends = wlroots0.18
	depends = libinput
	source = https://github.com/alex-courtis/wideriver/archive/refs/tags/1.3.1.tar.gz
	sha256sums = 6ccd45cab794311ab9ad08c9c53b09eac5eb7bd24efc34f19b58586aa598df9d

pkgname = wideriver
