pkgbase = nchat
	pkgdesc = Console-based chat client with support for Telegram
	pkgver = 5.18.20
	pkgrel = 1
	url = https://github.com/d99kris/nchat
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = go
	makedepends = gperf
	makedepends = ninja
	depends = file
	depends = ncurses
	depends = openssl
	depends = python
	depends = sqlite
	depends = zlib
	source = nchat-5.18.20.tar.gz::https://github.com/d99kris/nchat/archive/refs/tags/v5.18.20.tar.gz
	sha256sums = 49312e609ea3140246ed434c402c714f9e461f2f6381b349046bc3c29d579d5c

pkgname = nchat
