pkgbase = sing-geoip
	pkgdesc = GeoIP Database and Rule Sets for sing-box
	pkgver = 20260212
	pkgrel = 1
	url = https://github.com/SagerNet/sing-geoip
	arch = any
	license = CC-BY-SA-4.0
	license = GPL-3.0-or-later
	source = 20260212-geoip.db::https://github.com/SagerNet/sing-geoip/releases/download/20260212/geoip.db
	source = 20260212-geoip.db.sha256sum::https://github.com/SagerNet/sing-geoip/releases/download/20260212/geoip.db.sha256sum
	source = 20260212-geoip-cn.db::https://github.com/SagerNet/sing-geoip/releases/download/20260212/geoip-cn.db
	source = 20260212-geoip-cn.db.sha256sum::https://github.com/SagerNet/sing-geoip/releases/download/20260212/geoip-cn.db.sha256sum
	source = 20260212-rule-set.tar.gz::https://github.com/SagerNet/sing-geoip/archive/refs/heads/rule-set.tar.gz
	sha256sums = 1c558ca40088e34e50067b4684c38165e3005eae4754dc2ac16f7f6255f5a299
	sha256sums = 60d3f2bc817b1c112ca5006a5a74d809e2d888be93f41f5e97b8100dcc051174
	sha256sums = 5a46ae1f58f2f3d1080cb2605bd778b403178ead95f084631f62477c35dc7a7c
	sha256sums = 83ab1b16e3592e8af300319ea47ef66cec8b61881e8ba7f4902118f874296df3
	sha256sums = e4ca61e7abe5f4acaf5353099a0f793e63dae3c7870b0c11cc0d01c98cab1764

pkgname = sing-geoip-db
	pkgdesc = GeoIP Database for sing-box
	provides = sing-geoip

pkgname = sing-geoip-rule-set
	pkgdesc = GeoIP Rule Sets for sing-box
	provides = sing-geoip
