pkgbase = wluma
	pkgdesc = Automatic brightness adjustment based on screen contents and ALS
	pkgver = 4.7.0
	pkgrel = 2
	url = https://github.com/maximbaz/wluma
	arch = x86_64
	arch = aarch64
	license = ISC
	makedepends = cargo
	makedepends = clang
	makedepends = systemd
	makedepends = marked-man
	depends = dbus
	depends = vulkan-icd-loader
	depends = systemd-libs
	depends = glibc
	depends = gcc-libs
	depends = v4l-utils
	optdepends = vulkan-driver: for using capturer=wlroots in config.toml
	optdepends = wayland: for using capturer=wlroots in config.toml
	source = wluma-4.7.0.tar.gz::https://github.com/maximbaz/wluma/archive/4.7.0.tar.gz
	source = https://github.com/maximbaz/wluma/releases/download/4.7.0/wluma-4.7.0.tar.gz.asc
	validpgpkeys = 56C3E775E72B0C8B1C0C1BD0B5DB77409B11B601
	b2sums = e46f7324326e92459d1e384d48aa53f4dfe2c6dc03486c659a3837977c90de0c21d33d3a2ab419d174f28c846ca36fe8c0479d930c1bc060c26cff03066671de
	b2sums = SKIP

pkgname = wluma
