pkgbase = brave-beta-bin
	pkgdesc = Web browser that blocks ads and trackers by default (beta binary release).
	pkgver = 1.69.144
	pkgrel = 1
	url = https://brave.com/download-beta
	arch = x86_64
	arch = aarch64
	license = MPL2
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = ttf-font
	optdepends = cups: Printer support
	optdepends = mesa: Hardware accelerated rendering
	optdepends = libglvnd: Support multiple different OpenGL drivers at any given time
	optdepends = libgnome-keyring: gnome keyriung support
	provides = brave-beta-bin
	provides = brave-beta-browser
	options = !strip
	source = brave-beta-bin.sh
	sha512sums = 56be4daa8294c7c3d4b3f1ce7169ac575be0faa623d7cd977eb135e971914b90e3f596ecad72d89178de04e65cd3d49c138e8518d1dccf9fc814d0858b38767e
	source_x86_64 = https://github.com/brave/brave-browser/releases/download/v1.69.144/brave-browser-beta_1.69.144_amd64.deb
	sha512sums_x86_64 = 95cbd236621232f0bda0c8e7197fc5f33282ce20d3e58b4324156381e0bb839c4a84a5505304c952b05d7985f35b979767acd32ecb57d1d70b5c1d1a30e1e0a5
	source_aarch64 = https://github.com/brave/brave-browser/releases/download/v1.69.144/brave-browser-beta_1.69.144_arm64.deb
	sha512sums_aarch64 = 9862f7a9f9919fbf143b0b91568a422a3b00f232ff37159f8ae5f73a133fc5ca48578382ed2c9d0c91a611680777a3a63e1e8bcc2ef7c441c11948636d297b63

pkgname = brave-beta-bin
