pkgbase = seerr
	pkgdesc = Request management and media discovery tool for the Plex ecosystem
	pkgver = 3.1.0
	pkgrel = 1
	url = https://github.com/seerr-team/seerr
	install = seerr.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = pnpm
	depends = nodejs
	optdepends = jellyfin-server: The Free Software Media System
	optdepends = plex-media-server: Plex Media Server
	optdepends = emby-server: The open media solution
	optdepends = sonarr: Smart PVR for newsgroup and torrent users
	optdepends = radarr: Movie organizer/manager for usenet and torrent users
	options = !strip
	options = !debug
	backup = etc/conf.d/seerr
	backup = usr/lib/seerr/config/settings.json
	source = seerr-3.1.0.tar.gz::https://github.com/seerr-team/seerr/archive/v3.1.0.tar.gz
	source = seerr.sysusers
	source = seerr.tmpfiles
	source = seerr.service
	source = seerr.conf.d
	sha256sums = c19db0c92407f5c6363e7df8ca4e4ccae3f121e2b4f6baa2b4e269b197e2dd82
	sha256sums = 1a4a8daf655c530ebf24d89d036458aa75d7ae2de21a99a2b10eb02c2df1ac81
	sha256sums = 8e137d571603af4ad83dd55a79d743bf1360de84af2db05dfb9289ccf649973d
	sha256sums = 34f139015c3537ced763080832f691f3fca012ee4c126c7c66d8e120085d5290
	sha256sums = 1945ff5b33dd57622d9450e19a323ac8b0d360d7ba248578dcd31a1f03cfe9e4

pkgname = seerr
