pkgbase = hardened_malloc
	pkgdesc = Hardened allocator designed for modern systems
	pkgver = 13
	pkgrel = 1
	url = https://github.com/GrapheneOS/hardened_malloc
	arch = x86_64
	license = MIT
	checkdepends = python
	makedepends = git
	depends = gcc-libs
	provides = libhardened_malloc.so
	provides = libhardened_malloc-light.so
	source = git+https://github.com/GrapheneOS/hardened_malloc#tag=13
	sha256sums = 3e48dcfd888b3a871c0d59c6757ab328eb008e1951843c1dc75225432a4bf7db

pkgname = hardened_malloc
