pkgbase = btrfs-assistant
	pkgdesc = An application for managing BTRFS subvolumes and Snapper snapshots
	pkgver = 1.9
	pkgrel = 1
	url = https://gitlab.com/btrfs-assistant/btrfs-assistant
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt5-tools
	depends = qt5-base
	depends = qt5-svg
	depends = ttf-font
	depends = polkit
	depends = util-linux
	depends = btrfs-progs
	depends = diffutils
	optdepends = snapper
	optdepends = btrfsmaintenance
	backup = etc/btrfs-assistant.conf
	source = btrfs-assistant-1.9.tar.gz::https://gitlab.com/btrfs-assistant/btrfs-assistant/-/archive/1.9/btrfs-assistant-1.9.tar.gz
	sha256sums = 2e82c5fca35e29452fc74a9ba17b987b03862dc2e8b3da02b351d9c763bf5cf5

pkgname = btrfs-assistant
