pkgbase = btrfs-assistant
	pkgdesc = An application for managing BTRFS subvolumes and Snapper snapshots
	pkgver = 2.0
	pkgrel = 1
	url = https://gitlab.com/btrfs-assistant/btrfs-assistant
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = git
	makedepends = cmake
	makedepends = qt6-tools
	depends = qt6-base
	depends = qt6-svg
	depends = ttf-font
	depends = polkit
	depends = util-linux
	depends = btrfs-progs
	depends = diffutils
	optdepends = snapper
	optdepends = btrfsmaintenance
	backup = etc/btrfs-assistant.conf
	source = btrfs-assistant-2.0.tar.gz::https://gitlab.com/btrfs-assistant/btrfs-assistant/-/archive/2.0/btrfs-assistant-2.0.tar.gz
	sha256sums = 1e43de1713e7a3dffb395dba38a241be8d6281ba158029306cb31124b0011ddf

pkgname = btrfs-assistant
