pkgbase = mindustry-git
	pkgdesc = A sandbox tower defense game
	pkgver = 150.1.r32.gdb7aba8
	pkgrel = 1
	url = https://github.com/Anuken/Mindustry
	arch = any
	license = GPL-3.0-only
	makedepends = java-environment=17
	makedepends = alsa-lib
	makedepends = git
	makedepends = libicns
	source = mindustry::git+https://github.com/Anuken/Mindustry.git
	source = mindustry-arc::git+https://github.com/Anuken/Arc.git
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = mindustry-git
	depends = hicolor-icon-theme
	depends = java-runtime
	provides = mindustry
	conflicts = mindustry

pkgname = mindustry-server-git
	pkgdesc = A sandbox tower defense game - server
	depends = hicolor-icon-theme
	depends = java-runtime
	provides = mindustry-server
	conflicts = mindustry-server
