pkgbase = llvm-mingw
	pkgdesc = A self-contained LLVM/Clang/LLD based mingw-w64 toolchain targeting i686, x86-64, armv7, and aarch64
	pkgver = 21.1.6+20251118
	pkgrel = 1
	url = https://github.com/mstorsjo/llvm-mingw
	arch = x86_64
	groups = mingw-w64-toolchain
	groups = mingw-w64
	license = LicenseRef-custom
	license = ZPL-2.1
	license = GPL-3.0
	license = GPL-3.0-with-GCC-exception
	license = GFDL-1.3-or-later
	license = Apache-2.0 WITH LLVM-exception
	license = custom:ISC
	makedepends = cmake>=3.20.0
	makedepends = ninja
	makedepends = python
	makedepends = git
	makedepends = libxml2
	makedepends = zlib
	makedepends = xz
	makedepends = swig
	makedepends = lua53
	makedepends = doxygen
	makedepends = perl
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = libffi
	depends = libedit
	depends = ncurses
	depends = libxml2
	depends = bash
	optdepends = wine: for running Windows executables
	provides = mingw-w64-gcc
	provides = mingw-w64-clang
	provides = mingw-w64-binutils
	provides = mingw-w64-tools
	provides = mingw-w64-crt
	provides = mingw-w64-headers
	provides = mingw-w64-winpthreads
	provides = mingw-w64-winstorecompat
	provides = llvm-mingw-w64-toolchain
	options = staticlibs
	options = !buildflags
	options = !emptydirs
	source = llvm-mingw-20251118.tar.gz::https://github.com/mstorsjo/llvm-mingw/archive/refs/tags/20251118.tar.gz
	source = llvm-project-21.1.6.tar.gz::https://github.com/llvm/llvm-project/archive/refs/tags/llvmorg-21.1.6.tar.gz
	source = mingw-w64-gf6a7b2.tar.gz::https://github.com/mingw-w64/mingw-w64/archive/f6a7b25bc70e9c3f5d0a8535ad112b08de564b33.tar.gz
	sha256sums = e500d07528e3c974be1ba0cbd940a558cefe6328c18a6f772d9f3723c0020ea9
	sha256sums = 2380973eb435b48bd70881939da3629069009a851c81676dfb211a1b068d72a6
	sha256sums = d2fa18ef6b1fc8afd80c065a524fc090a7514803a3c93f79ae29ef5ac4a1801e

pkgname = llvm-mingw
