pkgbase = juliaup
	pkgdesc = An experimental Julia version manager
	pkgver = 1.18.3
	pkgrel = 1
	url = https://github.com/JuliaLang/juliaup
	arch = x86_64
	arch = x86
	arch = aarch64
	license = MIT
	makedepends = rust
	provides = julia
	conflicts = julia
	conflicts = julia-bin
	options = !lto
	source = https://github.com/JuliaLang/juliaup/archive/refs/tags/v1.18.3.tar.gz
	md5sums = e821b4ccec0568be0497271a659a0132

pkgname = juliaup
