pkgbase = juliaup
	pkgdesc = An experimental Julia version manager
	pkgver = 1.18.2
	pkgrel = 1
	url = https://github.com/JuliaLang/juliaup
	arch = x86_64
	arch = x86
	arch = aarch64
	license = MIT
	makedepends = rust
	provides = julia
	conflicts = julia
	conflicts = julia-bin
	options = !lto
	source = https://github.com/JuliaLang/juliaup/archive/refs/tags/v1.18.2.tar.gz
	md5sums = 41c3444869e22e7fee2ed08b8594e481

pkgname = juliaup
