pkgbase = python-pywhat
	pkgdesc = Identify emails, IP addresses and more
	pkgver = 5.1.0
	pkgrel = 4
	url = https://github.com/bee-san/pyWhat
	arch = any
	license = MIT
	makedepends = python-poetry
	makedepends = python-installer
	depends = python
	depends = python-click
	depends = python-rich
	optdepends = python-orjson: faster JSON serialization and deserialization
	source = python-pywhat-5.1.0.tar.gz::https://files.pythonhosted.org/packages/source/p/pywhat/pywhat-5.1.0.tar.gz
	sha256sums = 8a6f2b3060f5ce9808802b9ca3eaf91e19c932e4eaa03a4c2e5255d0baad85c4

pkgname = python-pywhat
