pkgbase = xbox-generic-controller
	pkgdesc = Fix for generic XBox-like USB gamepads that are recognized but not functional
	pkgver = 0.1.2
	pkgrel = 1
	url = https://gitlab.com/ryanobeirne/xbox-generic-controller
	install = xbox-generic-controller.install
	arch = any
	license = MIT
	depends = systemd
	depends = python>=3
	depends = python-pyusb
	depends = python-systemd
	depends = xboxdrv
	source = xbox-generic-controller.conf
	source = 50_xbox-generic-controller.rules
	source = fixcontroller.py
	source = xbox-generic-controller.install
	sha256sums = bdc54ef5b9728751f89f08039c69141f7515b9df723cbda1df0239c5109d249b
	sha256sums = ecb8c515f1b88fe4986eec098bd6863c459c39fd569d759884936e39d22d586b
	sha256sums = d709c20ff399be6e3dd26c762763a07ea8fcf96349477abfa0ae080526d86dbf
	sha256sums = f96288ed8d715548872b44cbc7fe19c5f29ff6a41b0b284f5fad7da21499bdb4

pkgname = xbox-generic-controller
