pkgbase = vim-coc-tsserver-git
	pkgdesc = JavaScript & TypeScript support for coc.nvim
	pkgver = 1.5.8.r0.g334a3dd
	pkgrel = 1
	url = https://github.com/neoclide/coc-tsserver
	arch = any
	license = MIT
	makedepends = yarn
	makedepends = npm
	makedepends = git
	depends = vim-coc
	provides = vim-coc-tsserver
	conflicts = vim-coc-tsserver
	source = coc-tsserver::git+https://github.com/neoclide/coc-tsserver.git
	sha256sums = SKIP

pkgname = vim-coc-tsserver-git
