pkgbase = spotdl
	pkgdesc = Download your Spotify playlists and songs along with album art and metadata (from YouTube if a match is found).
	pkgver = 4.2.5
	pkgrel = 6
	url = https://github.com/spotDL/spotify-downloader
	arch = any
	license = MIT
	checkdepends = python-pytest-asyncio
	checkdepends = python-pytest-mock
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-poetry-core
	depends = ffmpeg
	depends = python
	depends = python-bandcamp-api
	depends = python-beautifulsoup4
	depends = python-dacite
	depends = python-demjson3
	depends = python-fastapi
	depends = python-mutagen
	depends = python-platformdirs
	depends = python-pydantic
	depends = python-pykakasi
	depends = python-pytube
	depends = python-rapidfuzz
	depends = python-requests
	depends = python-rich
	depends = python-soundcloud-v2
	depends = python-slugify
	depends = python-spotipy
	depends = python-syncedlyrics
	depends = python-typing_extensions
	depends = python-ytmusicapi
	depends = uvicorn
	depends = yt-dlp
	provides = python-spotdl
	conflicts = python-spotdl
	replaces = python-spotdl
	source = spotdl-4.2.5.tar.gz::https://github.com/spotDL/spotify-downloader/archive/v4.2.5.tar.gz
	source = spotdl-2120.patch::https://github.com/spotDL/spotify-downloader/pull/2120.patch
	b2sums = cb45720745936cb4e14fb121e34871614e5be4bdc10f0c23058f979dfd788dd7da06ceb3cc633c93fb7bf799080256f718e29f8ff30fba275be9c6c3f9eae2ca
	b2sums = 2ea10536e919bb94f2ca743d2b893698e7635d19cb18786d5af98d6762c36405275df8a15e090e8394d5e2bf0b3f2aee4444d75383b5fb926f2557ecc217243b

pkgname = spotdl
