pkgbase = spotdl
	pkgdesc = Download your Spotify playlists and songs along with album art and metadata (from YouTube if a match is found).
	pkgver = 4.4.2
	pkgrel = 1
	url = https://github.com/spotDL/spotify-downloader
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-hatchling
	depends = ffmpeg
	depends = python
	depends = python-bandcamp-api
	depends = python-beautifulsoup4
	depends = python-dacite
	depends = python-demjson3
	depends = python-fastapi
	depends = python-mutagen
	depends = python-platformdirs
	depends = python-pydantic
	depends = python-pykakasi
	depends = python-pytube
	depends = python-rapidfuzz
	depends = python-requests
	depends = python-rich
	depends = python-soundcloud-v2
	depends = python-slugify
	depends = python-spotipy
	depends = python-syncedlyrics
	depends = python-typing_extensions
	depends = python-ytmusicapi
	depends = uvicorn
	depends = yt-dlp
	provides = python-spotdl
	conflicts = python-spotdl
	replaces = python-spotdl
	source = spotdl-4.4.2.tar.gz::https://github.com/spotDL/spotify-downloader/archive/v4.4.2.tar.gz
	b2sums = 405f9717332aa68e03752ac46579d55176a4a91e03a5d6118125a0c20a09bf712c81d5f7a5bf79a14fd2d1f15b24651a2d85fd1d55ae0e6fc32a0d2a97e934b0

pkgname = spotdl
