pkgbase = hplip-minimal
	pkgdesc = Only printer drivers from HPLIP with proprietary binary plugin
	pkgver = 3.25.2
	pkgrel = 1
	url = https://developers.hp.com/hp-linux-imaging-and-printing/
	arch = x86_64
	license = GPL-2.0-only
	license = MIT
	license = BSD-3-Clause
	license = GPL-3.0-only
	license = LicenseRef-HPLIP
	makedepends = python
	makedepends = libusb
	makedepends = cups
	depends = libcups
	optdepends = cups: for printing support
	provides = hplip
	conflicts = hplip
	conflicts = hplip-lite
	conflicts = hplip-plugin
	backup = etc/hp/hplip.conf
	backup = var/lib/hp/hplip.state
	options = !makeflags
	source = https://downloads.sourceforge.net/hplip/hplip-3.25.2.tar.gz
	source = https://downloads.sourceforge.net/hplip/hplip-3.25.2.tar.gz.asc
	source = https://developers.hp.com/system/files/2025-03/hplip-3.25.2-plugin_run.zip
	source = hplip-missing-drivers.patch
	source = hplip-pserror-c99.patch
	validpgpkeys = 4ABA2F66DBD5A95894910E0673D770CDA59047B9
	sha256sums = f99e5eda0704ece359fb2bd9f2254e4a167257cee4da947481e8268a9cb87c50
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = a8ba5021c68816b63654e328c2872cedf49fa9f8769631cfcb96c667055c7313
	sha256sums = 33380f46f9e44cce1b6c5fcc10917cc363654ac157dca3cccf620d05ce7e3f19

pkgname = hplip-minimal