pkgbase = piper-voices-common
	pkgdesc = Voices for Piper text to speech system (common files)
	pkgver = 1.0.0
	pkgrel = 7
	url = https://huggingface.co/rhasspy/piper-voices
	install = piper-voices-common.install
	arch = any
	license = MIT
	depends = piper-tts
	depends = alsa-utils
	optdepends = speech-dispatcher: tts support for third party apps
	source = voices-1.0.0.json::https://huggingface.co/rhasspy/piper-voices/resolve/v1.0.0/voices.json
	sha256sums = 66f6b221551769c5237f46c6f104cd1ff099a6f1e7a91c6e6eea4dc4bd4f1f03

pkgname = piper-voices-common
