pkgbase = gnome-network-displays
	pkgdesc = Screencasting for GNOME. Supports the Miracast and Chromecast protocols.
	pkgver = 0.96.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gnome-network-displays
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	depends = avahi
	depends = dnsmasq
	depends = gst-plugin-pipewire
	depends = gst-plugins-bad
	depends = gst-plugins-good
	depends = gst-plugins-ugly
	depends = gst-rtsp-server
	depends = libadwaita
	depends = libportal-gtk4
	depends = libpulse
	depends = networkmanager
	depends = protobuf-c
	depends = xdg-desktop-portal
	optdepends = gstreamer-vaapi
	source = https://gitlab.gnome.org/GNOME/gnome-network-displays/-/archive/0.96.0/gnome-network-displays-0.96.0.tar.gz
	sha256sums = 454607156dad00f7ac8af9f6cfb5f849e5b56700f6578c5f50550b7e34e423f6

pkgname = gnome-network-displays
