pkgbase = gr-limesdr-git
	pkgdesc = gr-limesdr Plugin for GNURadio
	pkgver = 3.0.1.r69.gd0fac85
	pkgrel = 2
	url = https://github.com/myriadrf/gr-limesdr
	arch = x86_64
	license = MIT
	makedepends = boost
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = pybind11
	depends = fmt
	depends = gnuradio
	depends = limesuite
	depends = python
	depends = spdlog
	provides = gr-limesdr
	conflicts = gr-limesdr
	source = gr-limesdr::git+https://github.com/myriadrf/gr-limesdr#branch=gr-3.10
	sha256sums = SKIP

pkgname = gr-limesdr-git
