pkgbase = cosmic-files-git
	pkgdesc = File manager for the COSMIC desktop environment
	pkgver = 1.0.0.alpha.6.r55.gfac5a25
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-files
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = mold
	depends = cosmic-icons-git
	depends = glib2
	depends = gvfs
	depends = libxkbcommon
	depends = xdg-utils
	optdepends = evince: external document thumbnailer
	optdepends = totem: external video thumbnailer
	provides = cosmic-files
	conflicts = cosmic-files
	source = git+https://github.com/pop-os/cosmic-files.git
	source = lto.patch
	sha256sums = SKIP
	sha256sums = 6e5a0563438440cca17def2701a5a4b5d645b33846f729e376a28567a300347c

pkgname = cosmic-files-git
