pkgbase = python-manimpango
	pkgdesc = C binding for Pango using Cython used in Manim to render (non-LaTeX) text.
	pkgver = 0.6.1
	pkgrel = 1
	url = https://github.com/ManimCommunity/ManimPango
	arch = x86_64
	license = MIT
	checkdepends = cython
	checkdepends = python-coverage
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-setuptools
	checkdepends = python-virtualenv
	checkdepends = cantarell-fonts
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = cairo
	depends = fontconfig
	depends = glib2
	depends = pango
	depends = python
	source = https://github.com/ManimCommunity/ManimPango/releases/download/v0.6.1/manimpango-0.6.1.tar.gz
	sha512sums = 0559cfda77a936d5453492a63410fa0f125b2babcb9f10fe2bab0a259f9fe3f928e97ffac72d7994fdfa43b9684c0fb60a86c1e90ad04be336d0491ae0132b2f

pkgname = python-manimpango
