pkgbase = python-manimpango
	pkgdesc = C binding for Pango using Cython used in Manim to render (non-LaTeX) text.
	pkgver = 0.6.0
	pkgrel = 3
	url = https://github.com/ManimCommunity/ManimPango
	arch = x86_64
	license = MIT
	checkdepends = cython
	checkdepends = python-coverage
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	checkdepends = python-setuptools
	checkdepends = python-virtualenv
	checkdepends = cantarell-fonts
	makedepends = cython
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = cairo
	depends = fontconfig
	depends = glib2
	depends = pango
	depends = python
	source = https://github.com/ManimCommunity/ManimPango/releases/download/v0.6.0/manimpango-0.6.0.tar.gz
	sha512sums = 865fd14f7c8416cd6b013a7fce57b86ea1ecdb98f768d3a1a83913584f98e86a7af3e68ffc4feafbc375997a933eb8cb9294e7292ba6836e92ed361427aab0f5

pkgname = python-manimpango
