pkgbase = ttf-iosevka
	pkgdesc = Typeface family designed for coding, terminal use and technical documents.
	pkgver = 33.1.0
	pkgrel = 1
	url = https://typeof.net/Iosevka/
	arch = any
	license = OFL
	source = https://github.com/be5invis/Iosevka/releases/download/v33.1.0/PkgTTF-Iosevka-33.1.0.zip
	source = ttf-iosevka-33.1.0-1-LICENSE.md::https://raw.githubusercontent.com/be5invis/Iosevka/v33.1.0/LICENSE.md
	sha256sums = e8ee2ccddc56eae1685af87a37bf843fe7e43dee1dffe6176696c9eb65324b3f
	sha256sums = 52579dd4ebbda8e5a9d314e395dbfe40de82b4b7b3007ec8458876823af8dddd

pkgname = ttf-iosevka
