pkgbase = cosmic-applets-git
	pkgdesc = WIP applets for COSMIC Panel
	pkgver = r1036.478bb3e
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-applets
	arch = x86_64
	arch = aarch64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = just
	makedepends = mold
	depends = cosmic-icons-git
	depends = dbus
	depends = libinput
	depends = libpulse
	depends = libxkbcommon
	provides = cosmic-applets
	conflicts = cosmic-applets
	source = git+https://github.com/pop-os/cosmic-applets.git
	sha256sums = SKIP

pkgname = cosmic-applets-git
