pkgbase = python-pyamg
	pkgdesc = Algebraic Multigrid Solvers in Python
	pkgver = 5.2.1
	pkgrel = 1
	url = https://github.com/pyamg/pyamg
	arch = x86_64
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools-scm
	makedepends = python-wheel
	makedepends = pybind11
	depends = python-scipy
	source = pyamg-5.2.1.tar.gz::https://github.com/pyamg/pyamg/archive/v5.2.1.tar.gz
	sha512sums = 469a5675bb65ff9eadfdbf344c35cb01bebe09c987b493aaeaf5aa98273ebd8071534e25edac82ffc26f39eb3877e1a69cd2a3894de70bcb5396b6cf723aa3b6

pkgname = python-pyamg
