pkgbase = davfs2
	pkgdesc = File system driver that allows you to mount a WebDAV folder
	pkgver = 1.7.2
	pkgrel = 2
	url = https://github.com/alisarctl/davfs2
	arch = armv7h
	arch = aarch64
	arch = x86_64
	license = GPL
	depends = neon
	depends = po4a
	backup = etc/davfs2/davfs2.conf
	backup = etc/davfs2/secrets
	source = https://github.com/alisarctl/davfs2/releases/download/rel-1-7-2/davfs2-1.7.2.tar.gz
	source = https://github.com/alisarctl/davfs2/releases/download/rel-1-7-2/davfs2-1.7.2.tar.gz.sig
	validpgpkeys = 51A0F4A0C8CFC98F842EA9A8B94556F81C85D0D5
	sha512sums = 46e37b59069987da0c7a398b6bc8dae56b8ff821aa3c69763f49e9ae018620887b2f30b09877cedec6a620b6d3a3dcc0343d540f8426dc10209b8f9841a120e2
	sha512sums = SKIP

pkgname = davfs2
