pkgbase = flightcore
	pkgdesc = Installer/Updater/Launcher for Northstar
	pkgver = 2.26.2
	pkgrel = 2
	url = https://github.com/R2NorthstarTools/FlightCore
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = npm
	depends = bzip2
	depends = gcc-libs
	depends = hicolor-icon-theme
	depends = webkit2gtk
	options = !lto
	source = https://github.com/R2NorthstarTools/FlightCore/archive/refs/tags/v2.26.2.tar.gz
	sha256sums = da695ebbc46bb5fbc71e0249e7668e1d0c644e6c2eff58f7726432b636319646

pkgname = flightcore
