pkgbase = python-docopt-ng
	pkgdesc = Jazzband fork of docopt, the humane command line arguments parser
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/jazzband/docopt-ng
	arch = any
	license = MIT
	makedepends = git
	makedepends = python-build
	makedepends = python-pdm-backend
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	source = docopt-ng::git+https://github.com/jazzband/docopt-ng.git#tag=0.9.0
	sha256sums = ac7004380758ba25be8b2868819c8c2efbc75fd291342e37a6d07f59ee6d2392

pkgname = python-docopt-ng
