pkgbase = appimagelauncher
	pkgdesc = Helper for running and integrating AppImages
	pkgver = 3.0.0_beta_1
	pkgrel = 1
	url = https://github.com/TheAssassin/AppImageLauncher
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = argagg
	makedepends = boost
	makedepends = cmake
	makedepends = git
	makedepends = gtest
	makedepends = python
	makedepends = qt5-tools
	makedepends = xxd
	depends = cairo
	depends = desktop-file-utils
	depends = fuse2
	depends = hicolor-icon-theme
	depends = lib32-glibc
	depends = lib32-gcc-libs
	depends = libbsd
	depends = libxpm
	depends = nlohmann-json
	depends = patchelf
	depends = qt5-base
	depends = qt5-declarative
	depends = shared-mime-info
	depends = librsvg
	depends = libarchive
	depends = squashfuse
	source = appimagelauncher-3.0.0_beta_1.tag.gz::https://github.com/TheAssassin/AppImageLauncher/archive/refs/tags/v3.0.0-beta-1.tar.gz
	source = appimage-binfmt-remove.hook
	sha256sums = 2763d517d4df5b53f22266c22add4550411abc5b9a7b0b534c342c717f316fea
	sha256sums = 72a2630cf79b8f90bc21eae1d9f40c07fe77ce22df46c511b500f514455d7c81

pkgname = appimagelauncher
