pkgbase = chromaprint-fftw
	pkgdesc = Library for extracting fingerprints from any audio source (uses fftw for FFT calculations instead of ffmpeg)
	pkgver = 1.6.1
	pkgrel = 1
	url = https://acoustid.org/chromaprint
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	depends = fftw
	depends = glibc
	depends = libgcc
	depends = libstdc++
	provides = chromaprint
	provides = libchromaprint.so
	conflicts = chromaprint
	source = https://github.com/acoustid/chromaprint/archive/v1.6.1/chromaprint-1.6.1.tar.gz
	sha256sums = 7065ec9db48ac1fa929ec6c42afcd966605b1bfe48b6d5e64c25378a05f4fb02

pkgname = chromaprint-fftw
