pkgbase = oxygen-cursors-extra
	pkgdesc = KDE's Oxygen mouse cursor theme - the extra flavours
	pkgver = 6.2.3
	pkgrel = 1
	url = https://projects.kde.org/projects/kde/workspace/oxygen
	arch = any
	license = LGPL
	makedepends = cmake
	makedepends = inkscape
	makedepends = xorg-xcursorgen
	optdepends = oxygen: contains the default Oxygen cursor colours
	options = !emptydirs
	source = https://download.kde.org/stable/plasma/6.2.3/oxygen-6.2.3.tar.xz
	sha256sums = 2d87549b2573e1b0de0db151167b9b8be904677fb351d01b5387b8d995fecfbf

pkgname = oxygen-cursors-extra
