pkgbase = azpainter
	pkgdesc = Painting software
	pkgver = 3.0.7
	pkgrel = 1
	url = http://azsky2.html.xdomain.jp/soft/azpainter.html
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = ninja
	depends = hicolor-icon-theme
	depends = fontconfig
	depends = libjpeg-turbo
	depends = libxi
	depends = libxcursor
	depends = libwebp
	options = !makeflags
	source = https://gitlab.com/azelpg/azpainter/-/archive/v3.0.7/azpainter-v3.0.7.tar.bz2
	sha256sums = da3d26f744d3c0df1a89e8d4c075bf722071e89ef38f5ae5bc3318a29a71f932

pkgname = azpainter
