pkgbase = waterfox
	pkgdesc = Fork of Mozilla Firefox featuring some privacy, usability, and speed enhancements.
	pkgver = 6.6.7
	pkgrel = 1
	url = https://www.waterfox.net/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = dump_syms
	makedepends = imake
	makedepends = jack
	makedepends = lld
	makedepends = llvm
	makedepends = mercurial
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = python-pip
	makedepends = rust
	makedepends = unzip
	makedepends = wasi-compiler-rt
	makedepends = wasi-libc
	makedepends = wasi-libc++
	makedepends = wasi-libc++abi
	makedepends = xorg-server-xvfb
	makedepends = yasm
	makedepends = zip
	makedepends = sccache
	depends = gtk3
	depends = libxt
	depends = mime-types
	depends = dbus-glib
	depends = nss
	depends = ttf-font
	depends = libpulse
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = pulseaudio: Audio support
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !emptydirs
	options = !makeflags
	options = !strip
	source = waterfox-6.6.7.tar.gz::https://github.com/WaterfoxCo/Waterfox/archive/refs/tags/6.6.7.tar.gz
	source = locales.tar.gz::https://github.com/BrowserWorks/l10n/archive/bce7b1e821ff7f65d914d35f09eee0379f41887d.tar.gz
	source = waterfox.desktop
	sha256sums = 9c141c32d8fef0863fce37e4c8bfb9c10ed9e4067c495bbd87f416454e941255
	sha256sums = fa87c5b01d38fddb67a7c3512acf622bc3eef2f90d2ff439cbde6d363849efd2
	sha256sums = 9345cdf0e1a537d8ff23b5db0eadaaec5868f7588de86a260da27f5015c2d286

pkgname = waterfox
