pkgbase = sayonara-player
	pkgdesc = Small, clear and fast audio player for Linux written in C++, supported by the Qt framework. It uses Gstreamer as audio backend.
	pkgver = 1.11.0_stable1
	pkgrel = 1
	url = https://sayonara-player.com/
	arch = i686
	arch = x86_64
	license = GPL3
	checkdepends = xorg-server-xvfb
	makedepends = git
	makedepends = cmake
	makedepends = qt5-tools
	makedepends = gst-plugins-bad
	depends = qt5-base
	depends = qt5-svg
	depends = taglib
	depends = gst-plugins-base
	depends = gst-plugins-good
	optdepends = gst-libav: additional codecs
	optdepends = gst-plugins-bad: additional codecs
	optdepends = gst-plugins-ugly: additional codecs
	source = git+https://gitlab.com/luciocarreras/sayonara-player.git#tag=1.11.0-stable1
	sha512sums = a25c50d29e37a5bc6f942c8471eee308b3fe42359f59e094cdc67b53b2148c0208aa19223c36d989b397f8abe716230749516ad22d664d3a1dcd76f58df2a3fe

pkgname = sayonara-player
