pkgbase = connman-gtk
	pkgdesc = Tray menu and GUI for ConnMan
	pkgver = 1.1.1
	pkgrel = 2
	url = https://github.com/jgke/connman-gtk
	arch = x86_64
	license = GPL2
	makedepends = intltool
	makedepends = git
	makedepends = meson
	makedepends = openconnect
	depends = glib2
	depends = gtk3
	optdepends = openconnect: Easier authentication to AnyConnect VPNs
	source = git+https://github.com/jgke/connman-gtk.git#commit=b72c6ab3bb19c07325c8e659902b046daa23c506
	sha256sums = SKIP

pkgname = connman-gtk

