pkgbase = identity
	pkgdesc = Compare multiple versions of an image or video
	pkgver = 0.6.0
	pkgrel = 2
	url = https://gitlab.gnome.org/YaLTeR/identity
	arch = x86_64
	license = GPL3
	makedepends = meson
	makedepends = rust
	makedepends = blueprint-compiler
	makedepends = gobject-introspection
	makedepends = python-gobject
	depends = libadwaita
	depends = dav1d
	depends = libwebp
	depends = gst-plugin-gtk4
	source = https://gitlab.gnome.org/YaLTeR/identity/-/archive/v0.6.0/identity-v0.6.0.tar.gz
	sha256sums = 5ae1ef8129dab503d49ecae984021710c9df5f322b054c7ac2f488747b0d76e0

pkgname = identity
