pkgbase = zapzap
	pkgdesc = WhatsApp desktop application written in Pyqt6 + PyQt6-WebEngine
	pkgver = 6.2.2
	pkgrel = 1
	url = https://github.com/rafatosta/zapzap
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools>=40.8.0
	makedepends = python-wheel
	makedepends = desktop-file-utils
	depends = python-pyqt6
	depends = python-pyqt6-webengine
	depends = dbus-python
	depends = qt6-wayland
	depends = python-jaraco.text
	depends = python-inflect
	depends = python-pydantic>=1.9.1
	depends = python-typing_extensions>=4.6.1
	optdepends = hunspell: spell check
	source = git+https://github.com/rafatosta/zapzap#tag=6.2.2
	b2sums = 5997d545fbee428634a72df0c632d61ae22422b940c19f5776e73f4407980848f6aa5df375f01ca3cd190682a83e2e04f1b2ff63800ef4dc58f2cac2faf92cfb

pkgname = zapzap
