pkgbase = linux-lts66
	pkgdesc = LTS Linux
	pkgver = 6.6.116
	pkgrel = 1
	url = https://www.kernel.org
	arch = x86_64
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.116.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.6.116.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-skip-simpledrm-if-nvidia-drm.modeset=1-is.patch
	source = 0003-Default-to-maximum-amount-of-ASLR-bits.patch
	source = 0004-Sphinx-7.2.2-8.0-PosixPath.patch
	source = 0005-Sphinx-docutils-0.22-deprecated-SafeString-ErrorString.patch
	source = 0006-perl-5.41-precedence-warning-kernel-doc.patch
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = a9a59742c29be284c205dc87cbe9b065f9688488132c8f5a6057a5539230a51d
	sha256sums = SKIP
	sha256sums = 21195509fded29d0256abfce947b5a8ce336d0d3e192f3f8ea90bde9dd95a889
	sha256sums = 2f23be91455e529d16aa2bbf5f2c7fe3d10812749828fc752240c21b2b845849
	sha256sums = 6400a06e6eb3a24b650bc3b1bba9626622f132697987f718e7ed6a5b8c0317bc
	sha256sums = 453ad77883c50b5d5b1373241a5a27a5f7cdc11c5b66dd929338fc622de6cf14
	sha256sums = 6d886ff7f1fed2f32a9f2d8932c11786bb06742e203a55990c6b1f77a247be59
	sha256sums = 467cd55071c616f9bec55d88c37efaf579b6c9f7b33c9c30aaf74583cd450a7f
	sha256sums = edc98e741c25e3eda366f6e4675e0350efea8630b9f76799c0b9e0abf065cbc0
	b2sums = 134ac380434f3b4cf5d42a06d82f23dc65662c6fb3fa768deacae4190d4e366a2af1e17acf2778916854fd95775da70fea3b1ac4144df3055a6aaf9d033ce5a3
	b2sums = SKIP
	b2sums = 02a10396c92ab93124139fc3e37b1d4d8654227556d0d11486390da35dfc401ff5784ad86d0d2aa7eacac12bc451aa2ff138749748c7e24deadd040d5404734c
	b2sums = 5dc21a7a6f0b840e6a671dcf09a865e42f0e2c000d5e45d3f3202c02946a8ab2207858d0b2ef1004648b8c2963efb428298b263c8494be806dfc9b6af66d5413
	b2sums = ba6ebe349b3757411364a9ba2deaa30a8d71a247d518c159385977c2b4782771bda4edfc96bd954808617c9ba984d832471b63c11f5bd6003369bfe4051df31f
	b2sums = 7a63b8e28249e10b8c808f540c88827a5276d60b3b15b590c2bb6140a4b695af6f180517d104567b4799bdd048ce5d78dd01f5b13d8a96c3b24f3d98d6e4d2b1
	b2sums = f96a0bd31cf73a712347fc95dbffbc1979f4e8db93323a78717907904789dad99da9cc2d69d24f5b75a437874676ca7c12608691d0c301535867b9ddb09d621e
	b2sums = 759760ea903208e7ee21ac53ac9cc5c559b826f08c600d2c2169f6d08b86bb4d5bfceb7abe4e1d77f5d988e10777a8ec47c401a7c69e74d21816daec1d293df3
	b2sums = a27355a12e90c6f8c24a2afaadd3d6dfc198504c1ab8536f33dea2b0dfc8b667640694d8229879b898d6a23465ea471239c9686ebd33024c29d51fdf67c8693b

pkgname = linux-lts66
	pkgdesc = The LTS Linux kernel and modules
	license = Apache-2.0 OR MIT
	license = BSD-2-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = BSD-3-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause-Clear
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later OR BSD-3-Clause
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = GPL-2.0-or-later WITH GCC-exception-2.0
	license = ISC
	license = LGPL-2.0-or-later
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-1.1
	license = X11
	license = Zlib
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts66-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later WITH Linux-syscall-note
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR Linux-OpenIB OR BSD-2-Clause
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = (GPL-2.0-only WITH Linux-syscall-note) AND MIT
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-2-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR CDDL-1.0
	license = (GPL-2.0-only WITH Linux-syscall-note) OR Linux-OpenIB
	license = (GPL-2.0-only WITH Linux-syscall-note) OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later WITH Linux-syscall-note
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR MIT
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = ISC
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-only OR MIT
	license = LGPL-2.1-only WITH Linux-syscall-note
	license = LGPL-2.1-or-later
	license = LGPL-2.1-or-later OR BSD-2-Clause
	license = LGPL-2.1-or-later WITH Linux-syscall-note
	license = MIT
	license = Zlib
	depends = pahole

pkgname = linux-lts66-docs
	pkgdesc = Documentation for the LTS Linux kernel
	license = BSD-3-Clause
	license = GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only OR GFDL-1.2-no-invariants-only
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR CC-BY-4.0
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = LGPL-2.1-only OR BSD-2-Clause
	license = MIT
