[Unit]
Description=A simple, high performance messaging system for cloud native appliations, IoT messaging, and webservices architectures
Documentation=https://docs.nats.io
After=network.target

[Service]
Type=simple
PIDFile=/run/nats-server.pid
ExecStart=/usr/bin/nats-server --pid /run/nats-server.pid --syslog --http_port 8222
ExecStop=/usr/bin/nats-server --signal quit=/run/nats-server.pid
PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
RuntimeDirectory=nats-server
RuntimeDirectoryMode=755

[Install]
WantedBy=multi-user.target
