pkgbase = plasma6-applets-window-title
	pkgdesc = Plasma 6 applet that shows the application title and icon for active window
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/dhruv8sh/plasma6-window-title-applet
	arch = any
	license = GPL
	depends = plasma-workspace
	source = https://github.com/dhruv8sh/plasma6-window-title-applet/archive/refs/tags/v0.9.0.tar.gz
	sha256sums = 82a0ae9d10c47e36c510a45fb8f793891def81addfa32b0697b580a84d18a6c2

pkgname = plasma6-applets-window-title
