pkgbase = azahar-git
	pkgdesc = A 3DS emulator
	pkgver = 2122.1.r30.ga5aecf9
	pkgrel = 1
	url = https://github.com/azahar-emu/azahar
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = boost
	makedepends = catch2
	makedepends = clang
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = rapidjson
	depends = enet
	depends = libboost_iostreams.so
	depends = libboost_serialization.so
	depends = libcrypto.so
	depends = libfmt.so
	depends = libopenal.so
	depends = libssl.so
	depends = libusb-1.0.so
	depends = qt6-base
	depends = qt6-multimedia
	depends = sdl2
	depends = soundtouch
	provides = azahar
	conflicts = azahar
	source = git+https://github.com/azahar-emu/azahar.git
	sha256sums = SKIP

pkgname = azahar-git
