pkgbase = azahar-git
	pkgdesc = A 3DS emulator
	pkgver = 2120.3.r69.g8559aba
	pkgrel = 1
	url = https://github.com/azahar-emu/azahar
	arch = x86_64
	arch = x86_64_v2
	arch = x86_64_v3
	arch = x86_64_v4
	license = GPL-2.0-or-later
	makedepends = catch2
	makedepends = clang
	makedepends = cmake
	makedepends = doxygen
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = nlohmann-json
	makedepends = python
	makedepends = qt6-tools
	makedepends = rapidjson
	depends = enet
	depends = ffmpeg
	depends = libfdk-aac
	depends = libinih
	depends = libusb
	depends = mbedtls
	depends = openal
	depends = openssl
	depends = qt6-multimedia
	depends = sdl2
	depends = sndio
	depends = soundtouch
	depends = speexdsp
	depends = zstd
	provides = azahar
	conflicts = azahar
	source = git+https://github.com/azahar-emu/azahar.git
	source = abdes.cryptopp-cmake::git+https://github.com/abdes/cryptopp-cmake.git
	source = arun11299.cpp-jwt::git+https://github.com/arun11299/cpp-jwt.git
	source = azahar-emu.compatibility-list::git+https://github.com/azahar-emu/compatibility-list.git
	source = azahar-emu.discord-rpc::git+https://github.com/azahar-emu/discord-rpc.git
	source = azahar-emu.dynarmic::git+https://github.com/azahar-emu/dynarmic.git
	source = azahar-emu.ext-boost::git+https://github.com/azahar-emu/ext-boost.git
	source = azahar-emu.ext-library-headers::git+https://github.com/azahar-emu/ext-library-headers.git
	source = azahar-emu.ext-libressl-portable::git+https://github.com/azahar-emu/ext-libressl-portable.git
	source = azahar-emu.sirit::git+https://github.com/azahar-emu/sirit.git
	source = bylaws.libadrenotools::git+https://github.com/bylaws/libadrenotools.git
	source = fmtlib.fmt::git+https://github.com/fmtlib/fmt.git
	source = gpuopen-librariesandsdks.vulkanmemoryallocator::git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	source = herumi.xbyak::git+https://github.com/herumi/xbyak.git
	source = khronosgroup.glslang::git+https://github.com/KhronosGroup/glslang.git
	source = khronosgroup.vulkan-headers::git+https://github.com/KhronosGroup/Vulkan-Headers.git
	source = knik0.faad2::git+https://github.com/knik0/faad2.git
	source = lemenkov.libyuv::git+https://github.com/lemenkov/libyuv.git
	source = libusb::git+https://github.com/libusb/libusb.git
	source = lvandeve.lodepng::git+https://github.com/lvandeve/lodepng.git
	source = merryhime.oaknut::git+https://github.com/merryhime/oaknut.git
	source = mozilla.cubeb::git+https://github.com/mozilla/cubeb.git
	source = neobrain.nihstro::git+https://github.com/neobrain/nihstro.git
	source = septag.dds-ktx::git+https://github.com/septag/dds-ktx.git
	source = weidai11.cryptopp::git+https://github.com/weidai11/cryptopp.git
	source = wwylele.teakra::git+https://github.com/wwylele/teakra.git
	source = azahar-emu.mcl::git+https://github.com/azahar-emu/mcl.git
	source = lioncash.biscuit::git+https://github.com/lioncash/biscuit.git
	source = merryhime.oaknut::git+https://github.com/merryhime/oaknut.git
	source = tessil.robin-map::git+https://github.com/Tessil/robin-map.git
	source = zyantific.zycore-c::git+https://github.com/zyantific/zycore-c.git
	source = zyantific.zydis::git+https://github.com/zyantific/zydis.git
	source = khronosgroup.spirv-headers::git+https://github.com/KhronosGroup/SPIRV-Headers.git
	source = bylaws.liblinkernsbypass::git+https://github.com/bylaws/liblinkernsbypass.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = azahar-git
