pkgbase = slack-electron
	pkgdesc = Slack Desktop (Beta) for Linux, using the system Electron package
	pkgver = 4.50.140
	pkgrel = 1
	url = https://slack.com/downloads/linux
	arch = x86_64
	license = LicenseRef-SlackProprietary
	depends = electron42
	depends = glibc
	depends = libstdc++
	depends = libx11
	depends = libxkbfile
	optdepends = libappindicator-gtk3: for notification indicator in the status bar on GNOME
	provides = slack-desktop
	conflicts = slack-desktop
	noextract = slack-electron-4.50.140.deb
	source = slack-electron-4.50.140.deb::https://downloads.slack-edge.com/desktop-releases/linux/x64/4.50.140/slack-desktop-4.50.140-amd64.deb
	source = slack.sh
	b2sums = 37d24bee70967c9611752711c52e6d5ced7e07f460120a4117280208ddfdbdb02046d95635b7dd516f187a0e0342e0546f97e24046ec01d7e0f97aad3ac8efcf
	b2sums = bfed1f29617c53e52a437203e06d1bd6fb6dc7057e329e92d1bb375a6b95646a7eaa5a9b4e49be22bc56f89b316279950ce7119f0970daf1ca12641a6751ae23

pkgname = slack-electron
