pkgbase = vala-panel-applets-gpl-git
	pkgdesc = Cyclically spawns a script/program, captures its output and displays the resulting string in the panel
	pkgver = r89.5410ac8
	pkgrel = 1
	url = https://gitlab.com/vala-panel-project/vala-panel-applets-gpl
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = vala
	makedepends = gtk3
	makedepends = vala-panel>=0.4.62
	makedepends = libwnck3
	makedepends = meson
	makedepends = ninja
	makedepends = git
	makedepends = glib2-devel
	source = git+https://gitlab.com/vala-panel-project/vala-panel-applets-gpl.git
	sha256sums = SKIP

pkgname = vala-panel-applets-xembed-git
	pkgdesc = Old XEmbed system tray for vala-panel
	depends = gtk3
	depends = vala-panel>=0.4.62
	depends = libx11
	depends = libxrender
	provides = vala-panel-applets-xembed
	conflicts = vala-panel-applets-xembed
