pkgbase = mmsd-git
	pkgdesc = Multimedia Messaging Service
	pkgver = r648.f4b8b32
	pkgrel = 1
	url = https://git.kernel.org/pub/scm/network/ofono/mmsd.git
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = dbus
	depends = glib2
	provides = mmsd
	conflicts = mmsd
	source = mmsd-git::git+https://git.kernel.org/pub/scm/network/ofono/mmsd.git
	sha256sums = SKIP

pkgname = mmsd-git

