pkgbase = mpd-discord-rpc
	pkgdesc = Displays metadata of currently playing song from MPD in Discord using Rich Presence
	pkgver = 1.10.0
	pkgrel = 1
	url = https://github.com/JakeStanger/mpd-discord-rpc
	arch = i686
	arch = x86_64
	arch = armv6h
	arch = armv7h
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = rust
	depends = gcc-libs
	depends = openssl
	options = !lto
	source = mpd-discord-rpc-1.10.0.tar.gz::https://github.com/JakeStanger/mpd-discord-rpc/archive/refs/tags/v1.10.0.tar.gz
	sha256sums = 6b5ae67e4082a2b32b963c879b8d1ce80ec8aa5b37626edbd3621fddd1ff7ef2

pkgname = mpd-discord-rpc
