pkgbase = elixir-ls
	pkgdesc = A frontend-independent Language Server Protocol for Elixir
	pkgver = 0.26.1
	pkgrel = 1
	url = https://github.com/elixir-lsp/elixir-ls
	arch = any
	license = Apache-2.0
	makedepends = git
	depends = elixir
	depends = erlang-nox
	source = elixir-ls-0.26.1.tar.gz::https://github.com/elixir-lsp/elixir-ls/archive/v0.26.1.tar.gz
	sha256sums = 7b150647b5d51024224ba7eea32609f8de333a5c0ee6ac044000540b5960140c
	b2sums = ff85704b96a5c0c927782760032e73ce469ca0657378c05c0cbdb0e686ef70795fa0a038818515ced09348c1e02dfde3c729bbb7d851eb413d277ba1299dc87f

pkgname = elixir-ls
