pkgbase = python-enzyme
	pkgdesc = Python module to parse metadata in video files.
	pkgver = 0.5.1
	pkgrel = 1
	url = https://github.com/Diaoul/enzyme
	arch = any
	license = Apache
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	conflicts = python-enzyme-git
	source = https://files.pythonhosted.org/packages/source/e/enzyme/enzyme-0.5.1.tar.gz
	sha512sums = 8632cce142a805e47d2dccb951d5028cfd2bf07dd82f5bb4b8bb70e118731771226fcf66328f47da6031be61c059adec6456354ae278f00ae294a8a58b6e626a

pkgname = python-enzyme
