pkgbase = chocolate-doom
	pkgdesc = Historically-accurate Doom, Heretic, Hexen, and Strife ports.
	pkgver = 3.1.1
	pkgrel = 1
	url = http://www.chocolate-doom.org/
	install = chocolate-doom.install
	arch = x86_64
	arch = aarch64
	license = GPL2
	makedepends = python
	depends = libpng
	depends = libsamplerate
	depends = sdl2_mixer
	depends = sdl2_net
	optdepends = freedm: Free deathmatch game
	optdepends = freedoom1: Free Ultimate Doom-compatible game
	optdepends = freedoom2: Free Doom II-compatible game
	conflicts = chocolate-common
	conflicts = chocolate-heretic
	conflicts = chocolate-hexen
	conflicts = chocolate-strife
	replaces = chocolate-common
	replaces = chocolate-heretic
	replaces = chocolate-hexen
	replaces = chocolate-strife
	source = https://github.com/chocolate-doom/chocolate-doom/archive/refs/tags/chocolate-doom-3.1.1.tar.gz
	b2sums = df95d149eb33dd2f0cec53e4d1cb854941a9cbedd5e4ecc7b88022a358729734bce68f5c015ab6ef1929825976d1be1d1da200aa57383fa7ff776c7a8064385e

pkgname = chocolate-doom
