pkgbase = simp
	pkgdesc = A simple and fast image manipulation program
	pkgver = 3.10.2
	pkgrel = 1
	url = https://github.com/Kl4rry/simp
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = cargo-about
	makedepends = git
	makedepends = gendesk
	makedepends = clang
	makedepends = mold
	makedepends = cmake
	depends = dav1d
	depends = libheif
	source = simp-3.10.2.tar.gz::https://static.crates.io/crates/simp/simp-3.10.2.crate
	md5sums = SKIP

pkgname = simp
