pkgbase = netbird-ui
	pkgdesc = GUI for the Netbird client
	pkgver = 0.59.11
	pkgrel = 1
	url = https://github.com/netbirdio/netbird
	arch = x86_64
	license = BSD-3-Clause
	makedepends = go
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxinerama
	depends = libxrandr
	source = netbird-0.59.11.tar.gz::https://github.com/netbirdio/netbird/archive/refs/tags/v0.59.11.tar.gz
	sha256sums = 039bce1f40ac9623369eb482077591530c83799519e8bb5c348aa58176d76e19

pkgname = netbird-ui
