pkgbase = discord_arch_electron
	pkgdesc = Discord using system provided electron for increased security and performance
	pkgver = 0.0.68
	pkgrel = 1
	url = https://discord.com
	install = discord_arch_electron.install
	arch = any
	license = custom
	makedepends = asar
	makedepends = curl
	depends = electron
	depends = libxss
	optdepends = libpulse: Pulseaudio support
	optdepends = libappindicator-gtk3: Systray indicator support
	optdepends = xdg-utils: Open files
	optdepends = python-pyelftools: Required for Krisp patcher
	optdepends = python-capstone: Required for Krisp patcher
	provides = discord
	conflicts = discord
	options = !strip
	source = https://dl.discordapp.net/apps/linux/0.0.68/discord-0.0.68.tar.gz
	source = discord-launcher.sh
	source = krisp-patcher.py
	sha512sums = 38375d2c778a36ce5676b6409ac399ad1fcb4e79abd0b08918132fa2c3fcd287b51e95457d8d4c9745957bbbad614041f925fbf7141f2d6d517ef79c9e878f9a
	sha512sums = e11a60419c6ee5944aefc1ac16a5b496518fae626627d37a5bf636975bd21b1d9b6118ec3f44e7f4283befe5fa14737ad28dc38d975967789247ac0e66c352f3
	sha512sums = e5b4d549b29b41a71b2d871d69ef6c622bd1daefb52104165ca2f33e82a3ef02cd697bf48ff12d29895bec2da15b6fe603b0b3c93bf503b3169edf2e812038ff

pkgname = discord_arch_electron
