"compatibilitytools"
{
  "compat_tools"
  {
    "##INTERNAL_TOOL_NAME##"
    {
      "install_path" "##INSTALL_PATH##"
      "display_name" "##DISPLAY_NAME##"
      "from_oslist"  "windows"
      "to_oslist"    "linux"
    }
  }
}
