pkgbase = gnome-shell-extension-dash-to-dock
	pkgdesc = Move the dash out of the overview transforming it in a dock
	pkgver = 102
	pkgrel = 1
	epoch = 1
	url = https://micheleg.github.io/dash-to-dock/
	arch = any
	license = GPL-2.0-or-later
	makedepends = gettext
	makedepends = git
	makedepends = sassc
	depends = gnome-shell
	source = git+https://github.com/micheleg/dash-to-dock.git#commit=69d8bce2f75889fe73037a11abf03de5d77cb137
	sha256sums = SKIP

pkgname = gnome-shell-extension-dash-to-dock
