pkgbase = hyprlang2lua
	pkgdesc = Convert legacy Hyprland hyprlang (.conf) configuration to the Hyprland 0.55+ Lua format
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/EIonTusk/hyprlang2lua
	arch = x86_64
	arch = aarch64
	license = MIT
	checkdepends = lua
	makedepends = go
	depends = glibc
	source = hyprlang2lua-0.7.1.tar.gz::https://github.com/EIonTusk/hyprlang2lua/archive/v0.7.1.tar.gz
	sha256sums = fa041a0393e1e1828c42e67058546d8adb27f4c585856752e385f1f1d5cfcc0e

pkgname = hyprlang2lua
