pkgbase = lagrange
	pkgdesc = Beautiful Gemini Client
	pkgver = 1.18.8
	pkgrel = 1
	url = https://git.skyjake.fi/skyjake/lagrange
	install = lagrange.install
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = BSD
	makedepends = cmake
	makedepends = zip
	depends = fribidi
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libunistring
	depends = openssl
	depends = pcre
	depends = sdl2
	depends = zlib
	depends = mpg123
	optdepends = libwebp: Webp decode support
	source = https://git.skyjake.fi/skyjake/lagrange/releases/download/v1.18.8/lagrange-1.18.8.tar.gz
	sha256sums = 9e8ce599d352bbf7f2acfb3e53acc06f0a932da08ba47cccdb86aeb9f101d590

pkgname = lagrange
