pkgbase = ca-certificates-icp_br
	pkgdesc = Brazilian government Certification Authorities
	pkgver = 20260213
	pkgrel = 1
	url = https://www.gov.br/iti/pt-br/assuntos/repositorio/repositorio-ac-raiz
	changelog = CHANGELOG.md
	arch = any
	license = unknown
	makedepends = unzip
	depends = ca-certificates-utils
	noextract = icpbr_certs-20260213-1.zip
	source = icpbr_certs-20260213-1.zip::http://acraiz.icpbrasil.gov.br/credenciadas/CertificadosAC-ICP-Brasil/ACcompactado.zip
	sha512sums = ab94218ebaef56ba92be2618e890202b00e4a2be4d430d1b5c29358ba30e3b09ed7f953a66492c7ebb06c65cd9d7aae57c047a27f43dc5916fe149f796dc67d9

pkgname = ca-certificates-icp_br
