pkgbase = ca-certificates-icp_br
	pkgdesc = Brazilian government Certification Authorities
	pkgver = 20240205
	pkgrel = 1
	url = https://www.gov.br/iti/pt-br/assuntos/repositorio/repositorio-ac-raiz
	arch = any
	license = unknown
	makedepends = unzip
	depends = ca-certificates-utils
	noextract = icpbr_certs-20240205-1.zip
	source = icpbr_certs-20240205-1.zip::http://acraiz.icpbrasil.gov.br/credenciadas/CertificadosAC-ICP-Brasil/ACcompactado.zip
	sha512sums = f294ee048a1a5cb0ab45c8186c850b5d9ca11076344a7ccb631a6ea3d192fb49ca8372db17326ad8f1887e03157a54a90e338c3ddcea0c81ff2dd53ea5061cd9

pkgname = ca-certificates-icp_br
