pkgbase = uxplay
	pkgdesc = AirPlay Unix mirroring server
	pkgver = 1.73.4
	pkgrel = 1
	epoch = 1
	url = https://github.com/FDH2/UxPlay
	arch = any
	license = GPL-3.0-or-later
	makedepends = cmake
	depends = openssl
	depends = libplist
	depends = avahi
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-libav
	optdepends = gstreamer-vaapi: GStreamer plugin required for certain GPUs
	source = UxPlay-1.73.4.tar.gz::https://github.com/FDH2/UxPlay/archive/refs/tags/v1.73.4.tar.gz
	source = uxplay.desktop
	sha256sums = 7dca131e423b9231c52cb1295341ee82cd61a943aee92cf41f9e6851a8b05b4d
	sha256sums = 6b43385942508d8c360e8360be52719cbf3899868f3560b245731d866fb245a3

pkgname = uxplay
