pkgbase = dockbarx
	pkgdesc = TaskBar with groupping and group manipulation
	pkgver = 1.0beta4
	pkgrel = 1
	epoch = 2
	url = https://github.com/xuzhen/dockbarx
	install = dockbarx.install
	arch = any
	license = GPL-3.0-or-later
	makedepends = python-setuptools
	makedepends = python-polib
	makedepends = python-installer
	makedepends = python-build
	makedepends = python-packaging
	makedepends = python-wheel
	depends = libkeybinder3
	depends = python-cairo
	depends = dbus-python
	depends = python-gobject
	depends = python-pillow
	depends = python-xlib
	depends = python-pyxdg
	optdepends = dockbarx-mate-applet: mate applet
	optdepends = dockbarx-lxqt-plugin: lxqt applet
	optdepends = xfce4-dockbarx-plugin: xfce4-panel plugin
	optdepends = zeitgeist: recently used file list
	optdepends = python-pyudev: dockx battery applet
	optdepends = gconf: export settings from older versions of dockbarx
	optdepends = python-lxml: import settings script
	source = dockbarx-1.0beta4.tar.gz::https://github.com/xuzhen/dockbarx/archive/refs/tags/1.0-beta4.tar.gz
	sha256sums = 8df37a367d4454c590d29cbaea9f7a3ec09ddf13905943b3becc717241c275da

pkgname = dockbarx
