pkgbase = youtube-music-git
	pkgdesc = Unofficial desktop app for YouTube Music
	pkgver = 3.10.0.r126.g94b789a
	pkgrel = 1
	url = https://github.com/th-ch/youtube-music
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = nvm
	depends = electron
	depends = libsecret
	provides = youtube-music
	conflicts = youtube-music
	source = youtube-music::git+https://github.com/th-ch/youtube-music.git
	sha256sums = SKIP

pkgname = youtube-music-git
	depends = electron
