pkgbase = steamcmd
	pkgdesc = Steam Command Line Tools
	pkgver = latest
	pkgrel = 5
	url = http://developer.valvesoftware.com/wiki/SteamCMD
	install = steamcmd.install
	arch = i686
	arch = x86_64
	license = LicenseRef-Steam-Subscriber-Agreement
	depends = bash
	source = https://steamcdn-a.akamaihd.net/client/installer/steamcmd_linux.tar.gz
	source = steamcmd
	source = 2024-04-02-LICENSE.txt
	sha256sums = cebf0046bfd08cf45da6bc094ae47aa39ebf4155e5ede41373b579b8f1071e7c
	sha256sums = 5d8683ec3c528045e11625105cd7060dadd2c9eecf5a6c41dc65790e67612e66
	sha256sums = 97b770938a44e74f330d4ad38001566aaeb26611b5590469fae445d52ddff349
	depends_i686 = gcc-libs
	depends_i686 = sdl2
	depends_i686 = dbus
	depends_x86_64 = lib32-gcc-libs
	depends_x86_64 = lib32-sdl2
	depends_x86_64 = lib32-dbus
	depends_x86_64 = lib32-glibc

pkgname = steamcmd
