pkgbase = ocenaudio-bin
	pkgdesc = A fast, easy to use audio editor
	pkgver = 3.17.2
	pkgrel = 1
	url = https://www.ocenaudio.com/
	arch = x86_64
	license = LicenseRef-Ocenaudio
	depends = hicolor-icon-theme
	depends = jack
	depends = libpulse
	depends = qt6-base
	provides = ocenaudio
	conflicts = ocenaudio
	options = !debug
	options = !strip
	source = ocenaudio_3.17.2_x86_64.tar.zst::https://www.ocenaudio.com/downloads/index.php/ocenaudio_archlinux.pkg.tar.zst?version=v3.17.2
	sha256sums = SKIP

pkgname = ocenaudio-bin
