pkgbase = celestia-addon-deep_impact_spacecraft
	pkgdesc = Celestia addon: Spacecraft: Other: Deep Impact Spacecraft
	pkgver = 1
	pkgrel = 3
	url = http://www.celestiamotherlode.net/addon/addon_22.html
	arch = any
	license = unknown, free
	makedepends = unzip
	depends = celestia
	conflicts = celestia-addon-deep-impact-spacecraft
	source = https://celestiamotherlode.net/creators/jackhiggins/deepimpact_impactormodel.zip
	source = https://celestiamotherlode.net/creators/jackhiggins/deepimpact_impactor.zip
	md5sums = 0cd6cb849b2b6dc15ce7f103f8a959dc
	md5sums = 2d33062963ca8c521016112887d43474

pkgname = celestia-addon-deep_impact_spacecraft

