pkgbase = cosmic-greeter-git
	pkgdesc = libcosmic greeter for greetd, which can be run inside cosmic-comp
	pkgver = 1.0.0.alpha.1.r0.gcc744b0
	pkgrel = 1
	url = https://github.com/pop-os/cosmic-greeter
	arch = x86_64
	arch = aarch64
	groups = cosmic
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = git-lfs
	makedepends = just
	makedepends = mold
	depends = cosmic-comp-git
	depends = greetd
	depends = libxkbcommon
	depends = pam
	depends = wayland
	provides = cosmic-greeter
	conflicts = cosmic-greeter
	source = git+https://github.com/pop-os/cosmic-greeter.git
	sha256sums = SKIP

pkgname = cosmic-greeter-git
